@import '../../assets/styles/main.css';

.main {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 4.875rem 22px 0;
}

.breadcrumb {
  max-width: var(--content);
  margin: 1.8rem auto;
}

.breadcrumb__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  margin: 0.25rem 1rem 0 0;
  align-items: center;
}

.breadcrumb__item > * {
  margin: 0 0.5rem 0 0;
}

.breadcrumb__icon.material-icons {
  font-size: 1rem;
  color: var(--outer-space);
}

.breadcrumb__link {
  font: normal 0.625rem/12px var(--contentFont);
  letter-spacing: .1em;
  color: var(--outer-space);
}

.breadcrumb__link:hover {
  color: var(--dark-vanilla);
}

.breadcrumb__item:last-child,
.isDisabled {
  opacity: 0.5;
}

.breadcrumb__item:last-child>a,
.isDisabled>a {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .breadcrumbs {
    padding: 0 2%;
  }
}

.contact {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 27px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4%;
}

.contact__title {
  margin: 0 0 78px;
}

.contact > * {
  width: 100%;
  max-width: 454px;
  margin-top: 39px;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

address {
  color: #484848;
}

.contact-form {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
 align-items: center;
}

.fields {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.field {
  width: auto;
  display: flex;
  flex-direction: column;
  min-width: 324px;
}

.field__input,
.field__textarea {
  height: 65px;
  border: 1px solid var(--dark-vanilla);
  outline-color: var(--dark-vanilla);
  font: 16px/25px var(--contentFont);
  padding: 5px 30px;
}

.field__textarea {
  width: 100%;
  max-width: 700px;
  height: 200px;
}

.field__label {
  margin: 26px 30px 15px;
}

.contact-form_button_submit {
  margin: 35px 0;
}

@media (max-width: 760px) {
  .field {
    width: 90%;
    margin: 0 auto;
  }
  .field__label {
    margin: 26px 0 15px;
  }
  .field,
  .field_short {
    min-width: 90%;
  }
}
