@import '../../assets/styles/main.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
main {
  position: relative;
  min-height: 100vh;
  padding: 116px 4% 38px;
  background: var(--dark-vanilla);
}

fieldset {
  border: none;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content);
  min-height: 50vh;
  margin: 0 auto;
  padding: 78px 22px;
  background: #ffffff;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 576px) {
  .cart {
    padding: 39px 22px;
  }
}

@media (max-width: 400px) {
  .cart {
    padding: 39px 0;
  }
}

.cart > * {
  margin: 20px 10px;
}

.cart__header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cart__header-link {
  text-decoration: underline;
  color: #444444;
}

.cart__header-link:hover {
  color: #000000;
}

.cart__header > * {
  margin: 0 auto 32px;
}

.cart__footer {
  display: flex;
  justify-content: center;
}

.cart__footer > * {
  margin: 44px 20px 12px;
}

.cart__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__body > p {
  position: absolute;
  z-index: 0;
  max-width: 50%;
  text-align: center;
}

.cart__list {
  display: flex;
  flex-direction: column;
  max-width: 925px;
  align-items: center;
  justify-content: space-around;
}

.cart__item {
  z-index: 1;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #707070;
  background: #ffffff;
  justify-content: space-between;
}

.cart__aside {
  max-width: 142px;
  max-height: 214px;
}

.cart__item-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cart__item-body {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  justify-content: space-around;
}

.cart__item-name {
  margin-bottom: 18px;
}

.cart__item-description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cart__item-description > * {
  display: inline-flex;
  max-height: 32px;
  margin: 8px 0;
}

.cart__item-description > *:not(:last-child) {
  min-width: 154px;
  margin-right: 32px;
}

.cart__item-description > b {
  font-family: var(--contentFontB);
}

.cart__item-description > * > span, .cart__item-description > * > label {
  margin: 0 0 0 4px;
}

.cart__item-clear:hover .material-icons {
  color: #ff4444;
}

.cart__item-quantity {
  display: flex;
  align-items: center;
}

.cart__button {
  min-width: 185px;
}

@media (max-width: 490px) {
  .cart__item-body {
    margin-left: 18px;
  }
}


/*LOGIN*/

.login {
  display: flex;
  flex-direction: column;
}

.login__btns {
  display: flex;
  width: 100%;
  max-width: 825px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.cart__button_rounded {
  width: 257px;
  height: 52px;
  margin: 24px 21.5px;
  transition: 0.1s all;
  border: 1px solid #000000;
  border-radius: 54px;
}

.cart__button_rounded:not([disabled]):hover {
  border-color: #777777;
  background: #f4f4f4;
}

.cart__button_active {
  color: #ffffff;
  background: #000000;
}

.login__body {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 825px;
  justify-content: space-around;
}

.login__body > * {
  width: 32vw;
  min-width: 280px;
  max-width: 324px;
  margin: 0 25px;
}

.form__content {
  display: flex;
  flex-direction: column;
  margin: 41px 0;
}

.form__label {
  margin: 15px 25px;
}

.form__text-input {
  font-size: 16px;
  width: 100%;
  height: 65px;
  padding: 15px 25px;
  border: 1px solid #000000;
  outline-color: #777777;
}

.form .question, .form .question a {
  color: var(--outer-space);
}

.form .question a:hover {
  color: #000000;
}

.form .question a {
  text-decoration: underline;
}

.form__button {
  min-width: 241px;
  margin: 41px 0;
}

.login__socials {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  padding: 28px 0;
}

.login__button {
  width: 100%;
  height: 65px;
  margin: 26.5px auto;
  outline-color: #777777;
  transition: 0.2s all;
}

.google-btn {
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.google-btn .google-icon-wrapper {
  margin-left: 1px;
  width: 62px;
  height: 63px;
  border-radius: 2px;
  background-color: #ffffff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
  width: 32px;
}
.google-btn .btn-text {
  color: #ffffff;
  margin: 0 auto;
  font-size: 21px;
  letter-spacing: 0.2px;
  font-family: 'Roboto';
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}

.fb-btn {
  background-color: #5890FF;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.fb-btn .fb-icon-wrapper {
  margin-top: 1px;
  margin-left: 1px;
  width: 62px;
  height: 63px;
  border-radius: 2px;
}
.fb-btn .fb-icon {
  position: absolute;
  margin-top: 12px;
  margin-left: 12px;
  width: 42px;
}
.fb-btn .btn-text {
  color: #ffffff;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 0.2px;
  font-family: 'Roboto';
}
.fb-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

@media (max-width: 700px) {
  .login__body {
    flex-wrap: wrap;
  }
  .login__socials {
    margin-top: 0;
    padding: 28px 0;
  }
  .login__button {
    margin: 15px auto;
  }
  .form__label {
    margin: 15px 0;
  }
  .form__content {
    margin: 0 0 21px;
  }
  .cart__button_rounded {
    margin: 12px auto∂∂;
  }
}


/*dane do wysyłki*/

.container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  display: inline-flex;
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.checkbox {
  position: absolute;
  left: 0;
  display: inline-flex;
  width: 26px;
  height: 26px;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
}

.container input:checked ~ .checkmark {
  background-color: #ffffff;
}

.container input:checked ~ .checkbox {
  background-color: #ffffff;
}

.checkmark:after {
  position: absolute;
  display: none;
  content: '';
}

.checkbox:after {
  position: absolute;
  display: none;
  content: 'check';
  color: #eeeeee;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000000;
}

.container input:checked ~ .checkbox:after {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .checkbox:after {
  background: #000000;
}

.shipping-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-block, .private-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fields {
  display: inline-flex;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  width: 49%;
  min-width: 324px;
}

.field__input {
  font: 16px/25px var(--contentFont);
  height: 65px;
  padding: 0 30px;
  border: 1px solid #777777;
  outline-color: var(--dark-vanilla);
}

.field_short {
  min-width: 314px;
}

.field__label {
  margin: 26px 30px 15px;
}

.field_wide {
  width: 100%;
}

.shipping-form__confirm {
  margin-top: 21.5px;
  border: none;
}

.field_confirm {
  display: flex;
  margin: 21.5px 0 0;
  align-items: flex-start;
}

.field_confirm .agreement {
  margin: 0 0 0 44px;
}

.buyer-type {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 100px;
}

.buyer-type label {
  display: flex;
  width: 224px;
  height: 65px;
  padding: 0 0 0 40px;
  align-items: center;
  justify-content: flex-start;
}

.buyer-type span {
  margin: 0 12px;
}

.shipping-form_button_submit {
  margin: 78px 0 0;
}

.agreement {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0;
}

@media (max-width: 800px) {
  .field {
    width: 80%;
    margin: 0 auto;
  }
  .buyer-type label {
    width: 80%;
    margin: 0 auto;
    justify-content: flex-start;
  }
  .field__label {
    margin: 26px 0 15px;
  }
  .field, .field_short {
    min-width: 80%;
  }
}

@media (max-width: 500px) {
  .field {
    width: 100%;
  }
  .buyer-type label {
    width: 100%;
  }
  .field, .field_short {
    min-width: 100%;
  }
}


/*dostawa*/

.delivery-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.delivery-form__title, .delivery-form .underline {
  margin: 20px auto;
  text-align: center;
}

.delivery__methods {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px auto;
  padding: 4px;
  border: none;
  align-items: center;
}

.delivery-form legend {
  margin: 34.5px auto;
  text-align: center;
}

.delivery__method {
  position: relative;
  display: inline-flex;
  width: 100%;
  max-width: 825px;
  min-height: 65px;
  margin: 0 auto;
  padding: 0 70px 0 0;
  border-bottom: 1px solid #000000;
  align-items: center;
}

.delivery__method input {
  margin-right: 12px;
}

.delivery__method label {
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  align-items: center;
}

.delivery__method .price {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 70px;
}

.coffeehouse-select {
  display: none;
  width: 100%;
  margin: 30px auto;
  padding: 4px;
  border: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.coffeehouse__map {
  margin: 20px 0;
}

.coffeehouse__map img {
  width: 100%;
  object-fit: cover;
}

.coffeehouse__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 525px;
  padding: 20px;
  justify-content: space-around;
}

.coffeehouse__search {
  font-size: 16px;
  width: 100%;
  max-width: 320px;
  height: 40px;
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  -webkit-appearance: none;
}

.coffeehouse__search::placeholder {
  font: 16px/25px var(--contentFont);
}

.coffeehouse__list {
  width: 100%;
  min-width: 260px;
  max-width: 522px;
  counter-reset: coffeehouse;
}

.delivery__method_coffeehouse {
  position: relative;
  display: flex;
  min-width: 260px;
  max-width: 522px;
  min-height: 41px;
  margin: 4px auto;
  justify-content: space-between;
}

.delivery__method_coffeehouse label {
  display: flex;
  margin: 20px 0 0;
  padding: 0 8px;
  border-bottom: 1px solid #000000;
  flex-wrap: wrap;
}

.delivery__method_coffeehouse label::before {
  content: counter(coffeehouse)'. ';
  counter-increment: coffeehouse;
}

.coffeehouse__address {
  letter-spacing: 0.05em;
  text-transform: none;
  color: #444444;
}

.delivery__method_coffeehouse .button {
  min-width: 140px;
  min-height: 32px;
  margin: 10px 0 0;
  padding-right: 21px;
  padding-left: 21px;
  align-self: flex-end;
}

.delivery__method_coffeehouse .button::after {
  content: 'wyberz';
}

.delivery__method_coffeehouse input {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.delivery__method_coffeehouse input:checked ~ .button {
  color: #99817a;
  outline-color: #99817a;
}

.delivery__method_coffeehouse input:checked ~ label, .delivery__method_coffeehouse input:checked ~ label .coffeehouse__address {
  color: #99817a;
}

.delivery__method_coffeehouse input:checked ~ .button::after {
  content: 'wybrano';
}

.delivery__method_coffeehouse input:hover ~ label .coffeehouse__address {
  color: var(--dark-vanilla);
}

@media (max-width: 768px) {
  .delivery__method_coffeehouse {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .coffeehouse__container {
    padding: 4px;
  }
}

.pay__methods {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.pay__method {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pay__method > * {
  margin: 8px 20px;
}

.pay__method > .checkmark {
  top: -5px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.pay__methods label {
  display: inline-flex;
  width: 174px;
  height: 72px;
  margin: 40px 20px;
  cursor: pointer;
  border: 1px solid gray;
}

@media (max-width: 576px) {
  .pay__methods label {
    width: 137px;
    height: 84px;
  }
  .pay__method {
    display: inline-flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
  }
  .pay__method > * {
    margin: 8px 8px;
  }
}

.quantity {
  display: inline-flex;
  height: 33px;
  padding: 0 0 0 4px;
  transition: 0.5s all;
  border: 1px solid #444444;
  align-items: center;
  justify-content: center;
}

.quantity input {
  width: 22px;
  text-align: center;
  color: #444444;
  border: none;
  outline: none;
  background: transparent;
}

.quantity__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.quantity__btns .button {
  min-width: 15px;
  height: 15px;
}

.quantity__btns .material-icons {
  font-size: 28px;
  line-height: 18px;
  display: flex;
  height: 20px;
  align-items: center;
}

.quantity__btns .material-icons:hover {
  color: #777777;
}

.off {
  display: none;
}
