* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid #f00; */
}

body {
  max-width: 1366px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a  {
  text-decoration: none;
}

a:hover, a:hover::before, a:hover::after {
  filter: contrast(80%);
}
