*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid #f00; */
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font: 16px/18px var(--contentFont);
  overflow-x: hidden;
}

body.open {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover, a:hover::before, a:hover::after {
  filter: contrast(90%)
}

button {
  border: none;
  cursor: pointer;
}
