@media screen and (max-width: 1200px) {
  .flavor__filter {
    width: 100px;
    height: 100px;
    padding: 9px;
    font: 9px/14px var(--contentFont);
  }
  .card_v img {
    width: 170px;
  }
}

@media screen and (max-width: 960px) {
  .section .title {
    font: 84px/90px var(--titleFont);
  }
  .flavor__filter {
    width: 90px;
    height: 90px;
    padding: 8px;
    font: 8px/13px var(--contentFont);
  }
  .card_v img {
    width: 160px;
  }
  .set__viewer {
    display: none;
  }
  .box {
    grid-template-areas:
      'box box box'
      'content content content'
      'button button button';
  }
  .uno {
    grid-template-areas:
      'content content content'
      'content content content'
      'content content content';
  }
  .uno__content {
    justify-self: center;
    max-width: 560px;
    padding: 24px 20px 0 40px;
  }
  .box__content {
    justify-self: center;
    max-width: 560px;
    margin: -17% 0 0;
    padding: 24px 20px 0 40px;
  }
  .box__title,
  .uno__title {
    font: 72px/74px var(--titleFont);
  }
  .box__item {
    font: 16px/22px var(--contentFont);
  }
  .box__item::before {
    font: 16px/36px var(--contentFont);
  }
  .box__text,
  .uno__text {
    font: 16px/22px var(--contentFont);
  }
  .box__box img {
    width: 50%;
    min-width: 200px;
    transform: rotate(90deg);
  }
  .box__logo {
    margin: 12px 0;
  }
  .box__button a {
    font: 14px/24px var(--contentFont);
  }
  .map__content h3 {
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .section .title, .print__title, .set__title, .constructor__title  {
    font: 64px/70px var(--titleFont);
  }
  .flavor__filter {
    width: 80px;
    height: 80px;
    padding: 8px;
    font: 7px/12px var(--contentFont);
  }
  .card_v img {
    width: 160px;
  }
   .box {
    margin-top: 30%;
  }
  .box__content {
    margin-top: 0;
  }
  .box__box img {
    width: 50%;
    min-width: 280px;
    transform: rotate(0deg);
  }
  .card_s img {
    width: 270px;
    height: 400px;
    margin-bottom: 60px;
  } 
  .sets .set__counter {
    position: absolute;
    top: 440px;
    left: 50%;
    transform: translateX(-50%);
  }
  .set__counter .current::after {
    font: 16px/20px var(--contentFont);
    content: ' / ' attr(data-total);
  }
  a[uk-slider-item] img {
    width: 26px;
  }
  .sets a[uk-slider-item] img {
    width: 21px;
  }
  .reason__content::before {
    font: 580px/600px var(--titleFont);
  }
  .reason__counter {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
  }
  .reason__counter .current::after {
    content: ' / ' attr(data-total);
  }
  .reason a[uk-slideshow-item] img {
    width: 21px;
  }
  .sub__form input[type=text] {
    min-width: 100%;
    height: 67px;
    padding: 0 8px 0 16px;
    font: 16px/25px var(--contentFont);
  }
  .sub__form p {
    flex-wrap: wrap;
  }
  .sub__form input[type=text]::placeholder {
    font: 18px/25px var(--contentFont);
    text-align: center;
  }
  .sub__form input[type=submit] {
    font: 16px/25px var(--contentFont);
  }
  .arrow-icon {
    width: 24px;
    height: 24px;
  }
  .main .sets {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .header_homepage .topnav__list {
    width: calc(100% - 78px);
  }
  
  .header_homepage .topnav__item_logo {
    display: flex;
  }
  .brand {
    font-size: 10px
  }
  .business-offer {
    display: none;
  }
  .mobile-only {
    display: flex;
    justify-content: center;
  }
  .sidenav {
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .sidenav__list {
    min-height: 780px;
  }
  .section {
    padding: 44px 0 8px 0;
  }
  .section .title, .box__title, .uno__title, .print__title, .set__title, .constructor__title {
    margin-bottom: 4px;
    font: 50px/60px var(--titleFont);
  }
  .section .subtitle {
    max-width: 272px;
    font: 14px/25px var(--contentFont);
  }
  .section .title ~ hr {
    display: none;
  }
  .card_v h4 {
    max-width: 100px;
    font: 14px/17px var(--contentFont);
  }
  .card_v img {
    width: 150px;
  }
  .flavor a[uk-slider-item] {
    width: 24px;
    height: 100%;
    padding: 70px 0;
  }
  .uk-slider-container {
    width: 78%;
  }
  .section__button {
    padding: 16px 23px;
    font: 13px/20px var(--contentFont);
  }
  .section__slider {
    min-height: 200px;
  }
  .label, .flavor__filter{
    display: none;
  }
  .card_s img {
    width: 260px;
    height: 380px;
  }
  .card_s .card__button {
    margin-top: 20px;
    font: 16px/27px var(--contentFont);
  }
  .card_s img {
    margin-bottom: 40px;
  } 
  .sets .set__counter {
    top: 414px;
  }
  .box__list {
    margin: 31px 0 0;
  }
  .box__item {
    font: 14px/25px var(--contentFont);
  }
  .box__item::before {
    font: 14px/36px var(--contentFont);
  }
  .box__text, .uno__text {
    max-width: 260px;
    font: 14px/25px var(--contentFont);
  }
  .box__box {
    margin: -20% 0 0;
  }
  .box__box img {
    max-width: 400px;
    margin-left: 16px;
  }
  .box__button {
    padding: 12px 0;
  }
  .box__logo {
    margin: 0 0 24px;
  }
  .box__button a, .uno__button {
    padding: 17px 14px;
    font: 13px/22px var(--contentFont);
  }
  .uno {
    min-height: 900px;
  }
  .film {
    min-height: 300px;
  }
  .reason > img:nth-child(1) {
    min-width: 200px;
  }
  .reason > img:nth-child(2) {
    top: -70px;
    min-width: 160px;
  }
  .reason__content {
    min-height: 580px;
  }
  .reason__content::before {
    font: 380px/500px var(--titleFont);
  }
  .reason__content.changed::before {
    color: #eeee;
  }
  .reason__slider {
    width: 90%;
  }
  .reason h3,
  .reason__slider h4 {
    font: 14px/23px var(--contentFont);
  }
  .reason h3 {
    max-width: 200px;
  }
  .reason__slider p {
    font: 14px/20px var(--contentFont);
  }
  .reason__slider li {
    height: 100%;
  }
  .reason__button {
    padding: 16px 50px;
    font: 13px/22px var(--contentFont);
  }
  .reason__counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .reason__counter .current::after {
    content: ' / ' attr(data-total);
  }
  .reason a[uk-slideshow-item] img {
    width: 21px;
  }
  .sub {
    height: 800px;
    padding: 120px 20px;
  }
  .map__content h3 {
    font: 44px/46px var(--titleFont);
    text-align: center;
  }
  .map__content > * {
    margin-bottom: 44px;
  }
  .set__slideshow li {
    margin-left: 0;
  }
  .main_constructor {
    padding: 20px;
  }
  .progressbar {
    display: none;
  }
  .progressbar_mobile {
    display: block;
    margin-top: 24px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
  }
  .boxselect {
    padding: 41px 0;
  }
}

@media screen and (max-width: 385px) {
  .topnav__item_logo,
  .topnav__item_logo .topnav__link {
    position: relative;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topnav__item_logo img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .topnav__item_logo img[src="icons/miolli-logo-small.svg"] {
    display: flex;
  }
  .topnav__item_logo img[src="icons/miolli-logo.svg"] {
    display: none;
  }
}

