:root {
  --switch: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.35s ease;
}

/* brand tagline */
.brand {
  max-width: 540px;
  max-height: 320px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .brand {
    font-size: 10px;
  }
}

.brand__name {
  width: 100%;
}

.brand__tagline {
  position: relative;
  font-family: var(--contentFont);
  font-size: 1.5em;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  left: 15%;
  bottom: 40px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/* Header */
.header {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  height: 4.875rem;
  z-index: 89;
}

/* Switch */
.switch {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  display: block;
  width: 4.875rem;
  height: 4.875rem;
  cursor: pointer;
  opacity: 0;
}

.switch ~ label {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: inline-flex;
  flex-direction: column;
  min-width: 4.875rem;
  min-height: 4.875rem;
  background-color: var(--nav-menu-side-fill);
  justify-content: center;
  align-items: center;
}

.switch ~ label span {
  display: inline-flex;
  width: 2rem;
  height: 2px;
  margin: 0.25rem;
  transition: var(--switch);
  background: #FFFFFF;
}

.switch:checked ~ label span:first-child {
  transform: rotate(45deg) translate(0.4375rem, 0.4375rem);
  opacity: 1;
}

.switch:checked ~ label span:nth-child(2) {
  transform: scale(0.1, 0.1);
  opacity: 0;
}

.switch:checked ~ label span:last-child {
  transform: rotate(-45deg) translate(0.4375rem, -0.4375rem);
  opacity: 1;
}

/* Topnav */
.topnav {
  display: none;
}

.switch:checked ~ .topnav{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.topnav__list {
  position: relative;
  right: 78px;
  width: max-content;
  display: inline-flex;
  justify-content: flex-end;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
}

@media (max-width: 868px) {
  .topnav__item {
    display: none;
  }
}

.topnav__item {
  max-width: 190px;
  background-color: #FFFFFF;
}

.topnav__link {
  display: flex;
  align-items: flex-end;
  padding: 14px 25px;
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--nav-menu-text);
}

.like-button {
  min-width: 78px;
  max-height: 78px;
  background-color: var(--nav-menu-fill);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.cart-count {
  position: absolute;
  font: normal 12px/14px'Monument Grotesk', sans-serif;
  color: #FFFFFF;
  z-index: -1;
}

/* Sidenav */
.sidenav {
  position: absolute;
  top: 78px;
  right: 0;
  display: none;
  background-color: var(--nav-menu-side-fill);
}

.switch:checked ~ .sidenav {
  display: flex;
  width: calc(78px * 3);
  height: calc(100vh - 78px);
}

.sidenav__item {
  margin: 42px 60px;
}

.sidenav__link {
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

/* Oferta dla biznesu */

.business-offer {
  position: fixed;
  width: 100%;
  bottom: 0;
  /* display: none; */
  z-index: 99;
}

.business-offer__link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 178px;
  height: 78px;
  display: inline-flex;
  align-items: center;
  padding: 8px 8px 16px 24px;
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--nav-menu-text);
  background-color: var(--nav-menu-fill);
}

.business-offer__link img {
  align-self: flex-start;
}

.switch:checked ~ .business-offer {
  display: block;
}

/* Topnav offer submenu */ 
.topnav__dropdown {
  display: none;
  position: absolute;
  right: -78px;
  top: 78px;
  background-color: #FFFFFF;
  z-index: 99;
  box-shadow: 0 0 0.5px 0.2px rgba(0, 0, 0, 0.17);
}

.hasChild:hover .topnav__dropdown {
  display: flex;
}

.template {
  width: 614px;
  height: 312px;
  padding: 24px 46px;
  justify-content: space-between;
}

.template > div {
  width: 50%;
  height: 100%;
}

.template > div:first-child {
  border-right: 1px solid var(--victoriana);
}

.template__block {
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--nav-menu-text);
}

.template__list {
  padding: 12px 10px;
}

.template__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.template__item::before {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  left: 0;
  top: 0.2em;
  content: '\2022';
  color: var(--victoriana);
}

.template__link {
  display: flex;
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--nav-menu-text);
  margin: 16px 0;
}

.template__link.underline span {
  border-bottom: 1px solid var(--victoriana);
}

.template__link img {
  margin: 4px 8px;
}

.template__item .template__link {
  margin: 8px 0;
}

.template__preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.template__image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Cart dropdown */
.topnav-cart {
  width: 400px;
  height: 600px;
  padding: 0 48px;
}

.topnav-cart__list {
  margin: 5px 0;
}

.topnav-cart__item {
  margin: 21px 0;
  display: flex;
}

.topnav-cart__item img {
  width: 89px;
  height: 133px;
}

.topnav-cart__set {
  padding: 16px;
}

.topnav-cart__set h4 {
  font: normal 30px/20px var(--titleFont);
  max-width: 12.5em;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 12px;
  color: var(--topnav-cart);
}

.topnav-cart__set p {
  font: normal 14px/18px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 6px 12px;
  color: var(--topnav-cart);
}

.topnav-cart__link {
  font: thin 16px/21px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  color: var(--pig-iron);
  margin: 14px;
}

.topnav-cart__button {
  font: thin 16px/27px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 16px 23px;
  color: #FFFFFF;
  background-color: var(--victoriana);
}

/* Hero */
.hero {
  position: relative;
  top: -78px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(210, 218, 220);
  background-image: url(../images/diana-polekhina-startscreen.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Chat icon */
.chat {
  position: fixed;
  width: 1366px;
  bottom: 0;
  z-index: 99;
}

.chat input {
  position: absolute;
  right: 16px;
  bottom: 14px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  opacity: 0;
  z-index: 99;
}

.chat__icon::before {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: var(--bauhaus);
  content: '';
  z-index: -1;
}

.chat__icon {
  position: absolute;
  right: 28px;
  bottom: 28px;
  width: 18px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.chat__icon:after {
  position: absolute;
  bottom: -4px;
  right: 0;
  content: '';
  border-right: 6px solid #ffffff;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}

.chat__icon span {
  position: relative;
  width: 10px;
  height: 1px;
  background-color: var(--bauhaus);
}

.chat__icon span:not(:first-child) {
  margin-top: 3px;
}
