:root {
  --switch: transform 0.1s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.1s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.15s ease;
}

/* brand tagline */
.brand {
  max-width: 540px;
  max-height: 320px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .brand {
    font-size: 10px;
  }
}

.brand__name {
  width: 100%;
}

.brand__tagline {
  position: relative;
  left: 15%;
  bottom: 40px;
  font-family: var(--contentFont);
  font-size: 1.5em;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/* Header */
.header {
  position: sticky;
  top: 0;
  z-index: 89;
  display: flex;
  width: 100%;
  height: 0;
}

/* Switch */
.switch {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  display: block;
  width: 78px;
  height: 78px;
  opacity: 0;
  cursor: pointer;
}

.switch ~ label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 78px;
  min-height: 78px;
  background-color: var(--nav-menu-side-fill);
}

.switch ~ label span {
  display: inline-flex;
  width: 32px;
  height: 2px;
  margin: 4px;
  background: #FFFFFF;
  transition: var(--switch);
}

.switch:checked ~ label span:first-child {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}

.switch:checked ~ label span:nth-child(2) {
  transform: scale(0.1, 0.1);
  opacity: 0;
}

.switch:checked ~ label span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
  opacity: 1;
}

/* Topnav */
.topnav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 78px;
  visibility: hidden;
}

.switch:checked ~ .topnav{
  visibility: visible;
}

.topnav__list {
  position: relative;
  right: 78px;
  display: inline-flex;
  justify-content: flex-end;
  width: max-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
}

@media (max-width: 868px) {
  .topnav__item {
    display: none;
  }
}

.topnav__item {
  max-width: 190px;
  background-color: #FFFFFF;
}

.topnav__link {
  display: flex;
  align-items: flex-end;
  padding: 14px 25px;
  font: 14px/18px 'Monument Grotesk', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--nav-menu-text);
}

.like-button {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 78px;
  max-height: 78px;
  background-color: var(--nav-menu-fill);
}

.cart-count {
  position: absolute;
  z-index: -1;
  font: normal 12px/14px'Monument Grotesk', sans-serif;
  color: #FFFFFF;
}

/* Sidenav */
.sidenav {
  position: absolute;
  top: 78px;
  right: 0;
  display: flex;
  width: 234px;
  height: calc(100vh - 78px);
  background-color: var(--nav-menu-side-fill);
  visibility: hidden;
}

.switch:checked ~ .sidenav {
  visibility: visible;
}

.sidenav__item {
  margin: 42px 60px;
}

.sidenav__link {
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

/* Oferta dla biznesu */

.business-offer {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  visibility: hidden;
}

.business-offer__link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 178px;
  height: 78px;
  display: inline-flex;
  align-items: center;
  padding: 8px 8px 16px 24px;
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--nav-menu-text);
  background-color: var(--nav-menu-fill);
}

.business-offer__link img {
  align-self: flex-start;
}

.switch:checked ~ .business-offer {
  visibility: visible;
}

/* Topnav offer submenu */ 
.topnav__dropdown {
  position: absolute;
  top: 78px;
  right: -78px;
  z-index: 99;
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.5px 0.2px rgba(0, 0, 0, 0.17);
  visibility: hidden;
  opacity: 0;
  transition: 0.1s 0.1s;
}

.hasChild:hover .topnav__dropdown {
  visibility: visible;
  opacity: 1;
}

.template {
  justify-content: space-between;
  width: 614px;
  height: 312px;
  padding: 24px 46px;
}

.template > div {
  width: 50%;
  height: 100%;
}

.template > div:first-child {
  border-right: 1px solid var(--victoriana);
}

.template__block {
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--nav-menu-text);
}

.template__list {
  padding: 12px 10px;
}

.template__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.template__item::before {
  position: absolute;
  top: 3.2px;
  left: 0;
  display: inline-block;
  width: 24px;
  font-size: 20px;
  font-weight: bold;
  color: var(--victoriana);
  content: '\2022';
}

.template__link {
  display: flex;
  margin: 16px 0;
  font: normal 14px/18px'Monument Grotesk', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--nav-menu-text);
}

.template__link.underline span {
  border-bottom: 1px solid var(--victoriana);
}

.template__link img {
  margin: 4px 8px;
}

.template__item .template__link {
  margin: 8px 0;
}

.template__preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.template__image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Cart dropdown */
.topnav-cart {
  width: 400px;
  height: 600px;
  padding: 0 48px;
}

.topnav-cart__list {
  margin: 5px 0;
}

.topnav-cart__item {
  margin: 21px 0;
  display: flex;
}

.topnav-cart__item img {
  width: 89px;
  height: 133px;
}

.topnav-cart__set {
  padding: 16px;
}

.topnav-cart__set h4 {
  max-width: 12.5em;
  margin-bottom: 12px;
  font: normal 30px/20px var(--titleFont);
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--topnav-cart);
}

.topnav-cart__set p {
  margin: 6px 12px;
  font: normal 14px/18px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--topnav-cart);
}

.topnav-cart__link {
  display: flex;
  justify-content: center;
  margin: 14px;
  font: thin 16px/21px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--pig-iron);
}

.topnav-cart__button {
  display: flex;
  justify-content: center;
  padding: 16px 23px;
  font: thin 16px/27px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--victoriana);
}

/* Hero */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(210, 218, 220);
  background-image: url(../images/diana-polekhina-startscreen.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.label {
  position: absolute;
  right: 50px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 160px;
  padding: 20px 15px 10px;
  background-color: #CE5445;
  border-radius: 100px;
}

.label h3 {
  margin: 10px 0 0;
  font: 13px/17px var(--contentFont);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: #FFFFFF;
}

.label p {
  font: 10px/20px var(--contentFont);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: #FFFFFF;
}

/* Chat icon */
.chat {
  position: fixed;
  bottom: 0;
  z-index: 79;
  width: 1366px;
}

.chat input {
  position: absolute;
  right: 16px;
  bottom: 14px;
  z-index: 79;
  width: 42px;
  height: 42px;
  cursor: pointer;
  opacity: 0;
}

.chat__icon::before {
  position: absolute;
  z-index: -1;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: var(--bauhaus);
  content: '';
}

.chat__icon {
  position: absolute;
  right: 28px;
  bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 14px;
  background-color: #ffffff;
}

.chat__icon:after {
  position: absolute;
  bottom: -4px;
  right: 0;
  border-right: 6px solid #ffffff;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
}

.chat__icon span {
  position: relative;
  width: 10px;
  height: 1px;
  background-color: var(--bauhaus);
}

.chat__icon span:not(:first-child) {
  margin-top: 3px;
}

/* Section */
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 0 17px 0;
}

.section .title {
  max-width: 680px;
  margin-bottom: 20px;
  font: normal 94px/100px var(--titleFont);
  text-align: center;
  color: var(--pastel-pink);
}

.section .title ~ hr {
  width: 197px;
  margin-bottom: 34px;
}

hr {
  height: 3px;
  margin: 0 auto;
  background-color: var(--hr);
  border: none;
}

.section .subtitle {
  max-width: 820px;
  font: normal 16px/19px var(--contentFont);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--pig-iron);
}

.section__button {
  display: inline-flex;
  justify-content: center;
  padding: 16px 23px;
  font: thin 16px/27px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--blooming-perfect);
  outline: 1px solid var(--blooming-perfect);
}

.section__slider {
  width: 100%;
  min-height: 290px;
  margin: 37px 0;
  overflow: hidden;
}

.swiper-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card hr {
  width: 59px;
  margin: 36px auto 18px;
}

.card_v h4 {
  max-width: 120px;
  margin: 0 auto;
  padding: 0;
  font: normal 16px/19px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--pig-iron);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flavor a[uk-slider-item] {
  height: 100%;
  padding: 100px 0;
}

.flavor__filter {
  position: absolute;
  top: 98px;
  right: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 112px;
  padding: 10px;
  font: 10px/15px var(--contentFont);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: #FFFFFF;
  background-color: #E8CFB1;
  border-radius: 100px;
}

a[uk-slider-item]::before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: inline-flex;
  width: 100px;
  content: '';
}

.uk-slider-container {
  width: calc(100% - 120px);
  margin: 0 auto;
}

.sets .uk-slider-container ul {
  left: -20px;
}

.uk-slider-container li {
  margin: 4px;
}

.card_s h4 {
  max-width: 12.5em;
  margin-bottom: 12px;
  font: normal 30px/20px var(--titleFont);
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  text-align: center;
  color: var(--pig-iron);
  overflow: hidden;
}

.card_s .card__text {
  width: 208px;
  margin: 10px auto 12px;
  font: normal 14px/21px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--pig-iron);
}

.card_s .card_cost {
  margin: 10px auto 12px;
  font: normal 30px/20px var(--titleFont);
  color: var(--pig-iron);
}

.card_s .card__button {
  display: inline-flex;
  justify-content: center;
  padding: 9px 47px;
  font: thin 16px/21px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--blooming-perfect);
  outline: 1px solid var(--blooming-perfect);
}

.sets a[uk-slider-item] {
  height: 100%;
  padding: 200px 0;
}

.box {
  display: grid;
  grid-template-areas:
    'content content box'
    'content content box'
    'content content button';
  grid-template-columns: 1fr 45% 45%;
  margin-top: 15%;
  padding-bottom: 48px;
  background-color:var(--peach-breeze);
  background-image: url('../images/mask-box.png');
  background-repeat: no-repeat;
  background-position: right -50px;
  background-size: cover
}

.box__content {
  grid-area: content;
  justify-self: flex-end;
  max-width: 600px;
  padding: 140px 0 0 20px;
}

.box__title {
  font: normal 94px/94px var(--titleFont);
  color: #000;
}

.box__list {
  counter-reset: list;
  max-width: 500px;
  margin: 62px 0 0;
}

.box__item {
  position: relative;
  margin: 0 0 27px;
  padding-left: 70px;
  font: thin 18px/25px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
}

.box__item::before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: 8px;
  top: -8px;
  display: block;
  width: 36px;
  height: 36px;
  font: normal 18px/36px var(--contentFont);
  color: #000;
  text-align: center;
  border: 2px solid #222;
  border-radius: 20px;
}

.box__text {
  max-width: 260px;
  font: thin 18px/25px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
}

.box__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30% 0 0;
  grid-area: box;
}

.box__box img {
  width: 60%;
}

.box__button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 24px 0;
  text-align: center;
  grid-area: button;
}

.box__logo {
  margin: 24px 0;
}

.box__button a {
  display: inline-flex;
  justify-content: center;
  padding: 20px 17px;
  font: thin 16px/27px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  outline: 1px solid #000;
}

.uno {
  display: grid;
  grid-template-areas:
    'content content   '
    'content content   '
    'content content   ';
  grid-template-columns: 1fr 36% 36%;
  min-height: 920px;
  background-color:var(--peach-breeze);
  background-image: url('../images/brooke-lark.png');
  background-repeat: no-repeat;
  background-size: cover
}

.uno__content {
  justify-self: flex-end;
  max-width: 720px;
  padding: 74px 0 130px 20px;
  grid-area: content;
}

.uno__title {
  font: normal 94px/94px var(--titleFont);
  color: #000;
}

.uno__text {
  max-width: 357px;
  margin: 0 0 27px;
  font: thin 18px/25px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
}

.uno__button {
  display: inline-flex;
  justify-content: center;
  padding: 20px 17px;
  font: thin 16px/27px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  outline: 1px solid #000;
}

.uno hr {
  width: 197px;
  margin: 35px 0 47px 0;
  background-color: #000;
}

.film {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 807px;
  font: normal 201px/214px var(--titleFont);
  color: #FFFFFF;
  background-color:var(--peach-breeze);
  background-image: url('../images/film.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.reason {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 964px;
  background-color: #DEE3E6;
}

.reason > img:nth-child(1) {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 25%;
}

.reason > img:nth-child(2) {
  position: absolute;
  top: -100px;
  right: 0;
  width: 25%;
}

.reason__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 828px;
  min-height: 780px;
}

.reason__content::before {
  content: '01';
  position: absolute;
  font: normal 744px/744px var(--titleFont);
  color: #86B6C7;
  opacity: 0.5;
}

.reason__slider {
  width: 80%;
  height: 100%;
}

.reason h3,
.reason__slider h4 {
  font: normal 16px/27px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.reason h3 {
  max-width: 200px;
}

.reason__slider p {
  font: thin 16px/22px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.reason__slider li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reason__button {
  display: inline-flex;
  justify-content: center;
  padding: 20px 17px;
  font: thin 16px/27px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  outline: 1px solid #000;
}

.sub {
  justify-content: flex-start;
  height: 800px;
  background-color: #eeeeee;
  background-image: url(../images/table.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.sub__title.title {
  color: #000;
}

.sub__form input[type=text] {
  display: flex;
  align-items: flex-end;
  min-width: 447px;
  height: 67px;
  padding: 0 32px 0 64px;
  font: 16px/25px var(--contentFont);
  letter-spacing: 0.1em;
  background: transparent;
  border: 1px solid #1C1C1C;
  outline: none;
}

.sub__form p {
  display: flex;
  margin: 25px 0;
}

.sub__form input[type=text]::placeholder {
  font: 18px/25px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.sub__form input[type=submit] {
  width: 100%;
  min-width: 162px;
  height: 67px;
  font: 18px/25px var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #222;
  border: none;
  cursor: pointer;
}

.map {
  background-color:var(--peach-breeze);
}

#map {
  position: relative;
  z-index: 1;
  height: 400px;
}

.miolli-point {
  position: relative;
  background-color: #ffffff;
  background-image: url(../icons/miolli-logo-small.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
  transition: 0.2s background-color;
}

.miolli-point::before {
  position: absolute;
  left: 24px;
  bottom: -12px;
  width: 0;
  height: 0;
  content: '';
  transition: 0.2s border;
  border-top: 1.5rem solid #ffffff;
  border-right: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
}

.miolli-point:hover {
  background-color: var(--victoriana);
}

.miolli-point:hover::before {
  border-top-color: var(--victoriana);
}

.coffeehouse {
  display: flex;
  align-items: center;
  width: 94px !important;
  height: 94px !important;
  background-color: var(--peach-breeze);
  background-image: url(../icons/coffeehouse-item.svg);
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 100px;
  transition: 0.2s width;
}

.coffeehouse:hover {
  z-index: 999 !important;
  width: 300px !important;
}

.leaflet-control {
  opacity: 0;
}

.map__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  padding: 16px;
}

.map__content > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.map__content h3 {
  font: normal 56px/64px var(--titleFont);
}

.map__button {
  display: inline-flex;
  justify-content: center;
  width: 280px;
  padding: 13px 28px;
  font: thin 16px/27px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
  border: none;
  outline: 1px solid #000;
  background-color: transparent;
  grid-area: button;
}

.dropdown {
  background: transparent;
  user-select: none;
}

.dropdown__select {
  position: relative;
  border-bottom: 1px solid #000000;
}

.options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 9;
  height: 0;
  background: #ffffff;
  box-shadow: 0 2px 2px 1px #bbbbbb;
  visibility: hidden;
  overflow: hidden;
  transition: 0.4s all;
  pointer-events: none;
  opacity: 0;
}

.dropdown__select.opened .options {
  height: auto;
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.option, .dropdown_current {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.option p, .dropdown__current p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.option {
  margin: 20px 0;
}

.option.selected {
  display: none;
}

.option__text:hover {
  color: var(--victoriana);
  cursor: pointer;
}

.option__text, p {
  margin: 0 10px;
  font: 16px/25px var(--contentFont);
  text-transform: uppercase;
}

.arrow {
  position: relative;
  height: 7px;
}

.arrow::before,
.arrow::after {
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 100%;
  content: '';
  transition: all .1s;
}

.arrow::before {
  left: 2px;
  transform: rotate(45deg);
  background-color: #444;
}

.arrow::after {
  left: -2px;
  transform: rotate(-45deg);
  background-color: #444;
}

.opened .arrow::before {
  left: 2px;
  transform: rotate(-45deg);
}

.opened .arrow::after {
  left: -2px;
  transform: rotate(45deg);
}

.footer {
  position: relative;
  width: 100%;
  background: #000000;
}

.footer nav {
  display: flex;
  margin: 0 auto;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  width: 100%;
  margin: 20px;
  list-style: none;
}

.footer__item {
  height: 31px;
  margin: 4px 10px;
}

@media (max-width: 500px) {
  .footer__list {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
    margin: 20px auto 60px; 
  }
  .footer__item {
    height: 62px;
    margin: 4px 10px;
  }
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--contentFont);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.1s color ease-in-out;
}

.footer__link:hover {
  color: var(--victoriana);
}

.footer .active {
  color: var(--victoriana);
  pointer-events: none;
}
