@import '../../assets/styles/main.css';

.topbar {
  visibility: hidden;
  opacity: 0;
  box-shadow: none;
  justify-content: flex-end;
}

.checkbox-toggle-menu:checked~.header-menu_inner .topbar {
  visibility: visible;
  opacity: 1;
}

.topnav__list {
  background: #ffffff;
}

@media (min-width: 576px) {
  .topbar__logo {
    display: none;
  }
  .topnav__list {
    background: #ffffff;
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.16);
  }
  .topnav {
    width: auto;
    max-width: 100%;
  }
  .topbar {
    background: transparent;
  }
}

.main {
  min-height: calc(100vh - 78px);
  position: relative;
}

.content {
  padding: 64px 0 32px;
}

.section-header > * {
  margin: 0.75rem;
}

@media (max-width: 500px) {
  .content {
    padding: 32px 0 16px;
  }
}


/*start-screen*/

.start-screen {
  position: relative;
  z-index: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  max-width: var(--max);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.background-mask {
  position: absolute;
  transform: scale(1);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.brand-container {
  position: relative;
  max-width: 540px;
  max-height: 320px;
}

.brand-name {
  width: 100%;
}

.brand-tagline {
  font-family: var(--contentFont);
  font-size: 1.5625em;
  position: absolute;
  bottom: 0;
  left: 15%;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.button-swipe {
  position: absolute;
  bottom: 40px;
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  justify-content: center;
}

.button-swipe__item {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  transition: 0.1s border-color ease-in-out;
  border: 3px solid rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  background: transparent;
}

.button-swipe:hover > .button-swipe__item {
  cursor: pointer;
  border-color: var(--dark-vanilla);
}

.button_sticky {
  font: 0.8125rem/1.0625rem var(--contentFont);
  min-width: 9.9375rem;
  min-height: 9.9375rem;
  text-transform: uppercase;
}

.start-screen .button_sticky {
  position: absolute;
  right: 4.875rem;
  bottom: 4.875rem;
}

.button_sticky__call-to-action {
  font: 0.625rem/1.25rem var(--contentFont);
}

.button_sticky .material-icons {
  font-size: 1.2rem;
  font-weight: lighter;
}


/***/


/*2*/


.inspiration__button_rounded {
  font: 10px/15px var(--contentFont);
  position: absolute;
  vertical-align: middle;
  top: 19px;
  right: 38px;
}

.inspiration__arrows {
  display: flex;
  width: 78px;
  justify-content: space-around;
}

.inspiration__button_arrow {
  height: 100%;
  margin: 0 5px;
  transition: 0.1s color ease-in-out;
}

.shadow-box {
  height: 100%;
  box-shadow: 0px 0 10px 20px #fff;
}

.inspiration__button_arrow .material-icons {
  font-size: 32px;
}

.inspiration__button_arrow:hover .material-icons {
  color: #996b6b;
}

.inspiration__button:before {
  content: "stwórz swoją kompozycję";
}

@media (max-width: 370px) {
  .inspiration__button:before {
    content: "stwórz kompozycję";
  }
}

.card-flavor {
  position: relative;
  width: 218px;
  min-height: 298px;
  margin: 0 auto;
  transition: 0.2s all;
}

.card-flavor__figure {
  display: flex;
  width: 100%;
  height: 210px;
  justify-content: center;
  align-items: center;
}

.card-flavor__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card-flavor__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.card-flavor__body > * {
  margin: 10px 0;
  text-align: center;
  max-width: 52%;
  overflow: hidden;
  text-overflow: ellipsis
}

.card-flavor__name {
  line-height: 19px;
}

.card-flavor .underline {
  width: 60px;
}

@media (max-width: 640px) {
  .card-flavor {
    width: 150px;
    min-height: 212px;
  }
  .card-flavor__figure {
    height: 144px;
  }
  .shadow-box {
    box-shadow: 0px 0 5px 10px #fff;
  }
}

@media (max-width: 370px) {
  .card-flavor {
    width: 120px;
    min-height: 212px;
  }
  .card-flavor__figure {
    height: 144px;
  }
}

/***/


/*3*/

.composition__button_arrow {
  display: flex;
  width: 5%;
  min-width: 50px;
  height: 50%;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.composition__button_arrow .material-icons {
  font-size: 32px;
  transition: 0.1s color ease-in-out;
}

.composition__button_arrow:hover .material-icons {
  color: #996b6b;
}

.composition .viewer-toggle {
  position: absolute;
  z-index: 1;
  bottom: -6rem;
  left: 39px;
  cursor: pointer;
  justify-content: center;
}

.composition input.viewer-toggle {
  z-index: 2;
  width: 111px;
  height: 111px;
  opacity: 0;
}

.composition__button_rounded .material-icons:before {
  content: 'call_to_action';
}

.composition input:hover ~ .composition__button_rounded {
  background-color: #996b6b;
}

.composition input:checked ~ .set-block {
  display: block;
}

.composition input:checked ~ button {
  bottom: 500px;
}

.composition input:checked {
  bottom: 500px;
}

.composition input:checked ~ .uk-slider {
  display: none;
}

.composition input:checked ~ .composition__button_rounded .material-icons:before {
  content: 'apps';
}

.set-card {
  width: 270px;
  margin: 0 auto;
}

.set-card__figure {
  width: 100%
  height: 405px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.set-card__body {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-height: 150px;
  margin: 0 auto;
  padding: 32px 0;
  align-items: center;
  justify-content: space-between;
}

.set-card__title {
  font: 30px/20px var(--titleFont);
  text-align: center;
  text-transform: uppercase;
  color: var(--outer-space);
}

.set-card__copy {
  font: 14px/21px var(--contentFont);
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--outer-space);
}

.set-card__copy.price {
  font: 30px/42px var(--titleFont);
  letter-spacing: 0;
  vertical-align: middle;
  color: var(--quartz);
}

.set-card__footer {
  text-align: center;
}

.set-card__button {
  min-width: 137px;
}

.set-block__arrow .material-icons, .set-card__arrow .material-icons {
  font-size: 27px;
  transition: 0.1s color ease-in-out;
}

.set-block__arrow:hover .material-icons, .set-card__arrow:hover .material-icons {
  color: #996b6b;
}

.composition__button_rounded {
  font-size: 10px;
}

.set-block__counter {
  margin: 0 20px;
}

@media (max-width: 639px) {
  .set-card__title, .set-block__title {
    margin: 2.5rem auto 1rem;
  }
}

.set-block {
  display: none;
}

.set-block__figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-block__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.set-block__body {
  display: flex;
  flex-direction: column;
  max-width: 34.625rem;
  min-height: 18.625rem;
  margin: 2rem auto;
  align-items: center;
  justify-content: space-between;
}

.set-block__copy {
  text-align: center;
}

.set-block__copy.price {
  font: 4.125rem/4.625rem var(--titleFont);
  letter-spacing: 0;
  color: var(--quartz);
}

.set-block__footer {
  text-align: center;
}

@media (max-width: 640px) {
  .set-block {
    min-width: 256px;
    margin: 0 20px;
  }
  .set-block__body {
    min-height: 211px;
    margin: 16px auto;
  }
  .set-block__title {
    font: 30px/74px var(--titleFont);
  }
  .set-block__copy {
    font: 14px/22px var(--contentFont);
    min-width: 248px;
  }
  .set-block__copy.price {
    font: 30px/72px var(--titleFont);
  }
}


/***/


/*4*/

.box-composing {
  max-width: var(--max);
  margin: 18.7rem auto 0;
  padding: 0 1.375rem;
  background: #ffece6;
  background-image: url(../../assets/images/mask-group-2.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.box-composing__body {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.box-composing__body > div {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.box-composing__body > div:nth-child(1), .box-composing__body > div:nth-child(2) {
  padding: 78px 0 39px;
}

.box-composing__body > div:nth-child(2), .box-composing__body > div:nth-child(4) {
  align-items: flex-start;
}

.box-composing__body > div:nth-child(3), .box-composing__body > div:nth-child(4) {
  padding: 0 0 39px;
}

.box-composing__body > div:nth-child(3) {
  justify-content: flex-end;
}

.box-composing__body > div:nth-child(4) > div {
  width: 100%;
  max-width: 25rem;
}

.box-composing__cookie-box {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 19.5rem;
  margin: -5rem auto 12rem;
  border-image: url('../../assets/images/box_2x.png');
  border-image-slice: 1 fill;
  border-image-outset: 32.5rem;
  justify-content: center;
}

.box-composing__list {
  max-width: 25rem;
  margin: 4.1875rem 0 0 0.9rem;
}

.box-composing__item {
  display: flex;
  margin: 0 0 1.3125rem;
  align-items: flex-start;
}

.box-composing__copy {
  margin: 0.625em 0;
}

.box-composing__body > div:nth-child(4) .box-composing__copy {
  font-size: 18px;
}

.box-composing__point {
  font: 1.125em/1.5625em var(--contentFont);
  display: flex;
  width: 2.75em;
  min-width: 2.75em;
  height: 2.75em;
  margin: 0 2em 0 0;
  border: 0.125em solid var(--black-olive);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.box-composing__button:before {
  content: "stwórz swoją kompozycję";
}

@media (max-width: 370px) {
  .box-composing__button:before {
    content: "stwórz kompozycję";
  }
}

@media (max-width: 1062px) {
  .box-composing__body > div:nth-child(1) {
    order: 1;
  }
  .box-composing__body > div:nth-child(2) {
    order: 2;
  }
  .box-composing__body > div:nth-child(3) {
    order: 4;
  }
  .box-composing__body > div:nth-child(4) {
    order: 3;
  }
  .box-composing__cookie-box {
    transition: 0.3s border-image-outset;
    border-image-outset: 24.5rem;
  }
  .box-composing {
    background-size: 150%;
  }
}

@media (max-width: 610px) {
  .box-composing__body > * {
    width: 100%;
  }
  .box-composing__list {
    margin: 4.1875rem 0 0;
  }
  .box-composing__cookie-box {
    width: 4rem;
    height: 12.5rem;
    border-image-outset: 20.5rem;
  }
  .box-composing {
    transition: 0.2s background;
    background-size: 200%;
  }
  .box-composing__body > div:nth-child(1) {
    margin-top: -50px;
  }
  .box-composing__point {
    margin: 0 1em 0 0;
  }
  .box-composing__body > div:nth-child(1), .box-composing__body > div:nth-child(2) {
    padding: 39px 6% 19px;
  }
  .box-composing__body > div:nth-child(4) {
    padding: 0 6% 19px;
  }
  .box-composing__body > div:nth-child(3) {
    padding: 19px 0 0;
  }
}


/***/


/*5*/

.uniqueness {
  position: relative;
  max-width: var(--max);
  background: #ffece6;
  background-image: url(../../assets/images/brooke-lark.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.uniqueness__header, .uniqueness__body, .uniqueness__footer {
  width: 100%;
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 1.375rem;
}

.uniqueness__header_mask {
  width: 100%;
}

.uniqueness__title {
  max-width: 744px;
  padding: 100px 0 0;
}

.uniqueness__body > * {
  max-width: 370px;
  margin: 47px 0;
}

.uniqueness__underline {
  width: 197px;
  height: 3px;
  margin: 35px 0;
  background: #000000;
}

.uniqueness__footer {
  position: relative;
  padding-bottom: 78px;
}

@media (max-width: 1062px) {
  .uniqueness__header, .uniqueness__body, .uniqueness__footer {
    padding-left: 12%;
    padding-right: 12%;
  }
}

@media screen and (max-width: 770px) {
  .uniqueness__header_mask {
    background: #ffece6;
  }
  .uniqueness__underline {
    display: none;
  }
  .uniqueness__title {
    padding: 100px 0 1rem;
  }
}

@media screen and (max-width: 640px) {
  .uniqueness {
    min-height: 1000px;
    background-size: auto;
    background-position: center 290px;
  }
}

@media screen and (max-width: 490px) {
  .uniqueness {
    min-height: 1200px;
  }
}


/***/

.video-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  background-image: url(../../assets/images/film.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.video-section video {
  width: 100%; 
  min-height: 60vh; 
  max-height: 100vh; 
  object-fit: cover; 
  object-position: center;
}

.video-section__title {
  font-size: 149px;
  color: #fff;
  position: absolute;
}


/*6*/

.causes {
  position: relative;
  overflow-x: clip;
  max-width: var(--max);
  background: #dee3e6;
}

.causes__aside {
  position: absolute;
  overflow: hidden;
  width: 25%;
  min-width: 180px;
}

.causes__figure_circle {
  position: relative;
  overflow: hidden;
  width: 35vw;
  max-width: 526px;
  height: 35vw;
  max-height: 526px;
  border-radius: 50%;
}

.causes__aside.top {
  top: -15%;
  right: 0;
}

.causes__aside.top .causes__figure_circle {
  min-width: 26.25rem;
  min-height: 26.25rem;
}

.causes__aside.bottom .causes__figure_circle {
  min-width: 29rem;
  min-height: 29rem;
}

.causes__aside.bottom {
  bottom: -15%;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
}

.causes__aside.bottom .circle {
  display: block;
  margin-left: -50%;
}

.causes__image {
  width: 100%;
}

.causes__content {
  padding-top: 144px;
  padding-bottom: 144px;
}

.causes__heading {
  width: 100%;
  max-width: 210px;
  margin: 0 auto;
}

.causes__title {
  font-family: var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.causes__body {
  padding: 6%;
}

.causes-card {
  position: relative;
  z-index: 10;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.causes-card__content {
  z-index: 1;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.causes-card__number {
  font: 774px/774px var(--titleFont);
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 200px;
  left: 0;
  display: flex;
  opacity: 0.42;
  color: #86b6c7;
  background: #eeeeee;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.causes-card__title {
  font-family: var(--contentFontB);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.causes__button_arrow .material-icons {
  font-size: 32px;
  color: #86b6c7;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dee3e6;
  transition: 0.2s color;
}

.causes__button_arrow:hover {
  color: #425970;
}

.causes__button:hover {
  border-color: #425970;
  color: #425970;
}

.causes-card__control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.causes-card__counter {
  width: flex;
  margin: 0 20px;
}


@media (max-width: 640px) {
  .causes-card__number {
    font: 527px/527px var(--titleFont);
  }
  .causes__aside.top {
    top: -10%;
    right: 0;
  }
  .causes__aside.top .causes__figure_circle {
    min-width: 21.25rem;
    min-height: 21.25rem;
  }

  .causes__aside.bottom {
    bottom: -17%;
}

  .causes__aside.bottom .causes__figure_circle {
    min-width: 19rem;
    min-height: 19rem;
  }
}

@media (max-width: 490px) {
  .causes__aside.top .causes__figure_circle {
    min-width: 16.875rem;
    min-height: 16.875rem;
  }
}

@media (max-width: 450px) {
  .causes-card__number {
    font: 387px/387px var(--titleFont);
  }
}

@media (max-width: 370px) {
  .causes-card__number {
    font: 347px/347px var(--titleFont);
  }
}



/***/


/*7*/

.newsletter {
  min-height: 806px;
  background: #eeeeee;
  background-image: url(../../assets/images/table.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.newsletter__content {
  max-width: 642px;
  margin: 0 auto;
  padding: 86px 0;
}

.newsletter__title {
  font: 5.875rem/94px var(--titleFont);
  text-align: center;
}

.newsletter__subtitle {
  font: 16px/25px var(--contentFont);
  margin: 30px auto 61px;
  text-align: center;
  letter-spacing: 0.1em;
}

.newsletter__form .input-group {
  display: flex;
  align-items: center;
}

.newsletter__form input {
  font: 16px/25px var(--contentFont);
  display: flex;
  width: 100%;
  min-width: 447px;
  height: 67px;
  padding-left: 64px;
  letter-spacing: 0.1em;
  border: 1px solid #444444;
  outline: none;
  background: transparent;
  align-items: flex-end;
}

.newsletter__form input::placeholder {
  font: 18px/25px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.newsletter__button_submit {
  font: 1rem/1.6875rem var(--contentFont);
  width: 100%;
  min-width: 162px;
  height: 67px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
}

.newsletter__button_submit:hover {
  color: #ffffff;
  background-color: #222222;
}

@media screen and (max-width: 768px) {
  .newsletter__content {
    max-width: 84%;
    margin: 0 auto;
  }
  .newsletter__form .input-group {
    flex-wrap: wrap;
  }
  .newsletter__form input {
    padding: 0;
    text-align: center;
  }
  .newsletter__title {
    font-size: 70px;
  }
  .newsletter__content {
    padding: 110px 0;
  }
}

@media screen and (max-width: 576px) {
  .newsletter__form input {
    min-width: auto;
  }
  .newsletter__title {
    font-size: 45px;
  }
  .newsletter__content {
    width: 90%;
    padding: 160px 0 0;
  }
}


/***/


/*8*/

.map {
  width: 100%;
  max-width: var(--max-width);
  background: #ffece6;
}

#map {
  position: relative;
  width: var(--content);
  height: 400px;
  background-image: url('../../assets/images/map.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#map .inner {
  opacity: 0.05;
  background: #ff0000;
}

.coffeehouse {
  position: absolute;
  display: block;
  display: flex;
  min-width: 94px;
  height: 94px;
  transition: 0.2s all;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  justify-content: center;
  align-items: center;
}

.coffeehouse:before {
  position: absolute;
  z-index: 1;
  bottom: -12px;
  width: 0;
  height: 0;
  content: '';
  transition: 0.2s all;
  border-top: 1.5rem solid #ffffff;
  border-right: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
}

.coffeehouse:hover {
  background-color: var(--dark-vanilla);
}

.coffeehouse:hover:before {
  border-top-color: var(--dark-vanilla);
}

.miolli-point {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 94px;
  height: 94px;
  transition: 0.2s all;
  border-radius: 100px;
  background-color: #ffece6;
  align-items: center;
}

.miolli-point:hover {
  width: 300px;
}

.miolli-point__description {
  padding: 8px;
}

.miolli-point__description > * {
  min-width: 200px;
}

.miolli-point__description .title {
  font-size: 11px;
}

.miolli-point__description .name {
  font-size: 24px;
  margin: 0;
}

.miolli-point__description .address {
  font-size: 9px;
}

.miolli-point1 {
  top: 50px;
  left: 10px;
}

.coffeehouse1 {
  top: 50px;
  right: 100px;
}

.coffeehouse2 {
  top: 240px;
  left: 100px;
}

.coffeehouse3 {
  top: 200px;
  left: 400px;
}

.coffeehouse4 {
  top: 140px;
  right: 500px;
}

.map__content {
  overflow: hidden;
  max-width: var(--max);
  margin: 0 auto;
  padding-bottom: 40px;
}

.map__asside {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.map__body {
  max-width: calc(var(--content) * 0.8);
  margin: 0 auto;
  padding: 22px 11px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.map__title {
  font: 66px/66px var(--titleFont);
}

.location {
  display: flex;
  flex-direction: column;
  min-width: 380px;
  min-height: 117px;
  justify-content: space-around;
}

.location__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.location__label {
  font: 16px/27px var(--contentFont);
  white-space: nowrap;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.location__sorting {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.location__sorting > * {
  font: 1rem/1.6875rem var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.location__footer {
  display: flex;
  padding: 20px 0;
  justify-content: flex-end;
}

.location__button {
  min-width: 280px;
  height: 48px;
}

.dropdown {
  min-width: 160px;
  user-select: none;
  background: transparent;
}

.dropdown__select {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  border-bottom: 1px solid #000000;
}

.options {
  position: absolute;
  z-index: 9;
  top: 100%;
  right: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  transition: 0.4s all;
  pointer-events: none;
  opacity: 0;
  background: #ffffff;
  box-shadow: 0 2px 2px 1px #bbbbbb;
}

.dropdown__select.opened .options {
  visibility: visible;
  height: auto;
  pointer-events: all;
  opacity: 1;
}

.option, .dropdown__item-current {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
}

.option p, .dropdown__item-current p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.option {
  margin: 20px 0;
}

.option.selected {
  display: none;
}

.option__text:hover {
  cursor: pointer;
  color: var(--dark-vanilla);
}

.option__image, .dropdown__image_current {
  max-width: 2.125rem;
  max-height: 2.125rem;
}

.option__text, .dropdown__text-current {
  font: 16px/25px var(--contentFont);
  margin: 0 10px;
}

.dropdown__arrow {
  position: absolute;
  right: 10px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__item-current:hover .dropdown__arrow {
  color: var(--dark-vanilla);
}

.opened .dropdown__arrow {
  transform: rotate(-180deg);
}

@media screen and (max-width: 1280px) {
  .map__title {
    font-size: 48px;
    line-height: 48px;
  }
}

@media screen and (max-width: 1048px) {
  .map__title {
    font-size: 42px;
    line-height: 42px;
  }
}

@media screen and (max-width: 768px) {
  .location {
    float: none;
    width: 320px;
    margin: 20px auto;
  }
  .location__footer {
    justify-content: center;
  }
  .map__title {
    text-align: center;
  }
}

@media screen and (max-width: 412px) {
  .dropdown {
    min-width: 204px;
  }
  .dropdown__item-current {
    display: flex;
    justify-content: space-between;
  }
  .location {
    width: auto;
    min-width: 240px;
  }
  .location__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .location__body > * {
    margin: 0 0 20px;
  }
}

/***/

@media screen and (max-width: 540px) {
  .brand-tagline {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .brand-tagline {
    font-size: 16px;
  }
}

