@import '../../assets/styles/main.css';

/* * {
  border: var(--border);
}*/

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: var(--max);
}

#mainMenu {
  float: right;
  width: 100%;
  height: 0;
}

#menuToggle {
  position: relative;
  background: transparent;
}

#mainMenu input {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 78px;
  height: 78px;
  cursor: pointer;
  opacity: 0;
}

#mainMenu #btnToggle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 78px;
  height: 78px;
  -webkit-user-select: none;
  user-select: none;
  background: var(--dark-l);
  justify-content: center;
  align-items: center;
}

#mainMenu #btnToggle span {
  display: block;
  width: 32px;
  height: 2px;
  margin: 4px;
  transition: var(--humburger);
  background: #fff;
}

#mainMenu input:checked~#btnToggle span:first-child {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}

#mainMenu input:checked~#btnToggle span:nth-child(2) {
  transform: scale(.2, .2);
  opacity: 0;
}

#mainMenu input:checked~#btnToggle span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
  opacity: 1;
}

#mainMenu .nav-menu {
  visibility: hidden;
  visibility: hidden;
  width: 100%;
  height: 0;
  transition: var(--opacity);
  opacity: 0;
  background: transparent;
}

#mainMenu input:checked~.nav-menu {
  visibility: visible;
  height: 100vh;
  opacity: 1;
}

.nav-menu .navbar {
  position: absolute;
  top: 78px;
  right: 0;
  overflow-y: scroll;
  width: 234px;
  height: calc(100% - 78px);
  background: var(--dark-l);
}

.nav-menu .business-offer {
  font-family: var(--contentFont);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 172px;
  height: 78px;
  text-transform: uppercase;
  color: var(--black-olive);
  background: #fff;
  background: var(--dark-vanilla);
}

.business-offer a {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.business-offer img {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  transform: rotate(225deg);
}

.navbar nav ul li {
  display: flex;
  width: 100%;
  min-height: 78px;
  align-items: center;
}

.navbar nav ul li a {
  font-family: var(--contentFont);
  font-size: 14px;
  width: 100%;
  min-height: 100%;
  padding: 0 60px;
  text-transform: uppercase;
  color: #fff;
}

.navbar ul li:nth-child(n+7) {
  display: none;
}

.nav-menu .topbar {
  display: flex;
  width: calc(100% - 78px);
  height: 78px;
  justify-content: space-between;
}

.topbar .topnav {
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.topbar .like-btn {
  display: flex;
  width: 78px;
  min-width: 78px;
  height: 78px;
  border: none;
  background: var(--dark-vanilla);
  justify-content: center;
  align-items: center;
}

.topnav nav {
  display: flex;
  float: right;
  height: 78px;
  background: #fff;
  justify-content: flex-end;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.topnav nav>a {
  display: flex;
  width: 196px;
  min-height: 78px;
  padding: 0 30px;
  align-items: center;
}

.topbar a {
  font-family: var(--contentFont);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--dark-l);
}

.topbar .back-to-home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.topbar .logo {
  display: flex;
  visibility: hidden;
  min-width: 151px;
  height: 78px;
  opacity: 0;
  justify-content: center;
  align-items: center;
}


/* header cart */

.nav-menu .cart-container {
  position: absolute;
  z-index: 1;
  top: 78px;
  right: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 400px;
  height: 604px;
  padding: 14.5px 0;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  align-items: center;
}

.nav-menu .count-of-cart {
  font-size: 10px;
  position: absolute;
  margin: 7px 0 0 4px;
  text-align: center;
  white-space: 0;
  color: #fff;
  border: none;
}

.nav-menu .cart-btn:hover~.cart-container {
  visibility: visible;
  opacity: 1;
}

.nav-menu .cart-item {
  display: flex;
  width: 308.5px;
  min-height: 133px;
}

.nav-menu .cart-item-image {
  display: flex;
  width: 89px;
  min-height: 133px;
  margin: 7.25px;
  justify-content: center;
  align-items: center;
}

.nav-menu .cart-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 133px;
  margin: 7.25px;
  justify-content: flex-end;
}

.nav-menu .cart-item-heading h4 {
  font-family: var(--titleFont);
  font-size: 30px;
  color: var(--dark-xs);
}

.nav-menu .cart-item-description {
  margin: 13.5px 13.5px 0;
}

.nav-menu .cart-container .like-btn {
  position: absolute;
  bottom: 28px;
  width: 285px;
  height: 51px;
  letter-spacing: .2em;
  color: #fff;
  border: 1px solid #d6b5ac;
  background-color: #d6b5ac;
}

.nav-menu .cart-item-description ul li {
  font-family: var(--contentFont);
  font-size: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--dark-xs);
}

.nav-menu .cart-item-description ul li span {
  padding-left: 5px;
}

.nav-menu .cart-container .remainder {
  font-family: var(--contentFont);
  font-size: 16px;
  margin: 28.5px;
  text-decoration: underline;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--dark-xs);
}

.visibile {
  visibility: visible !important;
  opacity: 1 !important;
}


/* header print */

.imprint-container {
  position: absolute;
  z-index: 4;
  top: 78px;
  right: 0;
  display: flex;
  visibility: hidden;
  width: 626px;
  height: 313px;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  justify-content: space-between;
}

.imprint-container>div {
  width: 50%;
}

.imprint-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imprint-logo {
  position: absolute;
  width: 78px;
  height: 78px;
}

.imprint-container>span {
  width: 2px;
  height: 80%;
  background: var(--dark-vanilla);
  align-self: center;
}

.topnav nav a:nth-child(3):hover~.imprint-container {
  visibility: visible;
  opacity: 1;
}

.imprint-content {
  font-family: var(--contentFont);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 44px;
  letter-spacing: .1em;
  color: var(--dark-xs);
  justify-content: center;
}

.imprint-content p {
  font-size: 14px;
}

.imprint-content ul {
  margin-left: 40px;
}

.imprint-content ul~a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.imprint-content ul~a span {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--dark-vanilla);
}

.imprint-content>* {
  display: block;
  margin: 14px;
}

.imprint-content ul li {
  display: flex;
  height: 34px;
}

.imprint-content ul li a {
  width: 100%;
}

.imprint-content li::before {
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  content: '\2022';
  color: #d6b5ac;
}


/* @media HEADER ONLY */

@media screen and (max-width: 994px) {
  .topnav nav>a:nth-child(1) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(4) {
    display: flex;
  }
}

@media screen and (max-width: 798px) {
  .topnav nav>a:nth-child(2) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(3) {
    display: flex;
  }
}

@media screen and (max-width: 602px) {
  .topnav nav>a:nth-child(3) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(2) {
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  .topbar .logo {
    width: 100%;
    min-width: 78px;
  }
  .nav-menu .business-offer {
    display: none;
  }
  .nav-menu .navbar {
    width: 100%;
  }
  .navbar nav ul li a {
    text-align: center;
  }
  .navbar ul li {
    padding: auto;
    justify-content: center;
  }
  .navbar nav ul li:nth-last-child(1) {
    display: flex;
  }
}


/* chat */

.chat-container {
  position: fixed;
  z-index: 0;
  bottom: 0;
  width: 100%;
  max-width: var(--max);
}

.chat-window {
  position: absolute;
  z-index: 0;
  right: 20px;
  bottom: 77px;
  visibility: hidden;
  width: 279px;
  height: 436px;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.chat-window:after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -18px;
  width: 0;
  height: 0;
  content: '';
  border-right: 28px solid #fff;
  border-bottom: 18px solid transparent;
  border-left: 18px solid transparent;
}

.chat-heading {
  display: flex;
  width: 279px;
  height: 51px;
  padding: 21px;
  background: var(--dark-vanilla);
  align-items: center;
  justify-content: space-between;
}

.chat-heading h5 {
  font-size: 12px;
  letter-spacing: .1em;
}

.chat-logo {
  position: relative;
  top: -17px;
  display: block;
  width: 57px;
  height: 57px;
  padding: 4px;
  border-radius: 100%;
  background: #fff;
}

.chat-history {
  overflow-y: scroll;
  height: 70%;
  padding: 21px;
}

.chat-message {
  padding: 14px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container textarea {
  font-family: var(--contentFont);
  width: 222px;
  height: 30px;
  padding: 5px;
  border: 1px solid #707070;
  outline: none;
}

.form-container textarea::placeholder {
  font-family: var(--contentFont);
  font-size: 12px;
}

.send-btn {
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: var(--dark-vanilla);
  justify-content: center;
  align-items: center;
}

.chat-button,
.chat-container input {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: var(--dark-l);
  justify-content: center;
  align-items: center;
}

.chat-container input {
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.chat-container input:checked~.chat-window {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.chat-icon {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 14px;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.chat-icon:after {
  position: absolute;
  z-index: 1;
  top: 28px;
  right: 12px;
  width: 0;
  height: 0;
  content: '';
  border-right: 6px solid #fff;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}

.chat-icon span {
  position: relative;
  width: 10px;
  height: 1px;
  background: var(--dark-l);
}

.chat-icon span:not(:first-child) {
  margin-top: 3px;
}


/* Common */

.title,
.like-title {
  display: block;
  max-width: 743px;
  text-align: center;
  word-wrap: break-word;
}

.subtitle {
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: .1em;
  color: var(--dark-l);
}

.flex-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*flex-wrap: wrap;*/
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

section .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content);
  min-height: 748px;
  margin: 0 auto;
  padding: 88px 0 0;
  justify-content: space-between;
  align-items: center;
}

.btn-arrow span {
  font-size: 28px;
  display: flex;
  width: 78px;
  height: 78px;
  justify-content: center;
  align-items: center;
}


/*start-screen*/

.start-screen {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.brand-container {
  position: relative;
  max-width: 540px;
  max-height: 320px;
}

.brand-name {
  width: 100%;
}

.brand-tagline {
  font-family: var(--contentFont);
  font-size: 1.5625em;
  position: absolute;
  bottom: 0;
  left: 15%;
  letter-spacing: .2em;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .5);
}

.nav-slide {
  position: absolute;
  bottom: 40px;
}

.dot {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  border: 3px solid rgba(255, 255, 255, .9);
  border-radius: 100%;
  background: transparent;
}

.hr,
.like-hr,
.underline {
  width: 59px;
  height: 2px;
  text-align: center;
  border: 1.5px solid var(--white-chocolate);
  background: var(--white-chocolate);
}

.hr-title {
  width: 197px;
  margin: 20px 0 32px;
}

.hr-dark {
  border: 1.5px solid #000;
  background: #000;
}


/* card */


/*.card * {
  border: var(--border);
}*/

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.card-flavor {
  width: 218px;
  min-height: 298px;
  margin: 9px;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 210px;
  justify-content: center;
  align-items: flex-end;
}

.card-title {
  line-height: 19px;
  display: block;
  text-align: center;
  letter-spacing: .1em;
}

.card-flavor .card-title {
  width: 110px;
}

.card-link {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/***/

.inspiration-section .container,
.inspiration-section .card-list,
.composition-section .card-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inspiration-section .card-list {
  justify-content: center;
  flex-wrap: wrap;
}

.inspiration-section .btn-arrow {
  height: 210px;
  align-self: flex-start;
}

.inspiration-section .arrow-btn img {
  margin-top: 100px;
}

.inspiration-section .set-viewer-toggle {
  position: absolute;
  z-index: 0;
  top: 111px;
  right: 111px;
  width: 111px;
  height: 111px;
  cursor: pointer;
}


/***/

.inspiration-section input:checked~.card:nth-of-type(-2n+1) {
  display: none;
}


/***/


/* composition section */

.composition-section .container {
  width: 100%;
}

.composition-section .flex-container {
  margin-top: 66px;
}

.card-list.set-list {
  justify-content: space-around;
}

.set-list .card {
  margin: 15.4px;
}

.set-list .card>* {
  margin: 0 0 14px;
}

.set-list .card .card-body>* {
  margin: 28px 0 0;
}

.set-description>* {
  margin: 0 0 8px;
}

.set-list .card .card-body p {
  width: 200px;
}

.set-list .card .card-title {
  font-family: var(--titleFont);
  font-size: 30px;
}

.set-list .card .set-price {
  font-size: 30px;
}

.set,
.set-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.set {
  display: none;
}

.set-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.set-image img {
  width: 100%;
}

.set-name {
  line-height: 74px;
}

.set-description {
  line-height: 25px;
  display: block;
  max-width: 514px;
  margin: 20px 0 0;
  text-align: center;
}

.set .btn {
  margin: 20px 0 0;
}

.composition-section .set-viewer-toggle {
  position: absolute;
  z-index: 0;
  z-index: 2;
  bottom: -121px;
  left: 80px;
  width: 111px;
  height: 111px;
  cursor: pointer;
}

input.set-viewer-toggle {
  opacity: 0;
}

.composition-section input:checked~.card-list {
  display: none;
}

.composition-section input:checked~.set {
  display: flex;
}


/***/

.box-composing .content {
  width: 100%;
  margin-top: 250px;
  background: #ffece6;
  background-image: url(../../assets/images/mask-box-composing.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.box-composing .content .body {
  position: relative;
  top: -320px;
  display: flex;
  flex-direction: row-reverse;
  width: 1010px;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: flex-end;
}

.box-composing .content .image img {
  width: 420px;
  height: 870px;
}

.box-composing .content .text-content {
  width: 540px;
  margin: 0 60px 0 0;
  padding: 0 10px;
}

.box-composing .content .footer {
  position: relative;
  top: -320px;
  display: flex;
  width: 100%;
  max-width: 1010px;
  height: 215px;
  margin: 0 auto;
  padding: 0 24px 0 14px;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-composing .logo {
  margin: 0 40px 0 0;
}

.box-composing * {
  color: #000;
  /*border: var(--border);*/
}

@media screen and (max-width: 1010px) {
  .box-composing .content .body {
    flex-wrap: wrap;
  }
  .box-composing .content .image {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .box-composing .content .body {
    width: 100%;
  }
  .box-composing .content .image img {
    width: 240px;
    max-height: 470px;
  }
  .box-composing .content .text-content {
    width: 768px;
    margin: 0 auto;
  }
  .box-composing .content .footer {
    max-width: 768px;
  }
  .box-composing .content .footer>p {
    display: flex;
    margin: 53px auto 0;
  }
}

.list {
  margin: 57px 0 0 0;
}

.list-point {
  display: flex;
  width: 44px;
  min-width: 44px;
  height: 44px;
  margin: 0 2.75em 0 .9em;
  border: 2px solid var(--dark-l);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;
  margin: 21px 0;
}

.list-item span:not(:first-child) {
  font-size: 1.125em;
  display: flex;
  max-width: 329px;
  align-items: center;
}

.list-item:last-child span:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.box-composing p,
.box-composing li {
  line-height: 25px;
  letter-spacing: 100%;
}

.box-composing img {
  margin: 32px 0 0;
}

.call-to-action {
  margin-top: 52px;
}

.button-container {
  display: flex;
  width: 40%;
  min-width: var(--min);
  justify-content: center;
  align-items: flex-end;
}

.cookie-box {
  position: relative;
  width: 420px;
  max-width: 420px;
  box-shadow: 0 5px 80px 24px #222;
}

.cookie-box__lid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 105px;
  border-top: 2px solid rgba(255, 255, 255, .2);
  border-bottom: 2px solid rgba(0, 0, 0, .16);
  background: #fff;
  background-image: url(../../assets/images/lid.png);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
}

.cookie-box__head {
  position: absolute;
  top: 105px;
  width: 100%;
  height: 180px;
  transition: .5s background ease;
  border-top: 2px solid rgba(0, 0, 0, .26);
  background: rgba(200, 146, 135, 255);
  clip-path: polygon(2% 0, 98% 0, 94% 100%, 6% 100%);
}

.cookie-box__body {
  position: absolute;
  top: 284px;
  width: 100%;
  height: 504px;
  border: 1px solid rgba(0, 0, 0, .16);
  background: #c58c82;
  background-image: url(../../assets/images/inbox_optimized.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 99%;
  clip-path: polygon(6% 0, 94% 0, 94% 100%, 6% 100%);
}

.cookie-box__shadow {
  position: absolute;
  top: 296px;
  left: 33px;
  width: 352.5px;
  height: 489px;
  background: transparent;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, .7);
}


/**/

@media screen and (max-width: 1000px) {
  .button-container {
    margin: 40px 0;
  }
}

@media screen and (max-width: 540px) {
  body {
    font-size: 14px;
  }
  .brand-tagline {
    font-size: 18px;
  }
  .btn-arrow span {
    line-height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 400px) {
  .brand-tagline {
    font-size: 16px;
  }
}

@media screen and (max-width: 1140px) {
  .set-viewer-toggle {
    display: none;
  }
  .composition-section .card-list.set-list {
    display: flex !important;
  }
  .composition-section .set {
    position: absolute;
    visibility: hidden;
  }
}


/*for remove*/

.card-list.flavor-list {
  overflow: hidden;
  height: 320px;
  flex-wrap: wrap;
}

.card-list.set-list {
  overflow: hidden;
  height: 718px;
  flex-wrap: wrap;
}


/*@media screen and (max-width: 1365px) {
  .card-flavor:nth-last-child(1) {
    display: none;
  }
}

@media screen and (max-width: 1135px) {
  .card-flavor:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 905px) {
  .card-flavor:nth-last-child(3) {
    display: none;
  }
}

@media screen and (max-width: 675px) {
  .card-flavor:nth-last-child(4) {
    display: none;
  }
}*/
