@import '../../assets/styles/main.css';

 * {
  border: var(--border);
}


.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: var(--max);
}

.brand-container {
  position: relative;
  max-width: 540px;
  max-height: 320px;
}

.brand-name {
  width: 100%;
}

.brand-tagline {
  font-family: var(--contentFont);
  font-size: 1.5625em;
  position: absolute;
  bottom: 0;
  left: 15%;
  letter-spacing: .2em;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .5);
}

#mainMenu {
  float: right;
  width: 100%;
  height: 0;
}

#menuToggle {
  position: relative;
  background: transparent;
}

#mainMenu input {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 78px;
  height: 78px;
  cursor: pointer;
  opacity: 0;
}

#mainMenu #btnToggle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 78px;
  height: 78px;
  -webkit-user-select: none;
  user-select: none;
  background: var(--dark-l);
  justify-content: center;
  align-items: center;
}

#mainMenu #btnToggle span {
  display: block;
  width: 32px;
  height: 2px;
  margin: 4px;
  transition: var(--humburger);
  background: #fff;
}

#mainMenu input:checked~#btnToggle span:first-child {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}

#mainMenu input:checked~#btnToggle span:nth-child(2) {
  transform: scale(.2, .2);
  opacity: 0;
}

#mainMenu input:checked~#btnToggle span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
  opacity: 1;
}

#mainMenu .nav-menu {
  visibility: hidden;
  visibility: hidden;
  width: 100%;
  height: 0;
  transition: var(--opacity);
  opacity: 0;
  background: transparent;
}

#mainMenu input:checked~.nav-menu {
  visibility: visible;
  height: 100vh;
  opacity: 1;
}

.nav-menu .navbar {
  position: absolute;
  top: 78px;
  right: 0;
  overflow-y: scroll;
  width: 234px;
  height: calc(100% - 78px);
  background: var(--dark-l);
}

.nav-menu .business-offer {
  font-family: var(--contentFont);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 172px;
  height: 78px;
  text-transform: uppercase;
  color: var(--black-olive);
  background: #fff;
  background: var(--dark-vanilla);
}

.business-offer a {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.business-offer img {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  transform: rotate(225deg);
}

.navbar nav ul li {
  display: flex;
  width: 100%;
  min-height: 78px;
  align-items: center;
}

.navbar nav ul li a {
  width: 100%;
  min-height: 100%;
  padding: 0 60px;
  font-family: var(--contentFont);
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.navbar ul li:nth-child(n+7) {
  display: none;
}

.nav-menu .topbar {
  display: flex;
  width: calc(100% - 78px);
  height: 78px;
  justify-content: space-between;
}

.topbar .topnav {
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.topbar .like-btn {
  display: flex;
  width: 78px;
  min-width: 78px;
  height: 78px;
  background: var(--dark-vanilla);
  justify-content: center;
  align-items: center;
}

.topnav nav {
  display: flex;
  float: right;
  height: 78px;
  background: #fff;
  justify-content: flex-end;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.topnav nav>a {
  display: flex;
  width: 196px;
  min-height: 78px;
  padding: 0 30px;
  align-items: center;
}

.topbar a {
  font-family: var(--contentFont);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--dark-l);
}

.topbar .back-to-home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.topbar .logo {
  display: flex;
  visibility: hidden;
  min-width: 151px;
  height: 78px;
  opacity: 0;
  justify-content: center;
  align-items: center;
}


/* Cart block */

.nav-menu .cart-container {
  position: absolute;
  z-index: 1;
  top: 78px;
  right: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 400px;
  height: 604px;
  padding: 14.5px 0;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  align-items: center;
}

.count-of-cart {
  font-size: 10px;
  position: absolute;
  margin: 7px 0 0 4px;
  text-align: center;
  white-space: 0;
  color: #fff;
  border: none;
}

.cart-btn:hover~.cart-container {
  visibility: visible;
  opacity: 1;
}

.cart-item {
  display: flex;
  width: 308.5px;
  min-height: 133px;
}

.cart-item-image {
  display: flex;
  width: 89px;
  min-height: 133px;
  margin: 7.25px;
  justify-content: center;
  align-items: center;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 133px;
  margin: 7.25px;
  justify-content: flex-end;
}

.cart-item-heading h4 {
  font-family: var(--titleFont);
  font-size: 30px;
  color: var(--dark-xs);
}

.cart-item-description {
  margin: 13.5px 13.5px 0;
}

.cart-container .like-btn {
  position: absolute;
  bottom: 28px;
  width: 285px;
  height: 51px;
  letter-spacing: .2em;
  color: #fff;
  border: 1px solid #d6b5ac;
  background-color: #d6b5ac;
}

.cart-item-description ul li {
  font-family: var(--contentFont);
  font-size: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--dark-xs);
}

.cart-item-description ul li span {
  padding-left: 5px;
}

.cart-container .remainder {
  font-family: var(--contentFont);
  font-size: 16px;
  margin: 28.5px;
  text-decoration: underline;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--dark-xs);
}

.visibile {
  visibility: visible !important;
  opacity: 1 !important;
}


/* Imprint block */

.imprint-container {
  position: absolute;
  z-index: 4;
  top: 78px;
  right: 0;
  display: flex;
  visibility: hidden;
  width: 626px;
  height: 313px;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  justify-content: space-between;
}

.imprint-container>div {
  width: 50%;
}

.imprint-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imprint-logo {
  position: absolute;
  width: 78px;
  height: 78px;
}

.imprint-container>span {
  width: 2px;
  height: 80%;
  background: var(--dark-vanilla);
  align-self: center;
}

.topnav nav a:nth-child(3):hover~.imprint-container {
  visibility: visible;
  opacity: 1;
}

.imprint-content {
  font-family: var(--contentFont);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 44px;
  letter-spacing: .1em;
  color: var(--dark-xs);
  justify-content: center;
}

.imprint-content p {
  font-size: 14px;
}

.imprint-content ul {
  margin-left: 40px;
}

.imprint-content ul~a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.imprint-content ul~a span {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--dark-vanilla);
}

.imprint-content>* {
  display: block;
  margin: 14px;
}

.imprint-content ul li {
  display: flex;
  height: 34px;
}

.imprint-content ul li a {
  width: 100%;
}

.imprint-content li::before {
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  content: '\2022';
  color: #d6b5ac;
}

@media screen and (max-width: 994px) {
  .topnav nav>a:nth-child(1) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(4) {
    display: flex;
  }
}

@media screen and (max-width: 798px) {
  .topnav nav>a:nth-child(2) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(3) {
    display: flex;
  }
}

@media screen and (max-width: 602px) {
  .topnav nav>a:nth-child(3) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(2) {
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  .topbar .logo {
    width: 100%;
    min-width: 78px;
  }
  .nav-menu .business-offer {
    display: none;
  }
  .nav-menu .navbar {
    width: 100%;
  }
  .navbar nav ul li a {
    text-align: center;
  }
  .navbar ul li {
    padding: auto;
    justify-content: center;
  }
  .navbar nav ul li:nth-last-child(1) {
    display: flex;
  }
}

.nav-slide {
  position: absolute;
  bottom: 40px;
}

.dot {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  border: 3px solid rgba(255, 255, 255, .9);
  border-radius: 100%;
  background: transparent;
}

.chat-container {
  position: fixed;
  z-index: 0;
  bottom: 0;
  width: 100%;
  max-width: var(--max);
}

.chat-window {
  position: absolute;
  z-index: 0;
  right: 20px;
  bottom: 77px;
  visibility: hidden;
  width: 279px;
  height: 436px;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.chat-window:after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -18px;
  width: 0;
  height: 0;
  content: '';
  border-right: 28px solid #fff;
  border-bottom: 18px solid transparent;
  border-left: 18px solid transparent;
}

.chat-heading {
  display: flex;
  width: 279px;
  height: 51px;
  padding: 21px;
  background: var(--dark-vanilla);
  align-items: center;
  justify-content: space-between;
}

.chat-heading h5 {
  font-size: 12px;
  letter-spacing: .1em;
}

.chat-logo {
  position: relative;
  top: -17px;
  display: block;
  width: 57px;
  height: 57px;
  padding: 4px;
  border-radius: 100%;
  background: #fff;
}

.chat-history {
  overflow-y: scroll;
  height: 70%;
  padding: 21px;
}

.chat-message {
  padding: 14px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container textarea {
  font-family: var(--contentFont);
  width: 222px;
  height: 30px;
  padding: 5px;
  border: 1px solid #707070;
  outline: none;
}

.form-container textarea::placeholder {
  font-family: var(--contentFont);
  font-size: 12px;
}

.send-btn {
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: var(--dark-vanilla);
  justify-content: center;
  align-items: center;
}

.chat-button,
.chat-container input {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: var(--dark-l);
  justify-content: center;
  align-items: center;
}

.chat-container input {
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.chat-container input:checked~.chat-window {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.chat-icon {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 14px;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.chat-icon:after {
  position: absolute;
  z-index: 1;
  top: 28px;
  right: 12px;
  width: 0;
  height: 0;
  content: '';
  border-right: 6px solid #fff;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}

.chat-icon span {
  position: relative;
  width: 10px;
  height: 1px;
  background: var(--dark-l);
}

.chat-icon span:not(:first-child) {
  margin-top: 3px;
}

.btn,
.like-btn {
  font-family: var(--contentFont);
  display: flex;
  letter-spacing: .2em;
  text-transform: uppercase;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  font-family: var(--contentFont);
  font-size: 16px;
  line-height: 270%;
  min-width: 139px;
  min-height: 62px;
  padding: 0 17px;
  color: #000;
  border: 1px solid #000;
  background: transparent;
}

.btn-outline-pink {
  color: var(--parrot-pink);
  border: 1px solid var(--parrot-pink);
}

.btn-round {
  font-size: 10px;
  line-height: 150%;
  width: 111px;
  height: 111px;
  color: #fff;
  border-radius: 100%;
  background: var(--desert-sand);
}

.btn-arrow span {
  display: flex;
  width: 78px;
  height: 78px;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  border: var(--border);
}

.hr,
.like-hr,
.underline {
  width: 59px;
  height: 2px;
  border: 1.5px solid var(--white-chocolate);
  background: var(--white-chocolate);
  text-align: center;
}

.hr-title {
  width: 197px;
  margin: 20px 0 32px;
}

.hr-dark {
  border: 1.5px solid #000;
  background: #000;
}

/* card */

.card * {
  border: var(--border);
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.card-flavor {
  width: 218px;
  min-height: 298px;
  margin: 9px;
}

.card-body {
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-img-top {
  display: flex;
  width: 100%;
  max-height: 210px;
  justify-content: center;
  align-items: flex-end;
}

.card-title {
  line-height: 19px;
  display: block;
  width: 120px;
  text-align: center;
  letter-spacing: .1em;
}

.card-link {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/***/

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.start-screen {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

section .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%; 
}

 .content{
  width: 100%;
  max-width: var(--content);
  margin: 88px auto;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  justify-content: space-between;
  align-items: center;
}

.inspiration-section .container,
.inspiration-section .card-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspiration-section .card-list {
  justify-content: center;
  flex-wrap: wrap;
}

.inspiration-section .btn-arrow {
  height: 210px;
  align-self: flex-start;
}

.inspiration-section .arrow-btn img {
  margin-top: 100px;
}

.title,
.like-title {
  display: block;
  max-width: 743px;
  text-align: center;
  color: var(--pastel-pink);
  word-wrap: break-word;
}

.subtitle {
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}

.composition-section .container {
  width: 100%;
}

.set,
.set-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.set-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.set-image img {
  width: 100%;
}

.set-name {
  line-height: 74px;
}

.set-description {
  line-height: 25px;
  display: block;
  max-width: 514px;
  margin: 20px 0 0;
  text-align: center;
}

.set .btn {
  margin: 20px 0 0;
}

.box-composing {
  background-image: url(../../assets/images/mask-box-composing.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.box-composing * {
  color: #000;
}

.box-composing .content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0 0 10%;
  align-items: flex-start;
}

.list {
  margin: 57px 0 0 0;
}

.list-point {
  display: flex;
  width: 44px;
  min-width: 44px;
  height: 44px;
  margin: 0 2.75em 0 .9em;
  border: 2px solid var(--dark-l);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;
  margin: 21px 0;
}

.list-item span:not(:first-child) {
  font-size: 1.125em;
  display: flex;
  max-width: 329px;
  align-items: center;
}

.list-item:last-child span:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.box-composing h2 {
  line-height: 94px;
}

.box-composing p,
.box-composing li {
  line-height: 25px;
  letter-spacing: 100%;
}

.box-composing img {
  margin: 32px 0 0;
}

.call-to-action {
  margin-top: 52px;
}

.button-container {
  display: flex;
  width: 40%;
  min-width: var(--min);
  justify-content: center;
  align-items: flex-end;
}

.cookie-box-container {
  display: flex;
  width: 100%;
  height: 560px;
  justify-content: center;
  align-items: flex-start;
}

.cookie-box {
  position: relative;
  width: 280px;
  box-shadow: 0 5px 80px 24px #222;
}

.cookie-box__lid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  border-top: 2px solid rgba(255, 255, 255, .2);
  border-bottom: 2px solid rgba(0, 0, 0, .16);
  background: #fff;
  background-image: url(../../assets/images/lid.png);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
}

.cookie-box__head {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 120px;
  transition: .5s background ease;
  border-top: 2px solid rgba(0, 0, 0, .26);
  background: rgba(200, 146, 135, 255);
  clip-path: polygon(2% 0, 98% 0, 94% 100%, 6% 100%);
}

.cookie-box__body {
  position: absolute;
  top: 189px;
  width: 100%;
  height: 336px;
  border: 1px solid rgba(0, 0, 0, .16);
  background: #c58c82;
  background-image: url(../../assets/images/inbox_optimized.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 99%;
  clip-path: polygon(6% 0, 94% 0, 94% 100%, 6% 100%);
}

.cookie-box__shadow {
  position: absolute;
  top: 196px;
  left: 23px;
  width: 235px;
  height: 326px;
  background: transparent;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, .7);
}

@media screen and (max-width: 1365px) {
  .card-flavor:nth-last-child(1) {
    display: none;
  }
}

@media screen and (max-width: 1135px) {
  .card-flavor:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 905px) {
  .card-flavor:nth-last-child(3) {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .button-container {
    margin: 40px 0;
  }
}

@media screen and (max-width: 675px) {
  .card-flavor:nth-last-child(4) {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  body {
    font-size: 12px;
  }
  .btn-arrow span {
    width: 25px;
    line-height: 25px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

