@import '../../assets/styles/main.css';

.main {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 4.875rem 0 0;
}

.breadcrumb {
  max-width: calc(var(--content) - 9.375rem);
  margin: 1.8rem auto;
}

.breadcrumb__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  margin: .25rem .5rem;
  align-items: center;
}

.breadcrumb__item>* {
  margin: 0 .25rem;
}

.breadcrumb__icon.material-icons {
  font-size: 1rem;
  color: var(--outer-space);
}

.breadcrumb__link {
  font: normal .625rem/12px var(--contentFont);
  letter-spacing: .1em;
  color: var(--outer-space);
}

.breadcrumb__link:hover {
  color: var(--dark-vanilla);
}

.sets-block {
  width: 100%;
  max-width: calc(var(--content) - 9.375rem);
  margin: 0 auto;
}

.sets-block__body {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.stack {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.sets-block__content {
  width: 100%;
}

.sets-block__footer {
  display: flex;
  height: 160px;
  align-items: center;
}

.sets-block__pagination {
  width: 100%;
  max-width: calc(var(--content) - 9.375rem);
  margin: 0 auto;
}

@media (max-width: 1010px) {
  .sets-block__pagination {
    width: auto;
  }
}

.pagination * {
  border: none;
}

.pagination__list {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 14px;
  align-items: flex-start;
}

.pagination__item {
  display: flex;
  min-width: 40px;
  padding: 0 8px;
  border-left: 2px solid var(--outer-space);
  justify-content: center;
}

.pagination__item:first-child {
  border-left: none;
}

.pagination__link {
  font: normal 16px/14px var(--contentFont);
  color: var(--outer-space);
}

.pagination__link:hover {
  color: var(--dark-vanilla);
}

.pagination__link .material-icons {
  font-size: 16px;
  line-height: 14px;
}

.pagination__link_disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
}

/*set card*/

.set-card {
  box-sizing: content-box;
  width: 270px;
  margin: 1.75rem 10px;
}

.set-card__figure {
  overflow: hidden;
}

.set-card__image {
  width: 100%;
}

.set-card__body {
  display: flex;
  flex-direction: column;
  width: 190px;
  min-height: 150px;
  margin: 32px auto;
  align-items: center;
  justify-content: space-between;
}

.set-card__title {
  font: normal 30px/20px var(--titleFont);
  text-align: center;
  color: var(--quartz);
}

.set-card__copy {
  font: normal 14px/21px var(--contentFont);
  text-align: center;
  letter-spacing: .1em;
  color: var(--outer-space);
}

.set-card__copy.price {
  font: normal 30px/20px var(--titleFont);
  color: var(--quartz);
}

.set-card__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-card__button {
  font: normal 14px/14px var(--contentFont);
  display: flex;
  min-width: 137px;
  min-height: 40px;
  padding: 8px 16px;
  text-align: center;
  letter-spacing: .2em;
  color: var(--parrot-pink);
  border: 1px solid var(--parrot-pink);
  justify-content: center;
  align-items: center;
}

.set-card__button:hover {
  color: var(--outer-space);
  border-color: var(--outer-space);
}

@media (max-width: 500px) {
  .set-card {
    width: 170px;
  }
  .set-card__body {
    min-height: 98px;
    margin: 28px auto;
  }
  .set-card__title {
    font: normal 20px/13px var(--titleFont);
  }
  .set-card__copy {
    font: normal 11px/15px var(--contentFont);
  }
  .set-card__copy.price {
    font: normal 20px/13px var(--titleFont);
  }
  .set-card__button {
    font: normal 10px/10px var(--contentFont);
    min-width: 91px;
    min-height: 26px;
  }
}

.box-composing {
  width: 100%;
  max-width: var(--max);
  margin-top: 14.7rem;
  background: #ffece6;
  background-image: url(../../assets/images/mask-group.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-size: 1.1rem;
}

.box-composing__container>* {
  width: 50%;
  min-width: 320px;
  margin: 0 auto;
}

.box-composing__container {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 78px 47px;
  display: flex;
  flex-direction: row-reverse;
}

.box-composing__cookie-box {
  margin: -5rem auto 12rem;
  width: 10rem;
  height: 19.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-image: url('../../assets/images/box_2x.png');
  border-image-slice: 1 fill;
  border-image-outset: 37.5rem;
}

/*viewport for cookie box */

@media (max-width: 1100px) {
  .box-composing__cookie-box {
    border-image-outset: 500px;
  }
  .box-composing {
    margin-top: 195.2px;
  }
}

@media (max-width: 900px) {
  .box-composing__cookie-box {
    border-image-outset: 400px;
  }
  .box-composing {
    margin-top: 145.2px;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .box-composing__cookie-box {
    border-image-outset: 350px;
  }
  .box-composing {
    margin-top: 120.2px;
  }
}

@media (max-width: 700px) {
  .box-composing__cookie-box {
    border-image-outset: 300px;
  }
  .box-composing {
    margin-top: 100.2px;
  }
}

@media (max-width: 600px) {
  .box-composing__cookie-box {
    border-image-outset: 250px;
  }
  .box-composing {
    /*margin-top: 200.2px;*/
  }
}

@media (max-width: 500px) {
  .box-composing__cookie-box {
    margin: -10rem auto 8rem;
    border-image-outset: 200px;
  }
  .box-composing {
    margin-top: 150.2px;
  }
}

.box-composing__heading {
  max-width: 43.75rem;
}

.box-composing__list {
  max-width: 25rem;
  margin: 4.1875rem 0 0 2.8%;
}

.box-composing__item {
  display: flex;
  margin: 0 0 1.3125rem;
  align-items: flex-start;
}

.box-composing__copy {
  margin: 0.625em 0;
}

.box-composing__point {
  font: 1.125em/1.5625em var(--contentFont);
  display: flex;
  width: 2.75em;
  min-width: 2.75em;
  height: 2.75em;
  margin: 0 2em 0 0;
  border: 0.125em solid var(--black-olive);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.box-composing__footer {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 0 47px 78px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.box-composing__container {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 78px 47px 0;
  display: flex;
  flex-direction: row-reverse;
}

.box-composing__footer>div {
  width: 100%;
}

.box-composing__container>* {
  min-width: 320px;
  margin: 0 auto;
}

.box-composing__footer>div * {
  margin: 1rem 0;
}

.box-composing__actions {
  display: flex;
  justify-content: center;
}

.box-composing__button {
  white-space: nowrap;
  color: #000;
}

.box-composing__footer p {
  font: 1.125em/1.5625em var(--contentFont);
  display: flex;
  max-width: 21.875em;
  padding: 10px 0 0;
  letter-spacing: 0.1em;
  align-items: center;
}

@media (max-width: 700px) {
  .box-composing__container,
  .box-composing__footer {
    flex-wrap: wrap;
  }
  .box-composing__container>*,
  .box-composing__footer>* {
    width: 100%;
    min-width: 240px;
  }
  .box-composing__heading {
    max-width: 100%;
  }
  .box-composing__list {
    max-width: 100%;
    margin: 4.1875rem 0 0 1.8%;
  }
}

@media (max-width: 490px) {
  .box-composing__list {
    max-width: 100%;
    margin: 4.1875rem 0;
  }
  .box-composing__point {
    margin: 0 1em 0 0;
  }
  .box-composing__container,
  .box-composing__footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.breadcrumb__item:last-child,
.isDisabled {
  opacity: .5;
}

.breadcrumb__item:last-child>a,
.isDisabled>a {
  text-decoration: none;
  pointer-events: none;
  color: currentColor;
}

.stack--horizontal {
  display: flex;
  flex-wrap: wrap;
}

.tagbar .stack__item.button {
  font: normal 12px/17px var(--contentFont);
  overflow: hidden;
  height: 37px;
  margin: 6px 4px;
  padding: 0 18px;
  white-space: nowrap;
  letter-spacing: .2em;
  text-overflow: ellipsis;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  transition: 0.2s color ease-in-out, 0.2s border ease-in-out;
}

.tagbar .stack__item.button:hover {
  border-color: var(--parrot-pink);
  color: var(--parrot-pink);
}

.tagbar .stack__item.button:active {
  border-color: #99817A;
  color: #99817A;
}

.tagbar {
  max-width: calc(var(--content) - 9.375rem);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  justify-content: space-between;
  margin: 20px;
}

.filter__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter__label {
  font: 14px/27px var(--contentFont);
  text-transform: capitalize;
}

.dropdown {
  user-select: none;
  background: transparent;
  border-bottom: 1px solid #000;
}

.dropdown__select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.options {
  position: absolute;
  z-index: 9;
  top: 100%;
  right: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  transition: .4s all;
  pointer-events: none;
  opacity: 0;
  background: #fff;
  box-shadow: 0 2px 2px 1px #bbb;
}

.dropdown__select.opened .options {
  height: auto;
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.option,
.dropdown__item-current {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.option {
  margin: 20px 0;
}

.option__text:hover {
  color: var(--dark-vanilla);
  cursor: pointer;
}

.option__image,
.dropdown__image_current {
  max-width: 2.125rem;
  max-height: 2.125rem;
}

.option__text,
.dropdown__text-current {
  font: 14px/25px var(--contentFont);
  margin: 0 10px;
}

.dropdown__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
}

.opened .dropdown__arrow {
  transform: rotate(-180deg);
}

@media screen and (max-width: 768px) {
  .filter {
    margin: 20px auto;
  }
}

@media (max-width: 1200px) {
  .tagbar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .tagbar .stack--horizontal {
    width: 100%;
    justify-content: center;
  }
}
