@import '../assets/styles/main.css';

* {
  /*border: var(--border);*/
}

body > * {
  margin: 1rem auto;
  max-width: 100%;
}

html {
  scrollbar-width: none
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollbox {
  height: 100%;
  position: relative;
}

.scrollbox__arrow {
  position: absolute;
  right: -0.5px;
  transition: 0.2s color ease-in-out;
}

.scrollbox__arrow span {
  font-weight: bold;
}

.scrollbox__arrow:hover {
  color: var(--rosy-brown);
}

.scrollbox__arrow.up {
  top: 0;
}

.scrollbox__arrow.down {
  bottom: 0;
}

.scrollbox__arrow.inactive {
  pointer-events: none;
  opacity: 0.4;
}

.scrollbox__container {
  display: block;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 54.9px 0 0;
  width: calc(100% - 9px);
  height: 100%;
  scrollbar-width: none;
}

.scrollbox__container::after {
  position: absolute;
  z-index: -1;
  top: 54.2px;
  right: 11px;
  width: 1px;
  height: calc(100% - 54.2px * 2);
  content: '';
  background: #707070;
}

.scrollbox__container::-webkit-scrollbar {
  position: relative;
  display: block;
  width: 3px;
  background: transparent;
}

.scrollbox__container::-webkit-scrollbar-track {
  background: transparent;
  margin: 27.1px 0;
}

.scrollbox__container::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.scrollbox__container::-webkit-scrollbar-track-piece:end {
  margin-bottom: 27.1px;
  background: transparent;
}

.scrollbox__container::-webkit-scrollbar-track-piece:start {
  margin-top: 27.1px;
  background: transparent;
}

.test-content {
  width: 100%;
  min-width: 540px;
  height: 1200px;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*Buttons*/
.buttons__inner > * {
  margin: 0.5rem;
}

.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  background: transparent;
  transition: 0.15s outline ease-in-out, 0.2s color ease-in-out, 0.2s background ease-in-out;
}

a.button {
  text-decoration: none;
}

.button:active {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: default;
  pointer-events: none;
}

.button-outlined {
  outline: 1px solid #000;
}

.button-outlined:active {
  outline: 1px solid  #777;
  color: #777;
}

.button-contained {
  outline: 1px solid #777;
  background-color: #777;
  color: #fff;
 }

.button-contained:active {
  outline: 1px solid  #000;
  color: #000;
}

.button-outlined_parrot-pink {
  outline-color: var(--parrot-pink);
  color: var(--parrot-pink);
}

.button-outlined_parrot-pink:hover {
  outline-color: #996B6B;
  color: #996B6B;
}

.button-outlined_parrot-pink:active {
  outline-color: #FFB3B3;
  color: #FFB3B3;
}

.button-contained_parrot-pink {
  outline: 1px solid var(--parrot-pink);
  background-color: var(--parrot-pink);
  color: #fff;
}

.button-contained_parrot-pink:hover {
  outline: 1px solid #996B6B;
}

.button-contained_parrot-pink:active {
  outline: 1px solid #FFB3B3;
  background-color: #996B6B;
  color: #fff;
}

.button-outlined_dark-vanilla {
  outline-color: var(--dark-vanilla);
  color: var(--dark-vanilla);
}

.button-outlined_dark-vanilla:hover {
  outline-color: #99817A;
  color: #99817A;
}

.button-outlined_dark-vanilla:active {
  outline-color: #FFD7CC;
  color: #99817A;
}

.button-contained_dark-vanilla {
  outline: 1px solid var(--dark-vanilla);
  background-color: var(--dark-vanilla);
  color: #fff;
}

.button-contained_dark-vanilla:hover {
  outline: 1px solid #99817A;
}

.button-contained_dark-vanilla:active {
  outline: 1px solid #FFD7CC;
  background-color: #99817A;
  color: #fff;
}

.button_size_l {
  font: normal 1rem/1.6875rem var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-height: 3.75rem;
  min-width: 6.125rem;
  padding: 1.4375rem 1.0625rem;
}

.button_size_m {
  font: normal 1rem/1.6875rem var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-height: 3.25rem;
  min-width: 6.125rem;
  padding: 0.875rem 1rem;

}

.button_size_s {
  font: normal 1rem/1.6875rem var(--contentFont);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-height: 2.5rem;
  min-width: 6.125rem;
  padding: 0.875rem 0.5625rem;
}

.button_rounded {
  font: normal 0.75rem/1.125rem var(--contentFontM);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-width: 6.9375rem;
  height: 6.9375rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50%;
  padding: 0.75rem;
}

.button-arrow {
  min-width: 2.125rem;
  min-height: 2.125rem;
}

.button-arrow_parrot-pink {
  color: var(--parrot-pink);
}

.button-arrow_parrot-pink:hover {
  color: #D6B5AC;

}

/*titles*/
.h1, .h2 {
  font: normal 5.875rem/5.375rem var(--titleFont);
}
.h3 {
  font: normal 5rem/5.375rem var(--titleFont);
}
.h4 {
  font: normal 4.125rem/4.625rem var(--titleFont);
}
.h5 {
  font: normal 2.5rem/2.8125rem var(--titleFont);
}
.h6 {
  font: normal 1.875rem/1.25rem var(--titleFont);
}

/*paragraph*/
.paragraph_upper_l {
  font: normal 1.125rem/25px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.paragraph_upper {
  font: normal 1rem/25px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.paragraph {
  font: normal 1rem/25px var(--contentFont);
  letter-spacing: 0.025em;
}

/*underlines*/
.underline {
  display: inline-block;
  border: none;
  height: 3px;
  min-width: 3.6875rem;
  background: #dddddd;
}

.underline_heading {
  display: inline-block;
  border: none;
  height: 3px;
  min-width: 12.3125rem;
  background: #dddddd;
}

/*makaroniki
z nadrukiem of topbar menu*/
.printing {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: max-content;
  max-width: 660px;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header-menu .printing {
  position: absolute;
  right: -78px;
  top: 78px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: var(--opacity-delay);
}

.printing__figure, .printing__nav {
  width: 19rem;
}

.printing__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.printing__image_print {
  position: absolute;
}

.printing__vertical-border {
  width: 1px;
  height: 72%;
  background: var(--dark-vanilla);
  align-self: center;
}

.printing__nav {
  padding: 2.875rem 2.875rem 2rem;
}

.printing__list {
  font: normal 0.875rem/18px 'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #3C3C3C;
}

.printing__list_external {
  list-style: none;
}

.printing__list_internal {
  margin: 1.3125rem 0  0.8125rem 12px;
  list-style-type: none;
}

.printing__item {
  width: 100%;
  height: 2.125rem;
}

.printing__link {
  text-decoration: none;
  transition: 0.1s color ease-in-out;
}

.printing__link:hover {
  color: #99817a;
}

.printing__item_underline:hover > .material-icons, 
.printing__item_underline:hover > .printing__link {
  color: var(--dark-vanilla);
  cursor: pointer;
}

.printing__item > .material-icons {
  transition: 0.15s transform ease-in-out;
}

.printing__item:hover > .material-icons {
  transform: translateX(2px);
}

.printing__item_underline {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.printing__item_underline > .printing__link {
  padding-bottom: 0.59375rem;
 border-bottom: 1px solid var(--dark-vanilla);
}

.printing__list_internal .printing__item::before {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 1.5rem;
  margin-left: -0.5rem;
  content: '\2022';
  color: var(--dark-vanilla);
}

/*Cart container*/

.cart-preview {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
  padding: 0.90625rem 0 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  align-items: center;
  justify-content: center;
}

.header-menu .cart-preview {
  position: absolute;
  right: -78px;
  top: 78px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: var(--opacity-delay);
}

.cart-preview__item {
  display: flex;
  justify-content: space-between;
  width: 275px;
  min-height: 8.3125rem;
}

.cart-preview__figure {
  display: flex;
  min-width: 5.5625rem;
  min-height: 8.3125rem;
  justify-content: center;
  align-items: center;
}

.cart-preview__image {
  width: 100%;
}

.cart-preview__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 8.3125rem;
  margin: 0.453125rem;
  justify-content: center;
}

.cart-preview__heading {
  width: max-content;
}

.cart-preview__name {
  max-width: 12.5rem;
  color: var(--quartz);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart-preview__description {
  margin: 0.84375rem 0.84375rem 0;
  list-style: none;
}

.cart-preview__description-item {
  font: normal 1rem/1.3125rem var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--outer-space);
}

.cart-preview__quantity,
.cart-preview__price,
.cart-preview__cost {
  padding-left: 0.3125rem;
}

.cart-preview__footer {
  display: flex;
  margin: 0.90625rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-preview__footer > * {
  margin:0 0 0.8125rem;
}

.cart-preview__remainder {
  font: normal 1rem/1.3125rem var(--contentFont);
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--outer-space);
  transition: 0.1s color ease-in-out; 
}

.cart-preview__remainder:hover {
  text-decoration-color: #996B6B;
  color: #996B6B;
}

.cart-preview__button {
  width: 17.1875rem;
}

/*dropdown menu*/

.main-nav {
  overflow-y: scroll;
  width: 14.625rem;
  height: calc(100% - 4.875rem);
  background: var(--black-olive);
  scrollbar-width: none;
}

.header-menu .main-nav {
  position: absolute;
  right: 0;
  top: 4.875rem;
  visibility: hidden;
  opacity: 0;
  transition: var(--opacity);
}

.main-nav__list {
  margin: 1.75rem 0 25rem;
}

.main-nav__item {
  display: flex;
  width: 100%;
  min-height: 4.375rem;
  align-items: center;
  justify-content: center;
}

.main-nav__link {
  display: inline-block;
  padding: 0.5rem 3.75rem;
  font: normal 0.875rem/1.125rem 'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
  transition: 0.1s color ease-in-out;
}

.main-nav__link:hover {
  color: var(--dark-vanilla);
}

.main-nav::-webkit-scrollbar {
  position: relative;
  display: block;
  width: 1px;
  background: transparent;
}

.main-nav::-webkit-scrollbar-track {
  background: transparent;
  margin: 27.1px 0;
}

.main-nav::-webkit-scrollbar-thumb {
  background-color: var(--dark-vanilla);
}

.main-nav::-webkit-scrollbar-track-piece:end {
  margin-bottom: 27.1px;
  background: transparent;
}

.main-nav::-webkit-scrollbar-track-piece:start {
  margin-top: 27.1px;
  background: transparent;
}

/*topnav line-menu*/

.topnav {
  display: flex;
  width: 100%;
  max-width: calc(100% - 4.875rem);
  height: 4.875rem;
  justify-content: flex-end;
  position: relative;
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, .16);*/ /*only main page*/
}

.topnav__list {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  flex-wrap: wrap;
  overflow: hidden;
}

.topnav__item {
  display: flex;
  width: 12.25rem;
  min-height: 4.875rem;
  height: 100%;
  padding: 0 1.875rem;
  align-items: center;
}

.topnav__link {
  font: normal 0.875rem/1.125rem 'Monument Grotesk', sans-serif;
  text-transform: uppercase;
  color: #3C3C3C;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.1s color ease-in-out;
}

.topnav__link:hover {
  color: var(--dark-vanilla);
}

.topnav__link .material-icons {
  transition: 0.1s transform ease-in-out;
}

/*.topnav__link:hover > .material-icons {
 transform: translateY(4px);
}*/

.topnav__item_user,
.topnav__item_cart {
  width: 4.875rem;
  height: 4.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-vanilla);
  border: 1px solid transparent;
  transition: 0.15s border ease-in-out, 0.2s color ease-in-out, 0.2s background ease-in-out;
}

.topnav__item_cart .topnav__link {
  position: relative;
}

.topnav__item_user:hover,
.topnav__item_cart:hover {
  border-color: #99817A;
}

.topnav__item_cart:hover > .cart-preview {
  visibility: visible;
  opacity: 1;
}

.topnav__item_hasChild:hover > .topnav__link {
  color: var(--dark-vanilla);
}

.topnav__item_hasChild:hover  .material-icons:first-child {
  transform: translateY(4px);
}

.topnav__item_hasChild:hover > .printing {
  visibility: visible;
  opacity: 1;
}

.topnav__item_user:active,
.topnav__item_cart:active {
  border: 1px solid #FFD7CC;
  background-color: #99817A;
  color: #fff;
}

.topnav__link_icon {
  width: 1.1875rem;
  height: 2.125rem;
}

.topnav__item_cart_counter {
  font: 0.875rem/0 'Monument Grotesk', sans-serif;
  padding: 1.8rem 0 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.topbar {
  width: 100%;
  max-width: calc(100% - 4.875rem);
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  background: #fff;
}

.topbar__logo {
  display: flex;
  min-width: 9.4375rem;
  height: 4.875rem;
  justify-content: center;
  align-items: center;
}

.topbar__logo img {
  width: 100%;
}

.checkbox-toogle-menu {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 4.875rem;
  height: 4.875rem;
  cursor: pointer;
  opacity: 0;
}

.button-toogle-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  min-width: 4.875rem;
  min-height: 4.875rem;
  background: #444;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-toogle-menu:hover ~ .button-toogle-menu {
  border-color: #99817A;
}

.button-toogle-menu span {
  display: block;
  width: 2rem;
  height: 2px;
  margin: 0.25rem;
  transition: var(--humburger);
  background: #fff;
}

.checkbox-toogle-menu:checked~.button-toogle-menu span:first-child {
  transform: rotate(45deg) translate(0.4375rem, 0.4375rem);
  opacity: 1;
}

.checkbox-toogle-menu:checked~.button-toogle-menu span:nth-child(2) {
  transform: scale(0.2, 0.2);
  opacity: 0;
}

.checkbox-toogle-menu:checked~.button-toogle-menu span:last-child {
  transform: rotate(-45deg) translate(0.4375rem, -0.4375rem);
  opacity: 1;
}

.checkbox-toogle-menu:checked~ .header-menu_inner {
  height: 100vh;
}

.checkbox-toogle-menu:checked~ .header-menu_inner .main-nav {
  visibility: visible;
  opacity: 1;
}

.checkbox-toogle-menu:checked~ .header-menu_inner .button_business-offer  {
  visibility: visible;
  opacity: 1;
}

/*header menu*/

.header-menu {
  width: 100%;
  height: auto;
  background: #eee;
  position: relative;
}

.header-menu_inner {
  height: 0px;
}

.button_business-offer {
  font: 0.875rem/1.125rem 'Monument Grotesk', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10.75rem;
  height: 4.875rem;
  text-transform: uppercase;
  color: var(--black-olive);
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.49375rem 0.4375rem;
  opacity: 0;
  visibility: hidden;
  transition: var(--opacity-delay);
}

.button_business-offer .material-icons {
  align-self: flex-start;
}


/*chat*/
.chat {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: var(--max);
}

.chat-popup {
  position: relative;
  width: 17.4375rem;
  min-height: 27.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: var(--opacity);
  background: #fff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, .16);
}

.chat .chat-popup {
  position: absolute;
  right: 1.25rem;
  bottom: 4.8125rem;
  visibility: hidden;
  opacity: 0;
}

.chat-popup:after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -1.125rem;
  width: 0;
  height: 0;
  content: '';
  border-right: 1.75rem solid #ffffff;
  border-bottom: 1.125rem solid transparent;
  border-left: 1.125rem solid transparent;
}

.chat-popup__heading {
  display: flex;
  width: 17.4375rem;
  height: 3.1875rem;
  padding: 0 1.875rem 0 1.25rem;
  background-color: var(--dark-vanilla);
  align-items: center;
  justify-content: space-between;
}

.chat-popup__heading h5 {
  font: normal 0.75rem/1.5625rem var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.chat-popup__logo {
  position: relative;
  top: -1.0625rem;
  display: block;
  width: 3.5625rem;
  height: 3.5625rem;
  padding: 0.25rem;
  border-radius: 100%;
  background: #fff;
}

.chat-popup__history {
  overflow-y: scroll;
  min-height: 21.25rem;
  max-height: 70vh;
  padding: 21px;
  color: var(--outer-space);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  scrollbar-width: none;
}

.chat-popup__message {
  padding: 0.875rem;
}

.chat-popup__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 0.625rem;
  padding: 1.3125rem;

}

.chat-popup__textarea {
  font: normal 0.75rem/1.5625rem var(--contentFont);
  min-width: 13.25rem;
  height: 2.25rem;
  padding: 0.3125rem;
  margin: 0.3125rem;
  border: 1px solid #707070;
  outline: none;
}

.chat-popup__textarea::placeholder {
  font: normal 0.75rem/1.5625rem var(--contentFont);
}

.chat__button_submit {
  display: inline-flex;
  min-width: 1.375rem;
  min-height: 1.375rem;
  max-width: 1.375rem;
  max-height: 1.375rem;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.chat__button_submit img {
  width: 50%;
}

.chat__button,
.chat input {
  position: absolute;
  right: 0.9375rem;
  bottom: 0.9375rem;
  display: flex;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 100%;
  background: var(--black-olive);
  justify-content: center;
  align-items: center;
}

.chat input {
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.chat input:checked~.chat-popup {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.chat__icon {
  display: flex;
  flex-direction: column;
  width: 1.125rem;
  height: 0.875rem;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.chat__icon:after {
  position: absolute;
  z-index: 1;
  top: 1.75rem;
  right: 0.75rem;
  width: 0;
  height: 0;
  content: '';
  border-right: 0.375rem solid #fff;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}

.chat__icon span {
  position: relative;
  width: 0.625rem;
  height: 0.0625rem;
  background: var(--black-olive);
}

.chat__icon span:not(:first-child) {
  margin-top: 0.1875rem;
}


@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

/*@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}*/

.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.visibile {
  visibility: visible;
}

@media (max-width: 768px) {
  .hidden {
    display: flex;
  }
}

::-webkit-scrollbar {
  position: relative;
  display: block;
  width: 2px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 27.1px 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-vanilla);
}

::-webkit-scrollbar-track-piece:end {
  margin-bottom: 27.1px;
  background: transparent;
}

::-webkit-scrollbar-track-piece:start {
  margin-top: 27.1px;
  background: transparent;
}


* {
  /*border: var(--border);*/
}
