<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Miolli Components</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h2 class="center pink">Hello Miolli</h2>
  <h3>Hello Miolli</h3>
  <h4>Hello Miolli</h4>
  <p class="paragraph border">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h4 class="uppercase pink">Hello Miolli</h4>

  <div class="brand-container">
    <img class="brand-name" src="../assets/icons/miolli.svg" alt="miolli">
    <span class="brand-tagline uppercase">smak inspiracji</span>
  </div>
  <a href="#" class="topnav-button dark-l"></a>
  <a href="#" class="topnav-button dark-vanilla">
    <img width="19" height="34" src="../assets/icons/user.svg" alt="user">
  </a>
  <div class="topnav-button dark-l" id="menuToggle">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="topnav">
    <div class="topnav-button dark-l" id="menuToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a href="#" class="topnav-button dark-vanilla">
      <img width="19" height="34" src="../assets/icons/user.svg" alt="user">
    </a>
    <a href="#" class="topnav-button dark-vanilla">
      <img width="19" height="34" src="../assets/icons/cart.svg" alt="cart">
    </a>
    <a href="#" class="topnav-item like-h5 uppercase">Item</a>
    <a href="#" class="topnav-item like-h5 uppercase">Item</a>
    <a href="#" class="topnav-item like-h5 uppercase">Duis aute irure dolor lorem hello
      <img width="19" height="24" src="../assets/icons/arrow-down.svg" alt="arrow"></a>
    </a>
  </div>
  <div class="topbar">
    <div class="logo-container">
      <a class="back-to-home" href="#" title="Miolli">
        <picture>
          <source srcset="../assets/icons/logo.svg" media="(min-width: 400px)">
          <img src="../assets/icons/logo-min.svg" alt="logo">
        </picture>
      </a>
    </div>
    <div class="topnav" id="menu">
      <input type="checkbox">
      <div class="topnav-button dark-l" id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="nav">
        <ul id="navList">
          <li><a href="#">item one</a></li>
          <li><a href="#">item two</a></li>
          <li><a href="#">item three</a></li>
          <li><a href="#">item four</a></li>
          <li><a href="#">item five</a></li>
          <li><a href="#">item six</a></li>
          <li class="hidden"><a href="#">item seven (optional)</a></li>
          <li class="hidden "><a href="#">item eight (optional)</a></li>
          <li class="hidden"><a href="#">item nine (optional)</a></li>
        </ul>
      </nav>
      <a href="#" class="topnav-button dark-vanilla">
        <img width="19" height="34" src="../assets/icons/user.svg" alt="user">
      </a>
      <a href="#" class="topnav-button dark-vanilla">
        <img width="19" height="34" src="../assets/icons/cart.svg" alt="cart">
      </a>
      <a href="#" class="topnav-item like-h5">item nine (optional)</a>
      <a href="#" class="topnav-item like-h5">item eight (optional)</a>
      <a href="#" class="topnav-item like-h5">item seven (optional)
        <img width="19" height="24" src="../assets/icons/arrow-down.svg" alt="arrow down">
      </a>
    </div>
  </div>

  <div style="margin-top: 100vh">
    <div class="topbar">
    <div class="logo-container">
      <a class="back-to-home" href="#" title="Miolli">
        <picture>
          <source srcset="../assets/icons/logo.svg" media="(min-width: 400px)">
          <img src="../assets/icons/logo-min.svg" alt="logo">
        </picture>
      </a>
    </div>
    <div class="topnav" id="menu">
      <input type="checkbox">
      <div class="topnav-button dark-l" id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="nav">
        <ul id="navList">
          <li><a href="#">o nas</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">faq</a></li>
          <li><a href="#">konfigurator on-line</a></li>
          <li><a href="#">oferta dla kawiarni</a></li>
          <li><a href="#">oferta eventowa</a></li>
          <li class="hidden"><a href="#">twoja kompozycja</a></li>
          <li class="hidden "><a href="#">gotowe sety makaroników</a></li>
          <li class="hidden"><a href="#">makaroniki z nadrukiem</a></li>
        </ul>
      </nav>
      <a href="#" class="topnav-button dark-vanilla">
        <img width="19" height="34" src="../assets/icons/user.svg" alt="user">
      </a>
      <a href="#" class="topnav-button dark-vanilla">
        <img width="19" height="34" src="../assets/icons/cart.svg" alt="cart">
      </a>
      <a href="#" class="topnav-item like-h5 uppercase">twoja kompozycja
       <img width="19" height="24" src="../assets/icons/arrow-down.svg" alt="arrow down">
     </a>
      <a href="#" class="topnav-item like-h5 uppercase">gotowe sety makaroników</a>
      <a href="#" class="topnav-item like-h5 uppercase">makaroniki&nbsp;z nadrukiem</a>
    </div>
  </div>
  </div>
  <div class="nav-slide">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <button class="chat-button">
    <div class="chat-icon">
      <span></span>
      <span></span>
    </div>
  </button>
  <button class="btn btn-primary">stwórz swoją kompozycję</button>
  <a href="" class="btn btn-primary btn-outline-pink">więcej</a>
  <h3 class="title pink">słodkie inspiracje</h3>
  <span class="like-hr"></span>
  <h4 class="subtitle">czyli jakie smaki dostępne są dziś w miolli</h4>
  <button class=" btn btn-round">filtruj po smakach sezonowych</button>

  <div class="card card-flavor">
    <div class="flavor-image">
       <img class="cookie-image" src="../assets/images/czekolada-wisnia.png" alt="cookie">
    </div>
    <span class="like-hr"></span>
    <h5 class="flavor-name">czekolada i wiśnia</h5>
  </div>

  <div class="flex-container row">
    <div class="card card-flavor">
      <div class="flavor-image">
         <img class="cookie-image" src="../assets/images/pistacja-z-limonka.png" alt="cookie">
      </div>
      <span class="like-hr"></span>
      <h5 class="flavor-name">pistacja z limonką</h5>
    </div>
    <div class="card card-flavor">
      <div class="flavor-image">
         <img class="cookie-image" src="../assets/images/pistacja-z-limonka.png" alt="cookie">
      </div>
      <span class="like-hr"></span>
      <h5 class="flavor-name">pistacja z limonką</h5>
    </div>
    <div class="card card-flavor">
      <div class="flavor-image">
         <img class="cookie-image" src="../assets/images/pistacja-z-limonka.png" alt="cookie">
      </div>
      <span class="like-hr"></span>
      <h5 class="flavor-name">pistacja z limonką</h5>
    </div>
    <div class="card card-flavor">
      <div class="flavor-image">
         <img class="cookie-image" src="../assets/images/pistacja-z-limonka.png" alt="cookie">
      </div>
      <span class="like-hr"></span>
      <h5 class="flavor-name">pistacja z limonką</h5>
    </div>
    <div class="card card-flavor">
      <div class="flavor-image">
         <img class="cookie-image" src="../assets/images/pistacja-z-limonka.png" alt="cookie">
      </div>
      <span class="like-hr"></span>
      <h5 class="flavor-name">pistacja z limonką</h5>
    </div>
  </div>

  <div class="set">
    <div class="set-header">
      <button class="btn btn-arrow"><img  src="../assets/icons/arrow-left.svg" align="arrow left"></button>
      <div class="set-image">
         <img src="../assets/images/composition.png" alt="composition">
      </div>
      <button class="btn btn-arrow"><img  src="../assets/icons/arrow-right.svg" align="arrow right"></button>
    </div>
    <div class="set-body">
      <div class="set-counter like-h5">
        <span class="current-number-set">1</span>
        <span class="сounter-delimiter">/</span>
        <span class="total-count-sets">5</span>
      </div>
      <h3 class="set-name uppercase">set na lato</h3>
      <p class="set-description like-h5">a w nim makaroniki różane, truskawkowe, jagodowe i pomarańczowe idealne do porannej mimozy</p>
      <p class="price set-price like-h3">34,-</p>
      <button class="btn btn-primary btn-outline-pink">zamów set</button>
    </div>
  </div>
  <span class="list-point like-h5">1</span>
  <span class="list-point like-h5">2</span>
  <span class="list-point like-h5">3</span>
  <span class="list-point like-h5">4</span>

  <ul class="list">
    <li class="like-h5 list-item">
      <span class="list-point">1</span>
      <span>wybierz rozmiar (6/12/24szt)</span>
    </li>
    <li class="like-h5 list-item">
      <span class="list-point">2</span>
      <span>wybierz ulubione smaki</span>
    </li>
    <li class="like-h5 list-item">
      <span class="list-point">3</span>
      <span>dodaj nadruk z naszej bazy<br> albo swój własny 
        <span class="lowercase"> to może być napis lub pełnokolorowy wydruk (np. Twoje logo)</span>
      </span>
    </li>
  </ul>

</body>
</html>
