<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Miolli Components</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h2>Start screen (logo + tagline)</h2>
  <div class="logo-container">
    <img class="logo" src="../assets/icons/miolli-logo.svg" alt="miolli logo">
    <span class="tagline">smak inspiracji</span>
  </div>
  <h2>Menu</h2>
  <nav>
    <div id="menuToggle">
      <input type="checkbox">
      <ul class="topnav row-menu">
        <li class="topnav-item"><a href="#">twoja kompozycja</a></li>
        <li class="topnav-item"><a href="#">gotowe sety makaroników</a></li>
        <li class="topnav-item"><a href="#">makaroniki z nadrukiem<img width="19" height="24" src="../assets/icons/arrow-down.svg" alt="arrow"></a></li>
        <li><a href="#" class="like-btn"><img width="19" height="34" src="../assets/icons/user.svg" alt="user"></a></li>
        <li><a href="#" class="like-btn"><img width="19" height="34" src="../assets/icons/shopping-bag.svg" alt="shopping bag"></a></li>
      </ul>
      <div class="humburger-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="sidenav column-menu">
        <li><a href="#">o nas</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">faq</a></li>
        <li><a href="#">konfigurator on-line</a></li>
        <li><a href="#">oferta dla kawiarni</a></li>
        <li><a href="#">oferta eventowa</a></li>
        <li class="hidden mobile"><a href="#">twoja kompozycja</a></li>
        <li class="hidden mobile"><a href="#">gotowe sety makaroników</a></li>
        <li class="hidden mobile"><a href="#">makaroniki z nadrukiem</a></li>
      </ul>
      <a class="business-link" href="#">miolli<br>dla biznesu<img width="19" height="24" src="../assets/icons/arrow-down.svg" alt="arrow"></a>
    </div>
  </nav>
  <h2>Slider nav (dots)</h2>
  <div class="nav-slide">
    <label for="i1" class="dot" id="dot1"></label>
    <label for="i2" class="dot" id="dot2"></label>
    <label for="i3" class="dot" id="dot3"></label>
  </div>
  <h2>Chat button</h2>
  <button class="chat-btn">
    <div class="chat-icon">
      <span></span>
      <span></span>
    </div>
  </button>
  <h2>Title</h2>
  <h2 class="title">słodkie inspiracje</h2>
  <h2>Underline</h2>
  <span class="underline"></span>
  <h2>Subitle</h2>
  <h3 class="subtitle">czyli jakie smaki dostępne są dziś w miolli</h3>
  <h2>Flover box</h2>
  <div class="flover-box">
    <div class="flover-image">
       <img class="cookie-image" src="../assets/images/czekolada-wisnia.png" alt="cookie">
    </div>
    <span class="underline"></span>
    <h3 class="flover-name subtitle">czekolada i wiśnia</h3>
  </div>
  <h2>Buttons</h2>
  <button class="btn">zamów set</button>
  <button class="btn">stwórz swoją kompozycję</button>
  <button class="btn"></button>


</body>
</html>
