<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Miolli Components</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h2>Start screen (logo + tagline)</h2>
  <div class="logo-container">
    <img class="logo" src="../assets/icons/miolli-logo.svg" alt="miolli logo">
    <span class="tagline">smak inspiracji</span>
  </div>
  <h2>Menu</h2>
  <nav>
    <div id="menuToggle">
      <input type="checkbox">
      <ul class="topnav row-menu">
        <li class="topnav-item"><a href="#">twoja kompozycja</a></li>
        <li class="topnav-item"><a href="#">gotowe sety makaroników</a></li>
        <li class="topnav-item"><a href="#">makaroniki z nadrukiem<img width="19" height="24" src="../assets/icons/arrow-down.svg" alt="arrow"></a></li>
        <li><a href="#" class="like-btn"><img width="19" height="34" src="../assets/icons/user.svg" alt="user"></a></li>
        <li><a href="#" class="like-btn"><img width="19" height="34" src="../assets/icons/shopping-bag.svg" alt="shopping bag"></a></li>
      </ul>
      <div class="humburger-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="sidenav column-menu">
        <li><a href="#">o nas</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">faq</a></li>
        <li><a href="#">konfigurator on-line</a></li>
        <li><a href="#">oferta dla kawiarni</a></li>
        <li><a href="#">oferta eventowa</a></li>
        <li class="hidden mobile"><a href="#">twoja kompozycja</a></li>
        <li class="hidden mobile"><a href="#">gotowe sety makaroników</a></li>
        <li class="hidden mobile"><a href="#">makaroniki z nadrukiem</a></li>
      </ul>
      <a class="business-link" href="#">miolli<br>dla biznesu<img width="19" height="24" src="../assets/icons/arrow-down.svg" alt="arrow"></a>
    </div>
  </nav>

</body>
</html>
