@import '../assets/styles/main.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: var(--border);
}

body>*,
main>* {
  margin: 40px auto;
}

b {
  font-family: var(--contentFontB);
}

.row-reverse {
  flex-direction: row-reverse;
}

.block {
  display: flex;
}


/*set card*/

.set.card {
  width: 270px;
}

.set .card__figure {
  overflow: hidden;
}

.set .card__image {
  width: 100%;
}

.set .card__body {
  display: flex;
  flex-direction: column;
  width: 190px;
  min-height: 150px;
  margin: 32px auto;
  align-items: center;
  justify-content: space-between;
}

.set .card__title {
  font: normal 30px/20px var(--titleFont);
  text-align: center;
  color: var(--quartz);
}

.set .card__copy {
  font: normal 14px/21px var(--contentFont);
  text-align: center;
  letter-spacing: .1em;
  color: var(--outer-space);
}

.set .card__copy.price {
  font: normal 30px/20px var(--titleFont);
  color: var(--quartz);
}

.set .card__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set .button {
  font: normal 14px/14px var(--contentFont);
  display: flex;
  min-width: 137px;
  min-height: 40px;
  padding: 8px 16px;
  text-align: center;
  letter-spacing: .2em;
  color: var(--parrot-pink);
  border: 1px solid var(--parrot-pink);
  justify-content: center;
  align-items: center;
}


/*set card*/

.set.card {
  width: 270px;
}

.set .card__figure {
  overflow: hidden;
}

.set .card__image {
  width: 100%;
}

.set .card__body {
  display: flex;
  flex-direction: column;
  width: 190px;
  min-height: 150px;
  margin: 32px auto;
  align-items: center;
  justify-content: space-between;
}

.set .card__title {
  font: normal 30px/20px var(--titleFont);
  text-align: center;
  color: var(--quartz);
}

.set .card__copy {
  font: normal 14px/21px var(--contentFont);
  text-align: center;
  letter-spacing: .1em;
  color: var(--outer-space);
}

.set .card__copy.price {
  font: normal 30px/20px var(--titleFont);
  color: var(--quartz);
}

.set .card__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set .button {
  font: normal 14px/14px var(--contentFont);
  display: flex;
  min-width: 137px;
  min-height: 40px;
  padding: 8px 16px;
  text-align: center;
  letter-spacing: .2em;
  color: var(--parrot-pink);
  border: 1px solid var(--parrot-pink);
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .set.card {
    width: 185px;
  }
  .set .card__body {
    min-height: 98px;
    margin: 28px auto;
  }
  .set .card__title {
    font: normal 20px/13px var(--titleFont);
  }
  .set .card__copy {
    font: normal 11px/15px var(--contentFont);
  }
  .set .card__copy.price {
    font: normal 20px/13px var(--titleFont);
  }
  .set .button {
    font: normal 10px/10px var(--contentFont);
    min-width: 91px;
    min-height: 26px;
  }
}


/***/


/*set-lg card*/

.set-lg.card {
  width: auto;
}

.set-lg .card__figure {
  overflow: hidden;
}

.set-lg .card__image {
  width: 100%;
  object-fit: cover;
}

.set-lg .card__body {
  display: flex;
  flex-direction: column;
  max-width: 554px;
  min-height: 298px;
  margin: 32px auto;
  align-items: center;
  justify-content: space-between;
}

.set-lg .card__title {
  font: normal 66px/74px var(--titleFont);
  text-align: center;
  color: var(--quartz);
}

.set-lg .card__copy {
  font: normal 16px/25px var(--contentFont);
  text-align: center;
  letter-spacing: .1em;
  color: var(--outer-space);
}

.set-lg .card__copy.price {
  font: normal 66px/74px var(--titleFont);
  color: var(--quartz);
}

.set-lg .card__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-lg .button {
  font: normal 14px/14px var(--contentFont);
  display: flex;
  min-width: 187px;
  min-height: 60px;
  padding: 8px 16px;
  text-align: center;
  letter-spacing: .2em;
  color: var(--parrot-pink);
  border: 1px solid var(--parrot-pink);
  justify-content: center;
  align-items: center;
}


/***/


/*breadcrumb*/

.breadcrumb__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  margin: 4px 8px;
  align-items: center;
}

.breadcrumb__item>* {
  margin: 0 4px;
}

.breadcrumb__icon.material-icons {
  font-size: 16px;
  color: var(--outer-space);
}

.breadcrumb__link {
  font: normal 10px/12px var(--contentFont);
  letter-spacing: .1em;
  color: var(--outer-space);
}


/***/


/*.pagination*/

.pagination * {
  border: none;
}

.pagination__list {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 14px;
  align-items: flex-start;
}

.pagination__item {
  display: flex;
  min-width: 40px;
  padding: 0 8px;
  border-left: 2px solid var(--outer-space);
  justify-content: center;
}

.pagination__item:first-child {
  border-left: none;
}

.pagination__link {
  font: normal 16px/14px var(--contentFont);
  color: var(--outer-space);
}

.pagination__link .material-icons {
  font-size: 16px;
  line-height: 14px;
}

.pagination__link_disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
}


/***/


/*flavor card*/

.flavor.card {
  display: flex;
  flex-direction: column;
  width: 218px;
  min-height: 298px;
  justify-content: space-between;
}

.flavor .card__header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flavor .card__figure {
  overflow: hidden;
}

.flavor .card__image {
  width: 100%;
}

.flavor .card__body {
  width: 110px;
  margin: 0 auto;
}

.flavor .card__underline {
  width: 60px;
  height: 3px;
  margin: 8px auto;
  background: var(--white-chocolate);
}

.flavor .card__title {
  font: normal 16px/19px var(--contentFont);
  text-align: center;
  letter-spacing: .1em;
  color: var(--outer-space);
}

@media (max-width: 576px) {
  .flavor.card {
    width: 150px;
    min-height: 212px;
  }
  .flavor .card__title {
    font: normal 14px/17px var(--contentFont);
  }
}


/**/


/*print card*/

.print.card {
  display: flex;
  flex-direction: column;
  width: 247px;
  min-height: 364px;
  justify-content: space-between;
}

.print .card__header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.print .card__figure {
  position: relative;
  overflow: hidden;
}

.print .card__image {
  width: 100%;
  /*z-index: 0;*/
}

.print .card__print {
  position: absolute;
  bottom: 40%;
  left: 15%;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.print .card__body {
  width: 170px;
  margin: 0 auto;
}

.print .card__title {
  font: normal 30px/20px var(--titleFont);
  text-align: center;
  letter-spacing: 0;
  color: var(--outer-space);
}

.print .block__actions {
  display: flex;
  width: 144px;
  margin: 0 auto;
  justify-content: space-between;
}

.print .button {
  font: normal 14px/14px var(--contentFont);
  display: flex;
  min-width: 40px;
  min-height: 40px;
  padding: 8px 8px;
  text-align: center;
  letter-spacing: .2em;
  color: var(--parrot-pink);
  border: 1px solid var(--parrot-pink);
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .print.card {
    width: 190px;
    min-height: 260px;
  }
  .print .card__body {
    width: 114px;
  }
  .print .card__title {
    font: normal 20px/13px var(--titleFont);
  }
  .print .block__actions {
    width: 104px;
  }
  .print .button {
    font: normal 10px/10px var(--contentFont);
    min-width: 29px;
    min-height: 28px;
    padding: 2px 6px;
  }
}


/***/


/*tag stack*/

.stack--horizontal {
  display: flex;
  flex-wrap: wrap;
}

.tagbar .stack__item.button {
  font: normal 12px/17px var(--contentFont);
  overflow: hidden;
  height: 37px;
  margin: 6px;
  padding: 0 20px;
  white-space: nowrap;
  letter-spacing: .2em;
  text-overflow: ellipsis;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
}

.tagbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  form.sorting {
    margin: 31px 0 0;
  }
  .tagbar {
    flex-wrap: wrap;
  }
}


/***/


/*Sort*/

form.sorting {
  display: flex;
  margin: 12px 0 0;
  flex-wrap: nowrap;
}

form.sorting label {
  font: normal 18px/25px var(--contentFont);
  margin: 0 6px;
}

form.sorting select {
  font: normal 18px/25px var(--contentFont);
  padding: 0 12px 0 0;
  color: #000;
  border: none;
  border-bottom: 1px solid #444;
  border-radius: 0;
  outline: none;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}


/***/


/*quatity*/

.quantity {
  display: flex;
  border-bottom: 1px solid #000;
  align-items: center;
}

.quantity input,
.quantity p {
  font: normal 18px/25px var(--contentFont);
  width: 30px;
  text-align: center;
  color: #000;
  border: none;
  outline: none;
}

.quantity__btns {
  display: flex;
  flex-direction: column;
  height: 40px;
  margin: 0 0 0 10px;
  justify-content: center;
  align-items: stretch;
}

.quantity__btns .material-icons {
  font-size: 30px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.box-size-label {
  font: normal 18px/18px var(--contentFont);
  display: flex;
  min-width: 28px;
  min-height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}


/***/


/***/

.nav-control {
  font: normal 16px/25px var(--contentFont);
  display: flex;
  width: 100px;
  min-height: 20px;
  justify-content: space-between;
}

.nav-control * {
  color: var(--outer-space);
}


/***/


/*price tag*/

.price-tag {
  display: flex;
  flex-direction: column;
  max-height: 140px;
  padding: 4px 8px;
  justify-content: space-between;
  align-items: flex-start;
}

.price-tag .price {
  line-height: normal;
  display: flex;
  flex-wrap: nowrap;
}

.price-tag .details {
  font: normal 12px/18px var(--contentFont);
  margin: 6px 0;
  letter-spacing: .2em;
}

@media (max-width: 576px) {
  .price-tag {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .price-tag .price {
    font-size: 50px;
  }
  .price-tag .details {
    margin: 0 6px;
  }
}


/***/


/*SET BLOCK*/

.block.set-block {
  max-width: 1222px;
  justify-content: space-around;
}

.block.set-block>* {
  margin: 10px;
}

.set-block .block__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-block .block__figure {
  max-width: 454px;
  height: 100%;
}

.set-block .block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.set-block .nav-control {
  margin: 5px 0 20px;
}

.set-block .block__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.set-block .block__heading {
  display: flex;
  margin: 71px 0 28px;
  justify-content: space-between;
}

.set-block .block__title {
  max-width: 293px;
  margin: 4px 8px 0 0;
  color: var(--dark-vanilla);
}

.set-block .block__body {
  max-width: 522px;
}

.set-block .block__copy,
.set-block .list,
.set-block label {
  font: normal 16px/25px var(--contentFont);
  max-width: 522px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--outer-space);
}

.set-block .list {
  margin: 0 0 25px 25px;
}

.set-block form {
  margin: 25px 0 0;
}

.set-block form>* {
  margin: 5px 0 20px;
}

.set-block .block__actions .button {
  font: normal 16px/16px var(--contentFont);
  display: flex;
  max-width: 243px;
  min-height: 51px;
  padding: 8px 16px;
  text-align: center;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid;
  background: var(--dark-vanilla);
  justify-content: center;
  align-items: center;
}

.set-block .quantity {
  margin-left: 12px;
}

.set-block .quantity.box-size {
  width: 132px;
}

.set-block .quantity.box-count {
  width: 104px;
}

@media (max-width: 868px) {
  .block.set-block {
    flex-wrap: wrap;
  }
  .set-block .block__heading {
    margin: 0 0 28px;
  }
}

@media (max-width: 576px) {
  .set-block .block__heading {
    flex-wrap: wrap;
  }
  .set-block .block__title {
    font: normal 50px/55px var(--titleFont);
    width: 100%;
  }
}
