@import "../../assets/styles/main.css";

.main {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 4.875rem 22px 0;
}

.breadcrumb {
  max-width: var(--content);
  margin: 1.8rem auto;
}

.breadcrumb__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  margin: 0.25rem 1rem 0 0;
  align-items: center;
}

.breadcrumb__item > * {
  margin: 0 0.5rem 0 0;
}

.breadcrumb__icon.material-icons {
  font-size: 1rem;
  color: var(--outer-space);
}

.breadcrumb__link {
  font: normal 0.625rem/12px var(--contentFont);
  letter-spacing: 0.1em;
  color: var(--outer-space);
}

.breadcrumb__link:hover {
  color: var(--dark-vanilla);
}

.set-block {
  width: 100%;
}

.set-block__content {
  max-width: var(--content);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.set-block__content > * {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 20px;
}

.set-block__nav-control,
.set-card__nav-control {
  font: 1rem/1.5625rem var(--contentFont);
  display: flex;
  min-height: 1.25rem;
  margin: 0.625rem auto;
  justify-content: space-around;
  align-items: center;
}

.set-block__arrow .material-icons,
.set-card__arrow .material-icons {
  font-size: 27px;
  transition: 0.1s color ease-in-out;
}

.set-block__arrow:hover .material-icons,
.set-card__arrow:hover .material-icons {
  color: #996b6b;
}

.set-block__aside {
  max-width: 432px;
  height: 100%;
}

.set-block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.set-block__heading {
  margin-top: 52px;
}

.set-block__body {
  margin: 58px 0 21px;
}

.set-block__list.list {
  list-style: none;
}

.set-block__copy,
.list__item {
  color: var(--outer-space);
}

.set-block__body b {
  color: var(--outer-space);
}

.set-block__copy {
  text-transform: uppercase;
}

.set-block__button {
  min-width: 241px;
  max-height: 51px
}

.list__item span {
  text-transform: uppercase;
}

.list__item {
  padding: 0 16px;
}

.price-tag-fixed-container {
  left: 0;
  right: 0;
  position: fixed;
  top: 87px;
  max-height: 180px;
  z-index: 98;
}

.price-tag-fixed-container > div {
  width: 100%;
  max-width: var(--max);
  margin: 0 auto;
  position: relative;
}

.price-tag {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  max-height: 180px;
  padding: 4px 8px;
  justify-content: space-between;
  align-items: flex-start;
  background: #fffd;
  border-radius: 6px;
}

.price-tag .price {
  line-height: normal;
  display: flex;
  flex-wrap: nowrap;
}

.price-tag .details {
  font: normal 12px/18px var(--contentFont);
  margin: 6px 0;
  letter-spacing: 0.2em;
}

@media (max-width: 940px) {
  .price-tag-fixed-container,
  .price-tag {
    position: static;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .price-tag .price {
    font-size: 50px;
  }
  .price-tag .details {
    margin: 0 6px;
  }
  .set-block__content {
    flex-wrap: wrap;
  }
  .set-block__heading {
    margin-top: 0;
    white-space: nowrap;
  }
  .set-block__heading br {
    display: none;
  }
  .set-block__image {
    max-width: 100%;
  }
  .set-block__content > * {
    margin: 0 0;
  }
}

.nav-control {
  font: normal 16px/25px var(--contentFont);
  display: flex;
  width: 100px;
  min-height: 20px;
  justify-content: space-between;
}

.nav-control * {
  color: var(--outer-space);
}

.quantity {
  display: inline-flex;
  border-bottom: 1px solid #000000;
  align-items: center;
  min-width: 136px;
  margin: 15px 0 32px;
  transition: 0.5s all;
}

.quantity:hover .box-size-label {
  color: var(--dark-vanilla);
  border-color: var(--dark-vanilla);
}

.quantity:hover {
  border-bottom-color: var(--dark-vanilla);
}

.quantity input {
  font: normal 18px/25px var(--contentFont);
  width: 30px;
  margin: 0 5px;
  text-align: center;
  color: #000000;
  background: transparent;
  border: none;
  outline: none;
}

.quantity__btns {
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  align-items: stretch;
}

.quantity__btns .button {
  overflow: hidden;
  height: 20px;
}

.quantity__btns .material-icons {
  height: 20px;
  font-size: 30px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.quantity__btns .material-icons:hover {
  color: #777;
}

.box-size-label {
  font: normal 18px/18px var(--contentFont);
  display: flex;
  min-width: 28px;
  min-height: 28px;
  border: 1px solid #000000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}

.personalize {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
}

.personalize__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.personalize__header {
  display: flex;
  flex-direction: column;
  margin: 0 0 28px;
  padding: 4px 8px 0 0;
  align-items: center;
}

.personalize__header > *,
.personalize__footer > *,
.personalize__footer > * > * {
  margin: 30px;
}

.personalize__title {
  color: var(--dark-vanilla);
}

.personalize__subtitle {
  font: 16px/19px var(--contentFont);
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--outer-space);
  text-transform: uppercase;
}

.personalize__footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .personalize__title {
    font: normal 50px/55px var(--titleFont);
  }
}

.stack {
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.stack--horizontal {
  flex-direction: row;
}

.stack {
  justify-content: center;
  flex-wrap: wrap;
}

.flavor.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 293px;
  margin: 5px 0;
  justify-content: space-between;
}

.flavor .card__header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flavor .card__figure {
  display: flex;
  height: 170px;
  justify-content: center;
  align-items: flex-end;
}

.flavor .card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.flavor .card__body {
  width: 110px;
  margin: 0 auto;
}

.flavor .card__underline {
  width: 60px;
  height: 3px;
  margin: 8px auto;
  background: var(--white-chocolate);
}

.flavor .card__title {
  font: 16px/19px var(--contentFont);
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--outer-space);
}

.flavor .card__footer {
  display: flex;
  justify-content: center;
}

.flavor .card__button {
  min-width: 70px;
  padding: 6px 12px;
  font: normal 12px/16px var(--contentFont);
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .flavor.card {
    width: 150px;
    min-height: 212px;
    margin: 2px;
  }
  .flavor.card > * {
    padding: 5px 0;
  }
  .flavor .card__figure {
    height: 147px;
  }
  .flavor .card__title {
    font: 14px/17px var(--contentFont);
  }
  .flavor-stack .stack {
    height: 214px;
  }
}

@media (max-width: 370px) {
  .flavor.card {
    width: 128px;
    min-height: 212px;
    margin: 1px;
  }
}

.uniqueness {
  position: relative;
  max-width: var(--max);
  background: #ffece6;
  background-image: url(../../assets/images/brooke-lark.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.uniqueness__header, .uniqueness__body, .uniqueness__footer {
  width: 100%;
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 1.375rem;
}

.uniqueness__header_mask {
  width: 100%;
}

.uniqueness__title {
  max-width: 744px;
  padding: 100px 0 0;
}

.uniqueness__body > * {
  max-width: 370px;
  margin: 47px 0;
}

.uniqueness__underline {
  width: 197px;
  height: 3px;
  margin: 35px 0;
  background: #000000;
}

.uniqueness__footer {
  position: relative;
  padding-bottom: 78px;
}

.uniqueness__button {
  min-width: 340px;
}

@media (max-width: 1062px) {
  .uniqueness__header, .uniqueness__body, .uniqueness__footer {
    padding-left: 12%;
    padding-right: 12%;
  }
}

@media screen and (max-width: 770px) {
  .uniqueness__header_mask {
    background: #ffece6;
  }
  .uniqueness__underline {
    display: none;
  }
  .uniqueness__title {
    padding: 100px 0 1rem;
  }
}

@media screen and (max-width: 640px) {
  .uniqueness {
    min-height: 1000px;
    background-size: auto;
    background-position: center 290px;
  }
}

@media screen and (max-width: 490px) {
  .uniqueness {
    min-height: 1200px;
  }
}

.button-swipe {
  position: absolute;
  bottom: 40px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}

.button-swipe__item {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  border: 3px solid rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  background: transparent;
  transition: 0.1s border-color ease-in-out;
}

.button-swipe:hover > .button-swipe__item {
  border-color: var(--dark-vanilla);
  cursor: pointer;
}

.personalize__modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  display: none;
}

.modal__container {
  max-width: 45.125rem;
  max-height: 40.875rem;
  border: 20px solid var(--dark-vanilla);
  background: #fff;
  position: relative;
  overflow: hidden;
}

.modal__header {
  display: flex;
  justify-content: center;
  margin: 1.25rem;
}

.modal__title {
  font: normal 66px/112px var(--titleFont);
  color: var(--dark-vanilla);
}

.modal__body {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal__close.button {
  position: absolute;
  right: 0;
  top: 1rem;
}

.modal__close.button:hover {
  color: var(--dark-vanilla);
}

.scrolling-box {
  position: relative;
  width: calc(100% - 10px);
  height: 31.25rem;
}

.scrolling-box__content {
  overflow-y: scroll;
  width: 100%;
  max-height: 90%;
  text-align: center;
  scrollbar-width: none;
}

.flavor-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flavor-list__item {
  margin: 0.3125rem 0 1.5625rem;
  width: 6.5rem;
  height: 6.5rem;
  text-align: center;
  cursor: pointer;
}

.flavor-list__image {
  max-width: 4.3125rem;
}

.flavor-list__copy {
  margin: 0.75rem 0;
  font: normal 0.75rem/14px var(--contentFont);
  letter-spacing: 0.1em;
  color: var(--outer-space);
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .flavor-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
  }
  .flavor-list__copy {
    margin: 0 0.75rem;
  }

  .modal__title {
    font: normal 54px/54px var(--titleFont);
  }
}

.breadcrumb__item:last-child,
.isDisabled {
  opacity: 0.5;
}

.breadcrumb__item:last-child > a,
.isDisabled > a {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}
