:root {
  --black-olive: #404040;
  --dark-vanilla: #D6B5AC;
  --pastel-pink: #DDA5A5;
  --white-chokolate: #EEDEDE;
  --desert-sand: #E8CFB1;
  --parrot-pink: #D89898;
  --platinum: #DEE3E6;
  --dark-sky-blue: #86B6C7;
  --linen: #FFECE6;
  --quartz: #4B4B4B;
  --arsenic: #434343;
  --outer-space: #484848;
}
