:root {
  --limen: #FFECE6;
  --white-chocolate: #EEDEDE;
  --desert-sand: #E8CFB1;
  --dark-vanilla: #D6B5AC;

  --dark-l: #404040; /* black-olive */
  --dark-m: #434343; /* arsenic */

  --dark-s: #484848; /* outer-space */
  --outer-space: #484848; /* outer-space */

  --dark-xs: #4B4B4B; /* quartz */
  --quartz: #4B4B4B; /* quartz */


  --platinum: #DEE3E6; 
  --pastel-pink: #DDA5A5; 
  --parrot-pink: #D89898; 
  --dark-sky-blue: #86B6C7;
}
