:root {
  --limen: #FFECE6;
  --white-chocolate: #EEDEDE;
  --desert-sand: #E8CFB1;
  --dark-vanilla: #D6B5AC;
  --rosy-brown: #C99489;

  --dark-l: #404040; /* black-olive */
  --black-olive: #404040;
  
  --dark-m: #434343; /* arsenic */

  --dark-s: #484848; /* outer-space */
  --outer-space: #484848; /* outer-space */

  --dark-xs: #4B4B4B; /* quartz */
  --quartz: #4B4B4B; /* quartz */


  --platinum: #DEE3E6; 
  --pastel-pink: #DDA5A5; 
  --parrot-pink: #D89898; 
  --dark-sky-blue: #86B6C7;
  --dark-coral: #CE5445;
}

.white-chocolate {
  color: var(--white-chocolate);
}

.desert-sand {
  color: var(--desert-sand);
}

.desert-sand.button-contained {
  background-color: var(--desert-sand);
  border-color: var(--desert-sand);
  color: #fff;
}

.desert-sand.button-contained:hover {
  background-color: #7B6D5C;
  border-color: #998874;
  color: #fff;
}

.desert-sand.button-contained:active {
  background-color: #AD9982;
  border-color: #998874;
}

.dark-vanilla {
  color: var(--dark-vanilla);
}

.dark-vanilla-fill {
  background-color: var(--dark-vanilla);
  color: #fff;
}

.dark-vanilla.button-contained {
  background-color: var(--dark-vanilla);
  border-color: var(--dark-vanilla);
  color: #fff;
}

.dark-vanilla.button-contained:hover {
  background-color: #99817A;
  color: #fff;
}

.dark-vanilla.button-outlined {
  border-color: var(--dark-vanilla);
  color: var(--dark-vanilla);
}

.pastel-pink {
  color: var(--pastel-pink);
}

.pastel-pink-fill {
  background-color: var(--pastel-pink);
  color: #fff;
}

.parrot-pink {
  color: var(--parrot-pink);
}

.parrot-pink-fill {
  background-color: var(--parrot-pink);
  color: #fff;
}

.parrot-pink.button-outlined {
  color: var(--parrot-pink);
  border-color: var(--parrot-pink);
}

.parrot-pink.button-outlined:hover {
  color: #996B6B;
  border-color: #996B6B;
}

.parrot-pink.button-contained {
  background-color: var(--parrot-pink);
  border-color: var(--parrot-pink);
  color: #fff;
}

.parrot-pink.button-contained:hover {
  background-color: #996B6B;
}

.parrot-pink.button-contained:active{
  background-color: #996B6B;
  border-color: var(--parrot-pink);
  color: #fff;
}

.dark-coral {
  color: var(--dark-coral);
}

.dark-coral-fill,
.dark-coral.button-contained {
  background-color: var(--dark-coral);
  border-color: var(--dark-coral);
  color: #fff;
}

.dark-coral.button-contained:hover {
  background-color: #993E32;
  color: #fff;
}

.dark-coral.button-contained:active {
  background-color: #C45041;
  border-color: #993E32;
}

.rosy-brown {
  color: var(--rosy-brown);
}
