@import "colors.css";
@import "fonts.css";

* {
  /*border: var(--border);*/
}

:root {
  /* Fonts */
  --contentFont: "BasierCircle-Regular", sans-serif;
  --contentFontB: "BasierCircle-SemiBold", sans-serif;
  --contentFontM: "BasierCircle-Medium", sans-serif;
  --titleFont: "freight-big-pro", serif;
  --basicFont: "Roboto", sans-serif;

  /* Width, margins & paddings */
  --max: 1366px;
  --content: calc(var(--max) - (11.4% - 44px));
  --min: 320px;
  --border: 1px solid #ddd;

  --humburger: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.35s ease;
  --opacity: opacity 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), visibility 0.3s ease;
  --opacity-delay: opacity 0.2s cubic-bezier(0.77, 0.2, 0.05, 1) 0.1s,
    visibility 0.3s ease 0.05s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  font-size: 1em;
  min-width: var(--min);
  max-width: var(--max);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

hr {
  border: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  border: none;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Buttons*/

.buttons__inner > * {
  margin: 0.5rem;
}

.button {
  line-height: inherit;
  position: relative;
  display: inline-flex;
  overflow: visible;
  box-sizing: border-box;
  min-width: 64px;
  user-select: none;
  transition: 0.15s border ease-in-out, 0.2s color ease-in-out, 0.2s background ease-in-out;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  background: transparent;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  touch-action: manipulation;
}

a.button {
  text-decoration: none;
}

a {
  user-select: none;
}

.button:active {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: default;
  pointer-events: none;
}

.button-outlined {
  border: 1px solid #000000;
}

.button-outlined:hover {
  color: #6e4c4c;
  border: 1px solid #6e4c4c;
}

.button-outlined:active {
  color: #6e4c4c;
  border: 1px solid #6e4c4c;
}

.button-contained {
  color: #ffffff;
  border: 1px solid #777777;
  background-color: #777777;
}

.button-contained:active {
  color: #000000;
  border: 1px solid #000000;
}

.button_size_l {
  font: normal 1rem/1.6875rem var(--contentFont);
  min-width: 6.125rem;
  max-height: 3.75rem;
  padding: 1.4375rem 1.0625rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button_size_m {
  font: normal 1rem/1.6875rem var(--contentFont);
  min-width: 6.125rem;
  max-height: 3.25rem;
  padding: 0.875rem 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button_size_s {
  font: normal 1rem/1.6875rem var(--contentFont);
  min-width: 6.125rem;
  max-height: 2.5rem;
  padding: 0.875rem 0.5625rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .button_size_l, .button_size_m {
    font: normal 0.875rem/1.25rem var(--contentFont);
    max-height: 50px;
    padding: 0.9375rem 1.0625rem;
  }
}

.button_rounded {
  font: normal 0.75rem/1.125rem var(--contentFontM);
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 6.9375rem;
  height: 100%;
  max-height: 6.9375rem;
  padding: 0.75rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
}

.button-arrow {
  min-width: 2.125rem;
  min-height: 2.125rem;
}


/*titles*/

.h1, .h2 {
  font: normal 94px/94px var(--titleFont);
}

.h3 {
  font: normal 5rem/5.375rem var(--titleFont);
}

.h4 {
  font: normal 4.125rem/4.625rem var(--titleFont);
}

.h5 {
  font: normal 2.5rem/2.8125rem var(--titleFont);
}

.h6 {
  font: normal 1.875rem/1.25rem var(--titleFont);
}

@media (max-width: 800px) {
  .h1, .h2 {
    font: normal 4.6875rem/4.6875rem var(--titleFont);
  }
  .h3 {
    font: normal 4.375rem/4.375rem var(--titleFont);
  }
}

@media (max-width: 640px) {
  .h1, .h2, .h3 {
    font: normal 50px/50px var(--titleFont);
  }
  .h5 {
    /*font: normal 1.3125rem/25px var(--titleFont);*/
  }
}


/*paragraph*/

.paragraph_upper_l {
  font: normal 1.125rem/25px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.paragraph_upper {
  font: normal 1rem/24px var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.paragraph {
  font: normal 1rem/25px var(--contentFont);
  letter-spacing: 0.025em;
}

@media (max-width: 640px) {
  .paragraph_upper_l {
    font: normal 1rem/25px var(--contentFont);
  }
  .paragraph_upper, .paragraph {
    font: normal 0.85rem/25px var(--contentFont);
  }
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.thin {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}


/*underlines*/

.underline {
  display: inline-block;
  width: 197px;
  height: 3px;
  border: none;
  background: var(--white-chocolate);
}

.underline_heading {
  display: inline-block;
  min-width: 12.3125rem;
  height: 3px;
  border: none;
  background: #eedede;
}

/*makaroniki
z nadrukiem of topbar menu*/

.printing {
  display: flex;
  flex-direction: row-reverse;
  width: max-content;
  max-width: 660px;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
}

.header-menu .printing {
  position: absolute;
  z-index: 2;
  top: 78px;
  right: -78px;
  visibility: hidden;
  transition: var(--opacity-delay);
  opacity: 0;
}

.printing__figure, .printing__nav {
  width: 19rem;
}

.printing__figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.printing__image_print {
  position: absolute;
}

.printing__vertical-border {
  width: 1px;
  height: 15rem;
  background: var(--dark-vanilla);
  align-self: center;
}

.printing__nav {
  padding: 2.875rem 2.875rem 2rem;
}

.printing__list {
  font: normal 0.875rem/18px 'Monument Grotesk', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3c3c3c;
}

.printing__list_external {
  list-style: none;
}

.printing__list_internal {
  margin: 1.3125rem 0 0.8125rem 12px;
  list-style-type: none;
}

.printing__item {
  width: 100%;
  height: 2.125rem;
}

.printing__link {
  transition: 0.1s color ease-in-out;
  text-decoration: none;
}

.printing__link:hover {
  color: #99817a;
}

.printing__item_underline:hover > .material-icons, .printing__item_underline:hover > .printing__link {
  cursor: pointer;
  color: var(--dark-vanilla);
}

.printing__item > .material-icons {
  transition: 0.15s transform ease-in-out;
}

.printing__item:hover > .material-icons {
  transform: translateX(2px);
}

.printing__item_underline {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.printing__item_underline > .printing__link {
  padding-bottom: 0.59375rem;
  border-bottom: 1px solid var(--dark-vanilla);
}

.printing__list_internal .printing__item::before {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  width: 1.5rem;
  margin-left: -0.5rem;
  content: '\2022';
  color: var(--dark-vanilla);
}

@media (max-width: 576px) {
  .printing {
    display: none !important;
  }
}


/*Cart container*/

.cart-preview {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
  padding: 0.90625rem 0 0;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  align-items: center;
  justify-content: center;
}

.header-menu .cart-preview {
  position: absolute;
  z-index: 2;
  top: 78px;
  right: -78px;
  visibility: hidden;
  transition: var(--opacity-delay);
  opacity: 0;
}

.cart-preview__item {
  display: flex;
  width: 275px;
  min-height: 8.3125rem;
  justify-content: space-between;
}

.cart-preview__figure {
  display: flex;
  min-width: 5.5625rem;
  min-height: 8.3125rem;
  justify-content: center;
  align-items: center;
}

.cart-preview__image {
  width: 100%;
}

.cart-preview__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 8.3125rem;
  margin: 0.453125rem;
  justify-content: center;
}

.cart-preview__heading {
  width: max-content;
}

.cart-preview__name {
  overflow: hidden;
  max-width: 12.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: var(--quartz);
}

.cart-preview__description {
  margin: 0.84375rem 0.84375rem 0;
  list-style: none;
}

.cart-preview__description-item {
  font: normal 1rem/1.3125rem var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--outer-space);
}

.cart-preview__quantity, .cart-preview__price, .cart-preview__cost {
  padding-left: 0.3125rem;
}

.cart-preview__footer {
  display: flex;
  flex-direction: column;
  margin: 0.90625rem 0;
  justify-content: center;
  align-items: center;
}

.cart-preview__footer > * {
  margin: 0 0 0.8125rem;
}

.cart-preview__remainder {
  font: normal 1rem/1.3125rem var(--contentFont);
  transition: 0.1s color ease-in-out;
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--outer-space);
}

.cart-preview__remainder:hover {
  color: #996b6b;
  text-decoration-color: #996b6b;
}

.cart-preview__button {
  width: 17.1875rem;
}

@media (max-width: 830px) {
  .cart-preview {
    display: none !important;
  }
}


/*dropdown menu*/

.main-nav {
  width: 14.625rem;
  height: calc(100% - 4.875rem);
  background: var(--black-olive);
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.header-menu .main-nav {
  position: absolute;
  top: 4.875rem;
  right: 0;
  visibility: hidden;
  transition: var(--opacity);
  opacity: 0;
}

.main-nav__list {
  margin: 1.75rem 0 20rem;
}

.main-nav__item {
  display: flex;
  width: 100%;
  min-height: 4.375rem;
  align-items: center;
  justify-content: center;
}

.main-nav__link {
  font: normal 0.875rem/1.125rem 'Monument Grotesk', sans-serif;
  display: inline-flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem 3.75rem;
  transition: 0.1s color ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.main-nav__link:hover {
  color: var(--dark-vanilla);
}

.main-nav::-webkit-scrollbar {
  position: relative;
  display: block;
  width: 1px;
  background: transparent;
}

.main-nav::-webkit-scrollbar-track {
  margin: 27.1px 0;
  background: transparent;
}

.main-nav::-webkit-scrollbar-thumb {
  background-color: var(--dark-vanilla);
}

.main-nav::-webkit-scrollbar-track-piece:end {
  margin-bottom: 27.1px;
  background: transparent;
}

.main-nav::-webkit-scrollbar-track-piece:start {
  margin-top: 27.1px;
  background: transparent;
}

@media (max-width: 576px) {
  .main-nav {
    width: 100%;
  }
  .main-nav__link {
    padding: 0.5rem 0.75rem;
    text-align: center;
    justify-content: center;
  }
}


/*topnav line-menu*/

.topnav {
  position: relative;
  display: flex;
  width: 100%;
  max-width: calc(100% - 4.875rem);
  height: 4.875rem;
  justify-content: flex-end;
}

.topnav__list {
  display: flex;
  overflow: hidden;
  flex-direction: row-reverse;
  list-style: none;
  flex-wrap: wrap;
}

.topnav__item {
  display: flex;
  width: 12.25rem;
  height: 100%;
  min-height: 4.875rem;
  padding: 0 1.875rem;
  align-items: center;
}

.topnav__link {
  font: normal 0.875rem/1.125rem 'Monument Grotesk', sans-serif;
  display: inline-flex;
  width: 100%;
  height: 100%;
  transition: 0.1s color ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  color: #3c3c3c;
  justify-content: center;
  align-items: center;
}

.topnav__link:hover {
  color: var(--dark-vanilla);
}

.topnav__link .material-icons {
  transition: 0.1s transform ease-in-out;
}

.topnav__item_user, .topnav__item_cart {
  display: flex;
  width: 4.875rem;
  height: 4.875rem;
  transition: 0.15s border ease-in-out, 0.2s color ease-in-out, 0.2s background ease-in-out;
  border: 1px solid transparent;
  background-color: var(--dark-vanilla);
  justify-content: center;
  align-items: center;
}

.topnav__item_cart .topnav__link {
  position: relative;
}

.topnav__item_user:hover .topnav__link_icon, .topnav__item_cart:hover .topnav__link_icon, .topnav__item_cart:hover .topnav__item_cart_counter {
  opacity: 0.7;
}

.topnav__item_cart:hover > .cart-preview {
  visibility: visible;
  opacity: 1;
}

.topnav__item_hasChild:hover > .topnav__link {
  color: var(--dark-vanilla);
}

.topnav__item_hasChild:hover .material-icons:first-child {
  transform: translateY(4px);
}

.topnav__item_hasChild:hover > .printing {
  visibility: visible;
  opacity: 1;
}

.topnav__item_user:active, .topnav__item_cart:active {
  color: #ffffff;
  border: 1px solid #ffd7cc;
  background-color: #99817a;
}

.topnav__link_icon {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.1875rem;
  height: 2.125rem;
  top: 19px;
  bottom: 25.5px;
  transition: 0.1s opacity;
}

/*.topnav__link_cart:after {
  content: "4";
  position: absolute;
  font: 0.875rem/1.125rem 'Monument Grotesk', sans-serif;
  color: #ffffff;
}*/

/*.topnav__item_cart_counter {
  position: absolute;
  font: 0.875rem/1.125rem 'Monument Grotesk', sans-serif;
  display: flex;
  top:27px;
  bottom: 37px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}*/

.topbar {
  position: relative;
  display: flex;
  width: 100%;
  max-width: calc(100% - 4.875rem);
  transition: var(--opacity);
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
}

.topbar__logo {
  display: flex;
  min-width: 9.4375rem;
  height: 4.875rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .topbar__logo {
    min-width: 4.875rem;
    padding: 0 0.9375rem;
  }
}

.topbar__logo img {
  width: 100%;
}

.checkbox-toggle-menu {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  display: block;
  width: 4.875rem;
  height: 4.875rem;
  cursor: pointer;
  opacity: 0;
}

.button-toggle-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: inline-flex;
  flex-direction: column;
  min-width: 4.875rem;
  min-height: 4.875rem;
  border: 1px solid transparent;
  background: #444444;
  justify-content: center;
  align-items: center;
}

.checkbox-toggle-menu:hover ~ .button-toggle-menu {
  border-color: #99817a;
}

.button-toggle-menu span {
  display: inline-flex;
  width: 2rem;
  height: 2px;
  margin: 0.25rem;
  transition: var(--humburger);
  background: #ffffff;
}

.checkbox-toggle-menu:hover ~ .button-toggle-menu {
  border-color: transparent;
}

.checkbox-toggle-menu:hover ~ .button-toggle-menu span {
  opacity: 0.8 !important;
}

.checkbox-toggle-menu:checked ~ .button-toggle-menu span:first-child {
  transform: rotate(45deg) translate(0.4375rem, 0.4375rem);
  opacity: 1;
}

.checkbox-toggle-menu:checked ~ .button-toggle-menu span:nth-child(2) {
  transform: scale(0.1, 0.1);
  opacity: 0;
}

.checkbox-toggle-menu:checked ~ .button-toggle-menu span:last-child {
  transform: rotate(-45deg) translate(0.4375rem, -0.4375rem);
  opacity: 1;
}

.checkbox-toggle-menu:checked ~ .header-menu_inner {
  height: 100vh;
}

.checkbox-toggle-menu:checked ~ .header-menu_inner .main-nav {
  visibility: visible;
  opacity: 1;
}

.checkbox-toggle-menu:checked ~ .header-menu_inner .button_business-offer {
  visibility: visible;
  opacity: 1;
}


/*header menu*/

.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  max-width: var(--max);
}

.header-menu {
  position: relative;
  width: 100%;
  height: auto;
}

.header-menu_inner {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0;
  transition: var(--opacity);
}

.button_business-offer {
  font: 0.875rem/1.125rem 'Monument Grotesk', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-flex;
  visibility: hidden;
  width: 10.75rem;
  height: 4.875rem;
  padding: 0.49375rem 0.4375rem;
  transition: var(--opacity-delay);
  text-transform: uppercase;
  opacity: 0;
  color: var(--black-olive);
  border-color: transparent;
  background: var(--dark-vanilla);
  justify-content: space-around;
  align-items: center;
}

.button_business-offer:hover {
  background: #e7c4b9;
}

.button_business-offer .material-icons {
  align-self: flex-start;
}

.header-menu .active {
  pointer-events: none;
  color: var(--dark-vanilla);
}

@media (max-width: 576px) {
  .button_business-offer {
    display: none !important;
  }
}


/*chat*/

.chat-fixed-container {
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: 0;
  left: 0;
}

.chat-fixed-container > div {
  position: relative;
  width: 100%;
  max-width: var(--max);
  margin: 0 auto;
}

.chat {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: var(--max);
}

.chat-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 17.4375rem;
  min-height: 27.25rem;
  transition: var(--opacity);
  background: #ffffff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
}

.chat .chat-popup {
  position: absolute;
  right: 1.25rem;
  bottom: 4.8125rem;
  visibility: hidden;
  opacity: 0;
}

.chat-popup:after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -1.125rem;
  width: 0;
  height: 0;
  content: '';
  border-right: 1.75rem solid #ffffff;
  border-bottom: 1.125rem solid transparent;
  border-left: 1.125rem solid transparent;
}

.chat-popup__heading {
  display: flex;
  width: 17.4375rem;
  height: 3.1875rem;
  padding: 0 1.875rem 0 1.25rem;
  background-color: var(--dark-vanilla);
  align-items: center;
  justify-content: space-between;
}

.chat-popup__heading h5 {
  font: normal 0.75rem/1.5625rem var(--contentFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.chat-popup__logo {
  position: relative;
  top: -1.0625rem;
  display: block;
  width: 3.5625rem;
  height: 3.5625rem;
  padding: 0.25rem;
  border-radius: 100%;
  background: #ffffff;
}

.chat-popup__history {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  min-height: 21.25rem;
  max-height: 70vh;
  padding: 21px;
  color: var(--outer-space);
  justify-content: flex-start;
  scrollbar-width: none;
}

.chat-popup__message {
  padding: 0.875rem;
}

.chat-popup__form {
  display: flex;
  margin: 0 0 0.625rem;
  padding: 1.3125rem;
  justify-content: space-around;
  align-items: center;
}

.chat-popup__textarea {
  font: normal 1rem/1.5625rem var(--contentFont);
  font-weight: lighter;
  min-width: 13.25rem;
  height: 2.25rem;
  margin: 0.3125rem;
  padding: 0.3125rem;
  border: 1px solid #707070;
  outline: none;
}

.chat-popup__textarea::placeholder {
  font: normal 0.75rem/1.5625rem var(--contentFont);
}

.chat__button_submit {
  display: inline-flex;
  min-width: 1.375rem;
  max-width: 1.375rem;
  min-height: 1.375rem;
  max-height: 1.375rem;
  margin: 5px;
  border-radius: 100%;
  outline: none;
  justify-content: center;
  align-items: center;
}

.chat__button_submit img {
  width: 50%;
}

.chat__button, .chat input {
  position: absolute;
  right: 0.9375rem;
  bottom: 0.9375rem;
  display: inline-flex;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 100%;
  background: var(--black-olive);
  justify-content: center;
  align-items: center;
}

.chat input {
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.chat input:checked ~ .chat-popup {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.chat__icon {
  display: flex;
  flex-direction: column;
  width: 1.125rem;
  height: 0.875rem;
  background: #ffffff;
  justify-content: center;
  align-items: center;
}

.chat__icon:after {
  position: absolute;
  z-index: 1;
  top: 1.75rem;
  right: 0.75rem;
  width: 0;
  height: 0;
  content: '';
  border-right: 0.375rem solid #ffffff;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}

.chat__icon span {
  position: relative;
  display: inline-block;
  width: 0.625rem;
  height: 0.0625rem;
  background: var(--black-olive);
}

.chat__icon span:not(:first-child) {
  margin-top: .1875rem;
}

@media (max-width: 500px) {
  .chat-popup {
    min-height: 15.625rem;
  }
  .chat-popup__history {
    min-height: 15rem;
  }
}

@media (max-width: 370px) {
  .chat-popup {
    min-height: 12.625rem;
  }
  .chat-popup__history {
    min-height: 12rem;
  }
}

.inner, .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

.visibile {
  visibility: visible;
}

@media (max-width: 830px) {
  .main-nav .hidden {
    display: flex;
  }
  .desktop-only {
    display: none;
  }
  .main-nav {
    overflow-y: scroll;
  }
}

::-webkit-scrollbar {
  position: relative;
  display: block;
  width: 2px;
  background: transparent;
}

::-webkit-scrollbar-track {
  margin: 27.1px 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-vanilla);
}

::-webkit-scrollbar-track-piece:end {
  margin-bottom: 27.1px;
  background: transparent;
}

::-webkit-scrollbar-track-piece:start {
  margin-top: 27.1px;
  background: transparent;
}

@media screen and (max-width: 440px) {
  h2, h3 {
    font-size: 50px;
    line-height: normal;
  }
}

.footer {
  position: relative;
  z-index: 0;
  clear: both;
  width: 100%;
  background: #000000;
}

.footer-nav {
  display: flex;
  max-width: var(--content);
  margin: 0 auto;
}

.footer-nav__list {
  display: flex;
  width: 100%;
  margin: 20px auto 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-nav__item {
  min-width: 240px;
  height: 62px;
  margin: 4px 10px;
}

.footer-nav__link {
  font-family: var(--contentFont);
  font-size: 14px;
  display: inline-flex;
  width: 100%;
  width: 100%;
  height: 100%;
  transition: 0.1s color ease-in-out;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.footer-nav__link:hover {
  color: var(--dark-vanilla);
}

.footer-nav .active {
  pointer-events: none;
  color: var(--dark-vanilla);
}

.counter {
  display: flex;
}

.counter > * {
  margin: 0 2px;
}

.uk-slider {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
}

.uk-position-relative {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .uk-position-relative {
    width: 100%;
  }
}

.uk-slider-container {
  width: 100%;
}

.uk-hide {
  position: absolute;
  display: flex;
  align-items: center;
}

.section {
  position: relative;
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
}

.section__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 78px 32px 28px;
}

.section__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__heading > * {
  margin: 10px 0 20px;
  text-align: center;
}

.section__body {
  width: 100%;
  margin: 20px auto 40px;
}

.section__footer {
  width: 100%;
  margin: 20px auto 0;
  text-align: center;
}

@media (max-width: 640px) {
  .section__content {
    padding: 39px 16px 14px;
  }
}

@media (max-width: 370px) {
  .not-iphone-se {
    display: none;
  }
}
