@import "../../assets/styles/main.css";

main > * {
  width: 100%;
  max-width: var(--max);
  margin: 0 auto;
  padding: 60px 22px 0;
  color: var(--outer-space);
}

.breadcrumb {
  max-width: var(--content);
  margin: 1.8rem auto;
}

.breadcrumb__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  margin: 0.25rem 1rem 0 0;
  align-items: center;
}

.breadcrumb__item > * {
  margin: 0 0.5rem 0 0;
}

.breadcrumb__icon.material-icons {
  font-size: 1rem;
  color: var(--outer-space);
}

.breadcrumb__link {
  font: normal 0.625rem/12px var(--contentFont);
  letter-spacing: 0.1em;
  color: var(--outer-space);
}

.breadcrumb__link:hover {
  color: var(--dark-vanilla);
}

.breadcrumb__item:last-child,
.isDisabled {
  opacity: 0.5;
}

.breadcrumb__item:last-child > a,
.isDisabled > a {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .breadcrumbs {
    padding: 0 2%;
  }
}

/**/

.start-screen {
  padding: 4.875rem 22px 0;
  width: 100%;
  height: 456px;
  background-color: #cccccc;
  background-image: url(../../assets/images/business-start-screen.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.greeting__content {
  display: flex;
  flex-direction: column;
  max-width: 953px;
  min-height: 368px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.greeting__heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.underline {
  display: block;
  width: 197px;
  height: 3px;
  margin: 0 auto;
  background: var(--white-chocolate);
}

.greeting__heading * {
  margin: 0 auto 40px ;
}

.greeting__text {
  width: 630px;
  margin: 40px auto;
}

.greeting__paragraph {
  font-family: var(--contentFont);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.025em;
  text-transform: none;
  color: var(--outer-space);
}

@media screen and (max-width: 700px) {
  .greeting__text {
    width: 100%;
  }
}

.benefits__content {
  max-width: var(--content);
  margin: 0 auto 78px;
}

.benefits__heading {
  text-align: center;
}

.benefits__heading * {
  margin: 0 auto 60px;
}

.list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.list__item {
  display: flex;
  flex-direction: column;
  width: 279px;
  min-height: 320px;
  margin: 50px;
  justify-content: space-around;
  align-items: center;
}

.list__item * {
  margin: 10px 0;
}

.item__image {
  width: 217px;
  height: 217px;
  border-radius: 50%;
  background: #eeeeee;
}

.item__name {
  text-align: center;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 1062px) {
  .list {
    justify-content: space-around;
  }
}

.cookie-table {
  width: 100%;
  height: 456px;
  background-color: #cccccc;
  background-image: url(../../assets/images/cookie-table.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.print__content {
  max-width: 1002px;
  min-height: 600px;
  margin: 0 auto;
}

.print__heading > * {
  margin: 30px auto;
}

.print__title {
  text-align: center;
}

.print__heading h3 {
  text-align: center;
  color: var(--pastel-pink);
}

.print .advantages {
  max-width: 500px;
  margin: 100px auto 40px;
  list-style: none;
}

.advantages__item {
  margin: 30px 0;
  text-align: center;
}

.print__variants {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.print__variant {
  margin: 16px auto;
  max-width: 400px;
}

.print__variant .h5 {
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.025em;
}

.print__variant p {
  margin: 25px 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .print__variant,
  .print .advantages {
    width: 100%;
    max-width: 100%;
  }
  .print__variant br {
    display: none;
  }
  .print .advantages {
    margin: 50px auto 20px;
  }
}

.economic-indicator__content {
  max-width: 1002px;
  min-height: 600px;
  margin: 48px auto 48px;
}

.economic-indicator__heading > * {
  margin: 30px auto;
}

.economic-indicator__heading h4 {
  font-size: 73px;
  line-height: 73px;
  text-align: center;
}

.procent-card {
  width: 279px;
  min-height: 300px;
  margin: 0 20px;
}

.procent-card > div {
  margin: 30px 0;
}

.procent-card__top h2 {
  font-size: 94px;
  line-height: 94px;
  text-align: center;
  color: var(--pastel-pink);
}

.procent-card__bottom h5 {
  font-weight: bold;
  text-align: center;
}

.procent-card__bottom p {
  text-align: center;
}

.economic-indicator--procent-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.proposal__content {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1062px;
  margin: 0 auto 78px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.proposal__title {
  line-height: 51px;
  margin: 10px 0 0;
}

.proposal__image img {
  width: 100%;
  margin: 0 auto;
}

.proposal__content > div {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.proposal .advantages {
  max-width: 500px;
  margin: 20px auto;
  list-style: none;
}

.proposal .advantages__item {
  margin: 45px 0;
  text-align: left;
}

.proposal .proposal--advantages h3 {
  font-size: 45px;
  letter-spacing: 0.025em;
}

.block__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.block__heading h3 {
  text-align: center;
  color: var(--pastel-pink);
}

.ordered-list {
  display: flex;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ordered-list__item {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.ordered-list p {
  text-align: center;
  margin: 20px auto;
}

.block img {
  width: 100%;
  margin: 50px 0;
  align-self: center;
}

.benefits-2__content {
  max-width: var(--content);
  margin: 0 auto;
}

.benefits-2__heading {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.benefits-2__heading * {
  margin: 30px 0;
}

.benefits-2__title {
  font-family: var(--titleFont);
  font-size: 73px;
  line-height: 73px;
  color: var(--pastel-pink);
}

.economic-indicator__heading {
  text-align: center;
}

.economic-indicator__content_2 {
  max-width: var(--content);
  min-height: 600px;
  margin: 48px auto 48px;
}

@media (max-width: 500px) {
  .economic-indicator__title {
    font-size: 40px;
  }
}

.contact-form {
  padding: 78px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark-vanilla);
  color: #ffffff;
}

.contact-form__title {
  color: #ffffff;
}

.fields {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: transparent;
  color: #ffffff;
}

.field {
  width: auto;
  display: flex;
  flex-direction: column;
  min-width: 324px;
}

.field__input,
.field__textarea {
  height: 65px;
  border: 1px solid #ffffff;
  outline-color: #ffffff;
  font: 16px/25px var(--contentFont);
  padding: 5px 30px;
  background: transparent;
  color: #ffffff;
}

.field__textarea {
  width: 100%;
  max-width: 700px;
  height: 200px;
}

.field__label {
  margin: 26px 30px 15px;
}

.contact-form_button_submit {
  margin: 35px 0;
  color: #ffffff;
  border-color: #ffffff;
}

@media (max-width: 760px) {
  .field {
    width: 90%;
    margin: 0 auto;
  }
  .field__label {
    margin: 26px 0 15px;
  }
  .field,
  .field_short {
    min-width: 90%;
  }
}
