@import '../../assets/styles/main.css';

/** { 
  border: var(--border);
}*/


.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: var(--max);
}

.brand-container {
  position: relative;
  max-width: 540px;
  max-height: 320px;
}

.brand-name {
  width: 100%;
}

.brand-tagline {
  font-family: var(--contentFont);
  font-size: 1.5625em;
  position: absolute;
  bottom: 0;
  left: 15%;
  letter-spacing: .2em;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .5);
}

#mainMenu {
  float: right;
  width: 100%;
  height: 0;
}

#menuToggle {
  position: relative;
  background: transparent;
}

#mainMenu input {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 78px;
  height: 78px;
  cursor: pointer;
  opacity: 0;
}

#mainMenu #btnToggle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 78px;
  height: 78px;
  -webkit-user-select: none;
  user-select: none;
  background: var(--dark-l);
  justify-content: center;
  align-items: center;
}

#mainMenu #btnToggle span {
  display: block;
  width: 32px;
  height: 2px;
  margin: 4px;
  transition: var(--humburger);
  background: #fff;
}

#mainMenu input:checked~#btnToggle span:first-child {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}

#mainMenu input:checked~#btnToggle span:nth-child(2) {
  transform: scale(.2, .2);
  opacity: 0;
}

#mainMenu input:checked~#btnToggle span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
  opacity: 1;
}

#mainMenu .nav-menu {
  width: 100%;
  height: 78px;
  transition: var(--opacity);
  background: transparent;
}

#mainMenu input:checked~.nav-menu {
  height: 100vh;
}

#mainMenu input:checked~.nav-menu .navbar {
  visibility: visible;
  opacity: 1;
}

#mainMenu input:checked~.nav-menu .business-offer {
  visibility: visible;
  opacity: 1;
}

.nav-menu .navbar {
  position: absolute;
  top: 78px;
  right: 0;
  visibility: hidden;
  overflow-y: scroll;
  width: 234px;
  height: calc(100% - 78px);
  transition: var(--opacity);
  opacity: 0;
  background: var(--dark-l);
}

.nav-menu .business-offer {
  font-family: var(--contentFont);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  width: 172px;
  height: 78px;
  text-transform: uppercase;
  opacity: 0;
  color: var(--black-olive);
  background: #fff;
  background: var(--dark-vanilla);
}

.business-offer a {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.business-offer img {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  transform: rotate(225deg);
}

.navbar nav ul li {
  display: flex;
  width: 100%;
  min-height: 78px;
  padding: 0 60px;
  align-items: center;
}

.navbar nav ul li a {
  font-family: var(--contentFont);
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.navbar ul li:nth-child(n+7) {
  display: none;
}

.nav-menu .topbar {
  display: flex;
  width: calc(100% - 78px);
  height: 78px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  justify-content: space-between;
}

.topbar .topnav {
  display: flex;
}

.topbar .like-btn {
  display: flex;
  width: 78px;
  min-width: 78px;
  height: 78px;
  background: var(--dark-vanilla);
  justify-content: center;
  align-items: center;
}

.topnav nav {
  display: flex;
  float: right;
  height: 78px;
  background: #fff;
  justify-content: flex-end;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.topnav nav>a {
  display: flex;
  width: 196px;
  min-height: 78px;
  padding: 0 30px;
  align-items: center;
}

.topbar a {
  font-family: var(--contentFont);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--dark-l);
}

.topbar .back-to-home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.topbar .logo {
  display: flex;
  min-width: 151px;
  height: 78px;
  justify-content: center;
  align-items: center;
}


/* Cart block */

.nav-menu .cart-container {
  position: absolute;
  z-index: 1;
  top: 78px;
  right: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 400px;
  height: 604px;
  padding: 14.5px 0;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  align-items: center;
}

.count-of-cart {
  font-size: 10px;
  position: absolute;
  margin: 7px 0 0 1px;
  text-align: center;
  white-space: 0;
  color: #fff;
  border: none;
}

.cart-btn:hover~.cart-container {
  visibility: visible;
  opacity: 1;
}

.cart-item {
  display: flex;
  width: 308.5px;
  min-height: 133px;
}

.cart-item-image {
  display: flex;
  width: 89px;
  min-height: 133px;
  margin: 7.25px;
  justify-content: center;
  align-items: center;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 133px;
  margin: 7.25px;
  justify-content: flex-end;
}

.cart-item-heading h4 {
  font-family: var(--titleFont);
  font-size: 30px;
  color: var(--dark-xs);
}

.cart-item-description {
  margin: 13.5px 13.5px 0;
}

.cart-container .like-btn {
  position: absolute;
  bottom: 28px;
  width: 285px;
  height: 51px;
  letter-spacing: .2em;
  color: #fff;
  border: 1px solid #d6b5ac;
  background-color: #d6b5ac;
}

.cart-item-description ul li {
  font-family: var(--contentFont);
  font-size: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--dark-xs);
}

.cart-item-description ul li span {
  padding-left: 5px;
}

.cart-container .remainder {
  font-family: var(--contentFont);
  font-size: 16px;
  margin: 28.5px;
  text-decoration: underline;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--dark-xs);
}

.visibile {
  visibility: visible !important;
  opacity: 1 !important;
}


/* Imprint block */

.imprint-container {
  position: absolute;
  z-index: 4;
  top: 78px;
  right: 0;
  display: flex;
  visibility: hidden;
  width: 626px;
  height: 313px;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  justify-content: space-between;
}

.imprint-container>div {
  width: 50%;
}

.imprint-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imprint-logo {
  position: absolute;
  width: 78px;
  height: 78px;
}

.imprint-container>span {
  width: 2px;
  height: 80%;
  background: var(--dark-vanilla);
  align-self: center;
}

.topnav nav a:nth-child(3):hover~.imprint-container {
  visibility: visible;
  opacity: 1;
}

.imprint-content {
  font-family: var(--contentFont);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 44px;
  letter-spacing: .1em;
  color: var(--dark-xs);
  justify-content: center;
}

.imprint-content p {
  font-size: 14px;
}

.imprint-content ul {
  margin-left: 40px;
}

.imprint-content ul~a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.imprint-content ul~a span {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--dark-vanilla);
}

.imprint-content>* {
  display: block;
  margin: 14px;
}

.imprint-content ul li {
  display: flex;
  height: 34px;
}

.imprint-content ul li a {
  width: 100%;
}

.imprint-content li::before {
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  content: '\2022';
  color: #d6b5ac;
}

/* header @media */

@media screen and (max-width: 994px) {
  .topnav nav>a:nth-child(1) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(4) {
    display: flex;
  }
}

@media screen and (max-width: 798px) {
  .topnav nav>a:nth-child(2) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(3) {
    display: flex;
  }
}

@media screen and (max-width: 602px) {
  .topnav nav>a:nth-child(3) {
    display: none;
  }
  .navbar nav ul li:nth-last-child(2) {
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  .topbar .logo {
    width: 100%;
    min-width: 78px;
  }
  .nav-menu .business-offer {
    display: none;
  }
  .nav-menu .navbar {
    width: 100%;
  }
  .navbar nav ul li {
    text-align: center;
    align-items: center;
  }
  .navbar ul li {
    padding: auto;
    justify-content: center;
  }
  .navbar nav ul li:nth-last-child(1) {
    display: flex;
  }
}

.chat-container {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  max-width: var(--max);
}

.chat-window {
  position: absolute;
  z-index: 0;
  right: 20px;
  bottom: 77px;
  visibility: hidden;
  width: 279px;
  height: 436px;
  transition: var(--opacity);
  opacity: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.chat-window:after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -18px;
  width: 0;
  height: 0;
  content: '';
  border-right: 28px solid #fff;
  border-bottom: 18px solid transparent;
  border-left: 18px solid transparent;
}

.chat-heading {
  display: flex;
  width: 279px;
  height: 51px;
  padding: 21px;
  background: var(--dark-vanilla);
  align-items: center;
  justify-content: space-between;
}

.chat-heading h5 {
  font-size: 12px;
  letter-spacing: .1em;
}

.chat-logo {
  position: relative;
  top: -17px;
  display: block;
  width: 57px;
  height: 57px;
  padding: 4px;
  border-radius: 100%;
  background: #fff;
}

.chat-history {
  overflow-y: scroll;
  height: 70%;
  padding: 21px;
}

.chat-message {
  padding: 14px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container textarea {
  font-family: var(--contentFont);
  width: 222px;
  height: 30px;
  padding: 5px;
  border: 1px solid #707070;
  outline: none;
}

.form-container textarea::placeholder {
  font-family: var(--contentFont);
  font-size: 12px;
}

.send-btn {
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: var(--dark-vanilla);
  justify-content: center;
  align-items: center;
}

.chat-button,
.chat-container input {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: var(--dark-l);
  justify-content: center;
  align-items: center;
}

.chat-container input {
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.chat-container input:checked~.chat-window {
  z-index: 999;
  visibility: visible;
  opacity: 1;
}

.chat-icon {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 14px;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.chat-icon:after {
  position: absolute;
  z-index: 1;
  top: 28px;
  right: 12px;
  width: 0;
  height: 0;
  content: '';
  border-right: 6px solid #fff;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}

.chat-icon span {
  position: relative;
  width: 10px;
  height: 1px;
  background: var(--dark-l);
}

.chat-icon span:not(:first-child) {
  margin-top: 3px;
}

main {
  position: relative;
  top: 78px;
}

.breadcrumbs {
  font-family: var(--contentFont);
  font-size: 13px;
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 50px;
  text-transform: uppercase;
  color: var(--dark-xs);
  align-items: center;
}

.breadcrumbs span {
  color: #000;
}

.breadcrumbs>* {
  margin: 10px 5px;
}


/**/

.configurator {
  width: 100%;
  min-height: calc(100vh - 78px);
  padding: 27px 0;
}

.configurator__content {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-width: 1292px;
  min-height: 368px;
  margin: 0 auto;
  background-color: var(--limen);
  background-image: url(../../assets/images/conf-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.configurator__heading {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.configurator__title {
  font-family: var(--titleFont);
  font-size: 94px;
  line-height: 90px;
  color: #000;
}

.configurator__container-fx {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
}

.configurator__container-fx>* {
  margin: 40px;
}

.choosing-flavor {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  align-items: flex-start;
}

.choosing-flavor__heading {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 540px;
  min-height: 280px;
  align-items: flex-start;
  justify-content: space-around;
}

.choosing-flavor__heading h4 {
  font-weight: 400;
  letter-spacing: .1em;
}

.choosing-flavor__heading h4,
.choosing-flavor__heading p {
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

.btn-rounded {
  font: normal 15px/19pt var(--contentFont);
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: block;
  display: flex;
  width: 102px;
  height: 102px;
  transform: rotate(10deg);
  text-align: center;
  letter-spacing: .2em;
  color: #fff;
  border-radius: 50%;
  background: #c99489;
  justify-content: center;
  align-items: center;
}


/*progress bar*/

.progress-block {
  margin: 40px 10px 0;
}

.steps-bar {
  z-index: 0;
  display: flex;
  width: 600px;
  min-height: 76px;
  counter-reset: step;
  border-top: 1px solid #111;
  justify-content: space-around;
}

.step {
  position: relative;
  z-index: 1;
  top: -19px;
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.step>* {
  margin: 0 0 10px;
}

.step-count {
  font: normal 16px/14pt var(--contentFont);
  display: block;
  width: 38px;
  height: 38px;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: var(--limen);
}

.step-count::before {
  content: counter(step);
  counter-increment: step;
}

.step-count.active {
  color: #fff;
  background: #000;
}

.set-counter {
  display: none;
  text-align: center;
}

.step-name {
  font: normal 13px/14pt var(--contentFont);
  display: block;
  width: 100%;
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #484848;
}


/* Select Box Size  6szt 12szt 18szt */

label p {
  font-size: 22px;
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

input {
  font: normal 28px/18pt var(--contentFont);
  width: 48px;
  padding: 0 5px 0 10px;
  border: none;
  outline: none;
  background: transparent;
}

.counter {
  font: normal 28px/18pt var(--contentFont);
  border-bottom: 2px solid gray;
}

.counter button {
  font: normal 28px/18pt var(--contentFont);
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.controls {
  display: flex;
  flex-direction: column;
}


/* Scrolling Box */

.scrolling-box.container {
  position: relative;
  width: 540px;
  height: 530px;
  /*border: var(--border);*/
}

.scrolling-box {
  position: relative;
  width: calc(100% - 10px);
}

.scrolling-box__content {
  display: block;
  overflow-y: scroll;
  width: 100%;
  max-height: 530px;
  text-align: center;
  scrollbar-width: none;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-group-item {
  font: normal 12px/11pt var(--contentFont);
  color: #444;
}

.flavor-item {
  margin: 5px 0 25px;
}

.list-group-item.flavor-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 104px;
  min-height: 104px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.list-group-item.print-item {
  width: 134px;
  min-height: 134px;
}

.list-group-item>* {
  margin: 2px;
}

.print-item {
  margin: 0 20px 20px;
}

.print-image-container,
.print-image-bg {
  width: 100%;
  height: 100%;
}

.print-image {
  width: 60%;
}

.item-image {
  position: relative;
  display: flex;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: #efefef;
  justify-content: center;
  align-items: center;
}

.item-image img {
  max-width: 100%;
  max-height: 100%;
}

.item-name {
  font: normal 12px var(--contentFont);
  word-wrap: break-word;
  word-break: break-word;
}

.marker {
  font: normal 16px/14pt var(--contentFont);
  position: absolute;
  z-index: 1;
  top: -4px;
  right: -4px;
  display: none;
  min-width: 26px;
  height: 26px;
  color: #f0beae;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  justify-content: center;
  align-items: center;
}


/* scrollbar */

.scrolling-box__content::-webkit-scrollbar {
  display: block;
  width: 3px;
  background: transparent;
}

.scrolling-box__content::-webkit-scrollbar-track {
  background: transparent;
}

.scrolling-box__content::-webkit-scrollbar-thumb {
  background-color: #000;
}

.scrolling-box__content::-webkit-scrollbar-track-piece:end {
  margin-bottom: 50px;
  background: transparent;
}

.scrolling-box__content::-webkit-scrollbar-track-piece:start {
  margin-top: 50px;
  background: transparent;
}

.scrollbar-arrow {
  font-weight: lighter;
  position: absolute;
  right: -10px;
  color: #000;
}

.scrollbar-arrow.inactive {
  color: #a8a8a8;
}

.scrollbar-arrow.up {
  top: 0;
}

.scrollbar-arrow.down {
  bottom: 0;
}

.scrolling-box::after {
  position: absolute;
  z-index: -1;
  top: 50px;
  right: 1px;
  width: 1px;
  height: calc(100% - 100px);
  content: '';
  background: #707070;
}

.print-image-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #efefef;
  justify-content: center;
  align-items: center;
}

.print-image-bg {
  width: 100%;
  height: 100%;
}

.print-image {
  position: absolute;
  z-index: 1;
  width: 92px;
  height: 92px;
}

.btn {
  display: flex;
  height: 62px;
  margin: 20px auto;
  padding: 0 32px;
  letter-spacing: .2em;
  color: #000;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 400px;
  user-select: none;
  background-image: url(../../assets/images/box-m.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}

.label {
  font-size: 51px;
}

label p input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}


/* Create a custom radio button */

.checkmark {
  position: absolute;
  left: 8px;
  width: 18px;
  height: 18px;
  padding: 2px;
  border: 1px solid #444;
  border-radius: 50%;
  background-color: #fff;
}

label p:hover input~.checkmark {
  background-color: #eee;
}

label p input:checked~.checkmark {
  background-color: #fff;
}

.checkmark:after {
  display: none;
  content: '';
}

label p input:checked~.checkmark:after {
  display: block;
}

label p .checkmark:after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
}

.cookie-box-container {
  display: flex;
  width: 100%;
  height: 560px;
  justify-content: center;
  align-items: flex-start;
}

.cookie-box {
  position: relative;
  width: 280px;
  box-shadow: 0 5px 80px 24px #222;
}

.cookie-box__lid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  border-top: 2px solid rgba(255, 255, 255, .2);
  border-bottom: 2px solid rgba(0, 0, 0, .16);
  background: #fff;
  background-image: url(../../assets/images/lid.png);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
}

.cookie-box__head {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 120px;
  transition: .5s background ease;
  border-top: 2px solid rgba(0, 0, 0, .26);
  background: rgba(200, 146, 135, 255);
  clip-path: polygon(2% 0, 98% 0, 94% 100%, 6% 100%);
}

.cookie-box__body {
  position: absolute;
  top: 189px;
  width: 100%;
  height: 336px;
  border: 1px solid rgba(0, 0, 0, .16);
  background: #c58c82;
  background-image: url(../../assets/images/inbox_optimized.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 99%;
  clip-path: polygon(6% 0, 94% 0, 94% 100%, 6% 100%);
}

.cookie-box__shadow {
  position: absolute;
  top: 196px;
  left: 23px;
  width: 235px;
  height: 326px;
  background: transparent;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, .7);
}

.box-empty {
  background: radial-gradient(#ce958b, #9e655b);
   box-shadow: 0 0 20px 5px rgba(255, 255, 255, .7);
}

/***/

.footer {
  width: 100%;
  min-height: 78px;
  margin-top: 78px;
  background: var(--dark-l);
}

@media screen and (max-width: 1023px) {
  .configurator__container-fx {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box {
    order: 1;
  }
  .choosing-flavor {
    order: 2;
  }
}

@media screen and (max-width: 560px) {
  .select-box {
    flex-wrap: wrap;
  }
  .steps-bar {
    display: none;
  }
  .set-counter {
    display: block;
  }
  .configurator__heading {
    max-width: 316px;
    padding: 10px;
  }
  .configurator__title {
    font-size: 50px;
    line-height: 55px;
  }
  .configurator__content {
    margin: 0 auto;
  }
  .scrolling-box.container {
    width: 100%;
  }
  .marker {
    display: flex;
  }
  .print-variant .marker {
    font-size: 25px;
    z-index: 3;
    width: 41px;
    height: 41px;
  }
  .cookie-box-container {
    width: 100%;
    height: 270px;
  }
  .cookie-box {
    position: relative;
    width: 140px;
    box-shadow: 0 5px 80px 24px #222;
  }
  .cookie-box__lid {
    position: absolute;
    top: 0;
    width: 140px;
    height: 35px;
    border-top: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(0, 0, 0, .16);
    background: #fff;
    background-image: url(../../assets/images/lid.png);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
  }
  .cookie-box__head {
    position: absolute;
    top: 35px;
    width: 140px;
    height: 60px;
    transition: .5s background ease;
    border-top: 2px solid rgba(0, 0, 0, .26);
    background: rgba(200, 146, 135, 255);
  }
  .cookie-box__body {
    position: absolute;
    top: 94.5px;
    width: 140px;
    height: 168px;
  }
  .cookie-box__shadow {
    top: 99px;
    left: 10px;
    width: 119px;
    height: 162px;
  }
  .btn-rounded,
  .configurator__title {
    display: none;
  }
  .btn {
    font-size: 12px;
    padding: 0 16px;
  }
  .btn-wrapper {
    display: flex;
    width: 100%;
    text-align: center;
  }
  .choosing-flavor__heading {
    width: 100%;
  }
  .breadcrumbs {
    padding: 0 2%;
}
