@import '../../assets/styles/main.css';

.main {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 4.875rem 0 0;
}

.breadcrumb {
  width: 100%;
  max-width: calc(var(--content) - 50px);
  margin: 1.8rem auto;
}

.breadcrumb__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  margin: .25rem .5rem;
  align-items: center;
}

.breadcrumb__item>* {
  margin: 0 .25rem;
}

.breadcrumb__icon.material-icons {
  font-size: 1rem;
  color: var(--outer-space);
}

.breadcrumb__link {
  font: normal .625rem/12px var(--contentFont);
  letter-spacing: .1em;
  color: var(--outer-space);
}

.breadcrumb__link:hover {
  color: var(--dark-vanilla);
}

.blog {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
}

.blog__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.blog__heading>* {
  margin: 24px auto;
}

.blog__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 25px;
}

.articles>* {
  margin: 25px;
}

.article {
  max-width: 364px;
  height: 87.8vw;
  max-height: 878px;
  min-height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article__figure {
  height: 50vw;
  min-height: 287px;
  max-height: 547px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article__figure img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.article__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.article__body>* {
  padding: 5px;
}

.article__title {
  text-align: center;
}

.article__copy {
  text-align: center;
  font-size: 14px;
}

.blog__footer {
  width: 100%;
  height: 20vw;
  max-height: 200px;
  min-height: 100px;
  padding: 50px 50px 20px;
  display: flex;
  align-items: flex-end;
}

.blog__pagination {
  width: 100%;
  max-width: calc(var(--content) - 9.375rem);
  margin: 0 auto;
}

.pagination * {
  border: none;
}

.pagination__list {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 14px;
  align-items: flex-start;
}

.pagination__item {
  display: flex;
  min-width: 40px;
  padding: 0 8px;
  border-left: 2px solid var(--outer-space);
  justify-content: center;
}

.pagination__item:first-child {
  border-left: none;
}

.pagination__link {
  font: normal 16px/14px var(--contentFont);
  color: var(--outer-space);
}

.pagination__link:hover {
  color: var(--dark-vanilla);
}

.pagination__link .material-icons {
  font-size: 16px;
  line-height: 14px;
}

.pagination__link_disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
}

@media (max-width: 700px) {
  .blog__footer {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .blog__body {
    padding: 0;
  }
  .article {
    max-width: 308px;
    height: 87.8vw;
  }
  .article__title {
    font-size: 30px;
    line-height: 35px;
  }
  .article__copy {
    font-size: 12px;
    line-height: 18px;
  }
  .article:nth-child(odd) {
    display: none;
  }
}

.box-composing {
  width: 100%;
  max-width: var(--max);
  margin-top: 8.45rem;
  background: #ffece6;
  background-image: url(../../assets/images/mask-group.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-size: 1.1rem;
}

.box-composing__container>* {
  width: 50%;
  min-width: 320px;
  margin: 0 auto;
}

.box-composing__container {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 78px 47px;
  display: flex;
  flex-direction: row-reverse;
}

.box-composing__cookie-box {
  margin: -5rem auto 12rem;
  width: 10rem;
  height: 19.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-image: url('../../assets/images/box_2x.png');
  border-image-slice: 1 fill;
  border-image-outset: 37.5rem;
}


/*viewports for cookie box */

@media (max-width: 1100px) {
  .box-composing__cookie-box {
    border-image-outset: 500px;
  }
  .box-composing {
    margin-top: 195.2px;
  }
}

@media (max-width: 900px) {
  .box-composing__cookie-box {
    border-image-outset: 400px;
  }
  .box-composing {
    margin-top: 145.2px;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .box-composing__cookie-box {
    border-image-outset: 350px;
  }
  .box-composing {
    margin-top: 120.2px;
  }
}

@media (max-width: 700px) {
  .box-composing__cookie-box {
    border-image-outset: 300px;
  }
  .box-composing {
    margin-top: 100.2px;
  }
}

@media (max-width: 600px) {
  .box-composing__cookie-box {
    border-image-outset: 250px;
  }
  .box-composing {
    /*margin-top: 200.2px;*/
  }
}

@media (max-width: 500px) {
  .box-composing__cookie-box {
    margin: -10rem auto 8rem;
    border-image-outset: 200px;
  }
  .box-composing {
    margin-top: 150.2px;
  }
}

.box-composing__heading {
  max-width: 43.75rem;
}

.box-composing__list {
  max-width: 25rem;
  margin: 4.1875rem 0 0 2.8%;
}

.box-composing__item {
  display: flex;
  margin: 0 0 1.3125rem;
  align-items: flex-start;
}

.box-composing__copy {
  margin: 0.625em 0;
}

.box-composing__point {
  font: 1.125em/1.5625em var(--contentFont);
  display: flex;
  width: 2.75em;
  min-width: 2.75em;
  height: 2.75em;
  margin: 0 2em 0 0;
  border: 0.125em solid var(--black-olive);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.box-composing__footer {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 0 47px 78px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.box-composing__container {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 78px 47px 0;
  display: flex;
  flex-direction: row-reverse;
}

.box-composing__footer>div {
  width: 100%;
}

.box-composing__container>* {
  min-width: 320px;
  margin: 0 auto;
}

.box-composing__footer>div * {
  margin: 1rem 0;
}

.box-composing__actions {
  display: flex;
  justify-content: center;
}

.box-composing__button {
  white-space: nowrap;
  color: #000;
}

.box-composing__footer p {
  font: 1.125em/1.5625em var(--contentFont);
  display: flex;
  max-width: 21.875em;
  padding: 10px 0 0;
  letter-spacing: 0.1em;
  align-items: center;
}

@media (max-width: 700px) {
  .box-composing__container,
  .box-composing__footer {
    flex-wrap: wrap;
  }
  .box-composing__container>*,
  .box-composing__footer>* {
    width: 100%;
    min-width: 240px;
  }
  .box-composing__heading {
    max-width: auto;
  }
  .box-composing__list {
    max-width: auto;
    margin: 4.1875rem 0 0 1.8%;
  }
}

@media (max-width: 490px) {
  .box-composing__list {
    max-width: auto;
    margin: 4.1875rem 0;
  }
  .box-composing__point {
    margin: 0 1em 0 0;
  }
  .box-composing__container,
  .box-composing__footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.start-screen {
  padding: 0.1px;
  width: 100%;
  height: 456px;
  background-image: url(../../assets/images/article.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.blog-article__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-article__header > * {
  margin: 22px;
  text-align: center;
}

.right {
  float: right;
  margin: 25px 5% 25px 5%;
}

.left {
  float: left;
}

.center {
  width: 100%;
}

.blog-article {
  padding: 0 5% 0 10%;
}


.blog-article__body > p {
  margin: 25px 0;
}

