@import '../../assets/styles/main.css';

.main {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 4.875rem 22px 0;
}

.breadcrumb {
  max-width: var(--content);
  margin: 1.8rem auto;
}

.breadcrumb__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  margin: 0.25rem 1rem 0 0;
  align-items: center;
}

.breadcrumb__item > * {
  margin: 0 0.5rem 0 0;
}

.breadcrumb__icon.material-icons {
  font-size: 1rem;
  color: var(--outer-space);
}

.breadcrumb__link {
  font: normal .625rem/12px var(--contentFont);
  letter-spacing: .1em;
  color: var(--outer-space);
}

.breadcrumb__link:hover {
  color: var(--dark-vanilla);
}

.blog {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
}

.blog__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.blog__heading>* {
  margin: 24px auto;
}

.blog__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.articles>* {
  margin: 10px;
}

.article {
  max-width: 364px;
  height: 87.8vw;
  max-height: 878px;
  min-height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article__figure {
  height: 50vw;
  min-height: 287px;
  max-height: 547px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article__figure img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.article__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.article__body>* {
  padding: 5px;
}

.article__title {
  text-align: center;
}

.article__copy {
  text-align: center;
  font-size: 14px;
}

.blog__footer {
  width: 100%;
  height: 20vw;
  max-height: 200px;
  min-height: 100px;
  padding: 50px 50px 20px;
  display: flex;
  align-items: flex-end;
}

.blog__pagination {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
}

@media (max-width: 1010px) {
  .blog__pagination {
    width: auto;
  }
}

.pagination * {
  border: none;
}

.pagination__list {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 14px;
  align-items: flex-start;
}

.pagination__item {
  display: flex;
  min-width: 40px;
  padding: 0 8px;
  border-left: 2px solid var(--outer-space);
  justify-content: center;
}

.pagination__item:first-child {
  border-left: none;
}

.pagination__link {
  font: normal 16px/14px var(--contentFont);
  color: var(--outer-space);
}

.pagination__link:hover {
  color: var(--dark-vanilla);
}

.pagination__link .material-icons {
  font-size: 16px;
  line-height: 14px;
}

.pagination__link_disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
}

@media (max-width: 700px) {
  .blog__footer {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .blog__body {
    padding: 0;
  }
  .article {
    max-width: 308px;
    height: 87.8vw;
  }
  .article__title {
    font-size: 30px;
    line-height: 35px;
  }
  .article__copy {
    font-size: 12px;
    line-height: 18px;
  }
  .article:nth-child(odd) {
    display: none;
  }
}

.box-composing {
  max-width: var(--max);
  margin: 16.7rem auto 0;
  padding: 0 1.375rem;
  background: #ffece6;
  background-image: url(../../assets/images/mask-group-2.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.box-composing__body {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.box-composing__body > div {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.box-composing__body > div:nth-child(1), .box-composing__body > div:nth-child(2) {
  padding: 78px 0 39px;
}

.box-composing__body > div:nth-child(2), .box-composing__body > div:nth-child(4) {
  align-items: flex-start;
}

.box-composing__body > div:nth-child(3), .box-composing__body > div:nth-child(4) {
  padding: 0 0 78px;
}

.box-composing__body > div:nth-child(3) {
  justify-content: flex-end;
}

.box-composing__body > div:nth-child(4) > div {
  width: 100%;
  max-width: 25rem;
}

.box-composing__cookie-box {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 19.5rem;
  margin: -5rem auto 12rem;
  border-image: url('../../assets/images/box_2x.png');
  border-image-slice: 1 fill;
  border-image-outset: 32.5rem;
  justify-content: center;
}

.box-composing__list {
  max-width: 25rem;
  margin: 4.1875rem 0 0 0.9rem;
}

.box-composing__item {
  display: flex;
  margin: 0 0 1.3125rem;
  align-items: flex-start;
}

.box-composing__copy {
  margin: 0.625em 0;
}

.box-composing__body > div:nth-child(4) .box-composing__copy {
  font-size: 18px;
}

.box-composing__point {
  font: 1.125em/1.5625em var(--contentFont);
  display: flex;
  width: 2.75em;
  min-width: 2.75em;
  height: 2.75em;
  margin: 0 2em 0 0;
  border: 0.125em solid var(--black-olive);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.box-composing__button:before {
  content: "stwórz swoją kompozycję";
}

@media (max-width: 370px) {
  .box-composing__button:before {
    content: "stwórz kompozycję";
  }
}

@media (max-width: 1062px) {
  .box-composing__body > div:nth-child(1) {
    order: 1;
  }
  .box-composing__body > div:nth-child(2) {
    order: 2;
  }
  .box-composing__body > div:nth-child(3) {
    order: 4;
  }
  .box-composing__body > div:nth-child(4) {
    order: 3;
  }
  .box-composing__cookie-box {
    transition: 0.3s border-image-outset;
    border-image-outset: 24.5rem;
  }
  .box-composing {
    background-size: 150%;
  }
}

@media (max-width: 610px) {
  .box-composing__body > * {
    width: 100%;
  }
  .box-composing__list {
    margin: 4.1875rem 0 0;
  }
  .box-composing__cookie-box {
    width: 4rem;
    height: 12.5rem;
    border-image-outset: 20.5rem;
  }
  .box-composing {
    transition: 0.2s background;
    background-size: 200%;
  }
  .box-composing__body > div:nth-child(1) {
    margin-top: -50px;
  }
  .box-composing__point {
    margin: 0 1em 0 0;
  }
  .box-composing__body > div:nth-child(1), .box-composing__body > div:nth-child(2) {
    padding: 39px 6% 19px;
  }
  .box-composing__body > div:nth-child(4) {
    padding: 0 6% 19px;
  }
  .box-composing__body > div:nth-child(3) {
    padding: 19px 0 78px;
  }
}

.start-screen {
  width: 100%;
  padding: 4.875rem 5.7% 0;
  height: 456px;
  background-image: url(../../assets/images/article.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.blog-article__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-article__header > * {
  margin: 22px;
  text-align: center;
}

.right {
  float: right;
  margin: 25px 5%;
}

.left {
  float: left;
  margin: 25px 5%;
}

.center {
  width: 100%;
}

.blog-article {
  padding: 0 5% 0 10%;
}

.blog-article__body > p {
  margin: 25px 0;
}

@media (max-width: 762px) {
  .right, .left {
    float: none;
    width: 100%;
    margin: 25px 0;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }
}
