@import "../../assets/styles/main.css";

main {
  position: relative;
  padding: 78px 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumb {
  width: 100%;
  max-width: calc(var(--content) - 78px);
  margin: 1.8rem auto;
  padding: 0 11px;
}

.breadcrumb__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  margin: 0.25rem 0.5rem;
  align-items: center;
}

.breadcrumb__item > * {
  margin: 0 0.25rem;
}

.breadcrumb__icon.material-icons {
  font-size: 1rem;
  color: var(--outer-space);
}

.breadcrumb__link {
  font: normal 0.625rem/12px var(--contentFont);
  letter-spacing: 0.1em;
  color: var(--outer-space);
}

.breadcrumb__link:hover {
  color: var(--dark-vanilla);
}

.breadcrumb__item:last-child,
.isDisabled {
  opacity: 0.5;
}

.breadcrumb__item:last-child > a,
.isDisabled > a {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}

.our-flavors {
  /*position: relative;*/
  z-index: 4;
  display: flex;
  width: 100%;
  min-height: 900px;
  justify-content: space-between;
  align-items: flex-start;
}

.our-flavors__container {
  display: flex;
  justify-content: center;
}

.our-flavors__container > div {
  display: flex;
  flex-direction: column;
  max-width: 522px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.our-flavors__image {
  position: relative;
}

.our-flavors__content {
  position: relative;
  align-self: flex-end;
}

.our-flavors__heading {
  padding: 0 32px;
  color: #b6c5a8;
  align-self: flex-start;
}

.our-flavors__heading h3 {
  font-weight: lighter;
  color: #b6c5a8;
}

.our-flavors__paragraph {
  max-width: 522px;
}

.our-flavors__paragraph p {
  font-size: 16px;
  line-height: 25px;
  margin: 25px 0 0;
  letter-spacing: 0.1em;
}

.our-flavors__button {
  font-family: var(--contentFont);
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 243px;
  height: 51px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #b6c5a8;
  background: #b6c5a8;
}

.our-flavors__button_arow {
  display: flex;
  width: 80px;
  height: calc(100vh - 78px);
  min-height: 490px;
  max-height: 685px;
  color: #b6c5a8;
  z-index: 99;
  justify-content: center;
  align-items: center;
}

.our-flavors__button_arow span {
  color: #b6c5a8;
  font-size: 40px;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 890px;
  height: 800px;
  justify-content: flex-end;
}

.number span {
  font-family: var(--titleFont);
  font-size: 800px;
  color: #b6c5a8;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b6c5a8;
}

@media screen and (max-width: 1210px) {
  .our-flavors__container {
    flex-wrap: wrap;
  }
  .number {
    top: auto;
    right: -40px;
    bottom: -40px;
    left: auto;
    width: 300px;
    height: 290px;
  }
  .number span {
    font-size: 300px;
  }
}

@media screen and (max-width: 600px) {
  .our-flavors__image img {
    width: 100%;
    height: auto;
  }
  .our-flavors__heading h3 {
    font-size: 53px;
  }
  .our-flavors__heading {
    max-width: 70%;
    padding: 0;
  }
  .breadcrumbs {
    padding: 0 2%;
  }

  .our-flavors__button {
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 412px) {
  .number {
    top: auto;
    right: -20px;
    bottom: -20px;
    left: auto;
    width: 200px;
    height: 190px;
  }
  .number span {
    font-size: 200px;
  }
  .our-flavors__button_arow {
    display: none;
  }
}
