<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Miolli Components</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="mainMenu">
    <div id="menuToggle">
      <input type="checkbox">
      <div id="btnToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-menu">
        <div class="topbar">
          <div class="logo">
            <a href="">logo</a>
          </div>
          <div class="topnav">
             <nav>
                <a href="">6</a>
                <a href="">7</a>
                <a href="">8  <span> &#8595;</span></a>
                <div class="imprint-container">
                  <div class="imprint-content">
                    <a href="">All</a>
                    <p>Popular now:</p>
                    <ul>
                      <li><a href="">Mom day</a></li>
                      <li><a href="">Dad day</a></li>
                      <li><a href="">Child day</a></li>
                    </ul>
                    <a href="">
                      <span>Dedicated print</span>
                      <span> &#8594;</span>
                    </a>
                  </div>
                  <span class="vertical-line"></span>
                  <div class="imprint-image">image
                    <div class="imprint-logo">logo</div>
                  </div>
                </div>
              </ul>
            </nav>
            <a class="like-btn" href="">User</a>
            <a class="like-btn cart-btn" href="">Cart
              <span class="count-of-cart">0</span>
            </a>
            <div class="cart-container">
              <div class="cart-item">
                <div class="cart-item-image">
                  image
                </div>
                <div class="cart-item-content">
                  <div class="cart-item-heading">
                    <h4>Item name</h4>
                  </div>
                  <div class="cart-item-description">
                    <ul>
                      <li>quantity:<span class="quantity">2</span></li>
                      <li>price:<span class="price">27</span></li>
                      <li>cost:<span class="cost">54</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cart-item">
                <div class="cart-item-image">
                  image
                </div>
                <div class="cart-item-content">
                  <div class="cart-item-heading">
                    <h4>Item name</h4>
                  </div>
                  <div class="cart-item-description">
                    <ul>
                      <li>quantity:<span class="quantity">2</span></li>
                      <li>price:<span class="price">27</span></li>
                      <li>cost:<span class="cost">54</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cart-item">
                <div class="cart-item-image">
                  image
                </div>
                <div class="cart-item-content">
                  <div class="cart-item-heading">
                    <h4>Item name</h4>
                  </div>
                  <div class="cart-item-description">
                    <ul>
                      <li>quantity:<span class="quantity">2</span></li>
                      <li>price:<span class="price">27</span></li>
                      <li>cost:<span class="cost">54</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <p>and <span class="rest">2</span> more ...</p>
              <a href="" class="like-btn">Go to Cart</a>
            </div>
          </div>
        </div>
        <div class="navbar">
          <nav>
            <ul>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">5</a></li>
              <li><a href="">6</a></li>
              <li><a href="">7</a></li>
              <li><a href="">8</a></li>
              <li><a href="">Business offer</a></li>
            </ul>
          </nav>
        </div>
        <div class="business-offer">Business offer</div>
      </div>
    </div>
  </div>
  <script>
    const cartContainer = document.querySelector('.cart-container');
    const imprintContainer = document.querySelector('.imprint-container');
    const showContainer = (containerName) => containerName.classList.toggle('visibile');
    cartContainer.addEventListener('mouseover', () => showContainer(cartContainer));
    cartContainer.addEventListener('mouseout', () => showContainer(cartContainer));
    imprintContainer.addEventListener('mouseover', () => showContainer(imprintContainer));
    imprintContainer.addEventListener('mouseout',() => showContainer(imprintContainer));
  </script>
</body>
</html>
